.searchwin {
  height: 100%;
  padding: 10px;
}

.search-grid .groupbox {
  margin: 0 0 0 0;
}
.search-grid {
  gap: 10px 10px;
}
.search-grid.less .grid-row-cell:not(:first-of-type) {
  height: 0px;
  overflow: hidden;
}
.search-grid > .grid-row-cell:nth-of-type(2) .groupbox {
  min-width: 360px;
}
.search-grid > .grid-row-cell:nth-of-type(2) label {
  white-space: unset;
}
#scopeselect {
  padding-inline-start: 18px;
}
#scopeselect select {
  width: 100%;
}
.searchType,
#searchtype,
#scoperadio {
  height: 100%;
}

#moreLess {
  margin-inline-end: 15px;
}
#moreLess label {
  height: 0px;
  overflow: hidden;
}
.less #moreLess label:first-of-type {
  height: unset;
}
.more #moreLess label:not(:first-of-type) {
  height: unset;
}

.searchtext {
  position: relative;
  margin-bottom: 20px;
}
.searchtextLabel {
  padding-top: 5px;
}
.searchtext > .modulemenu {
  position: absolute;
  width: 100%;
  top: 100%;
}
.modulemenu select {
  margin: 0 5px;
  width: 100%;
}

#helpButton .button-icon {
  display: block;
  background-image: url('../images/help.png');
  width: 27px;
  height: 27px;
}
#helpButton:hover .button-icon {
  background-position-x: 27px;
}

.searchType > div:nth-child(2) {
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: rgb(220, 220, 220);
  border: 2px solid grey;
  border-radius: 8px;
  box-shadow: 6px 7px 5px 0px #6c5172;
  opacity: 0.8;
}
.searchType > div:nth-child(3) {
  width: 100%;
  height: 100%;
}

.result-container,
.result-container > div,
.result-container > div > div {
  overflow: hidden;
}
.resultBox {
  border: 2px solid rgb(200, 170, 205);
  border-radius: 4px;
  background: white;
  width: 100%;
}
.resultBox > div {
  padding: 5px;
}

#searchResults {
  overflow-x: auto;
  overflow-y: auto;
}

.searchStatus {
  flex-basis: 2em;
}
.searchStatus span {
  white-space: nowrap;
}
.searchStatus > div {
  margin: 0 10px;
}
.searchStatus .bp4-progress-bar {
  margin-inline-start: 5px;
  width: 200px;
}

/* Lexicon Results */
#lexiconResults {
  overflow-x: auto;
  overflow-y: hidden;
}
.resultBox .hbox .box {
  overflow: hidden;
}
.resultBox .spacer {
  height: 0;
  border-bottom: 1px solid #cccccc;
  margin: 0 10px 10px 10px;
  padding: 0;
}
.resultBox > .hbox > div:first-of-type {
  flex-basis: 0;
}
#displayBible {
  display: block;
}

/* Search Results */
.resultBox .searchterm {
  color: red;
}
/* This rule is dynamically copied by Javascript */
.matchingStrongs {
  color: red;
}
.resultBox .slist,
.resultBox .snlist {
  white-space: nowrap;
  margin: 2px;
}
.resultBox .slist > a,
.resultBox .snlist a {
  color: blue;
  font-size: inherit;
  display: inline-block;
  position: relative;
  text-decoration: underline;
  cursor: pointer;
}
.resultBox .slist > span:first-of-type {
  padding-left: 4px;
  padding-right: 4px;
}
.resultBox .slist > span,
.resultBox .snlist span {
  display: inline-block;
}

.resultBox .strongs-type:after {
  content: '-';
  padding-left: 4px;
  padding-right: 4px;
}
.resultBox .lex-total:before {
  content: '[';
  padding: 0px;
}
.resultBox .lex-total:after {
  content: ']:';
  padding-inline-end: 4px;
}
.resultBox .lex-count:before {
  content: '(';
}
.resultBox .lex-count:after {
  content: '),';
  margin-inline-end: 0.3em;
}
.resultBox .lex-count:last-child:after {
  content: ')';
  margin-inline-end: 0.3em;
}
.resultBox a.sn span {
  text-decoration: underline;
}

/* PRINTING STYLES */
@media print {
  .resultBox .slist {
    white-space: normal;
  }
}
