.searchwin {
  height: 100%;
  padding: 10px;
}

.search-grid .groupbox {
  margin: 0 0 0 0;
}
.search-grid {
  gap: 10px 10px;
}
.search-grid.less .grid-row-cell:not(:first-of-type) {
  height: 0px;
  overflow: hidden;
}
.search-grid > .grid-row-cell:nth-of-type(2) .groupbox {
  min-width: 360px;
}
.search-grid > .grid-row-cell:nth-of-type(2) label {
  white-space: unset;
}
#scopeselect select {
  width: 100%;
}
.searchType,
#searchtype,
#scoperadio {
  height: 100%;
}

.searchtext {
  position: relative;
  top: -15px;
}
.searchtext > div {
  width: 100%;
  margin: 0;
}
.searchtextLabel {
  margin-inline-end: 10px;
}
.searchtext > .modulemenu {
  position: absolute;
  top: 37px;
}
.searchtext > .modulemenu select {
  width: 100%;
}

#searchButton {
  margin-inline-start: 10px;
}

.searchType > div:nth-child(2) {
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: rgb(220, 220, 220);
  border: 2px solid grey;
  border-radius: 8px;
  box-shadow: 6px 7px 5px 0px #6c5172;
  opacity: 0.8;
}
.searchType > div:nth-child(3) {
  width: 100%;
  height: 100%;
}

.indexing-dialog {
  padding: 3em;
}

.result-container,
.result-container > div,
.result-container > div > div {
  overflow: hidden;
}
.result-container button {
  margin: 5px;
}
.resultBox {
  border: 2px solid rgb(200, 170, 205);
  border-radius: 4px;
  background: white;
  width: 100%;
}
.resultBox > div {
  padding: 5px;
}
.resultBox .modulemenu {
  float: right;
  margin: 0 5px 5px 5px;
}
html[dir='rtl'] .resultBox .modulemenu {
  float: left;
}

#searchResults {
  overflow-x: auto;
  overflow-y: auto;
}

.searchStatus {
  flex-basis: 2em;
}
.searchStatus span {
  white-space: nowrap;
}
.searchStatus > div {
  margin: 0 10px;
}
.searchStatus .bp4-progress-bar {
  margin-inline-start: 5px;
  width: 200px;
}

.resultBox .npopup {
  padding-inline-start: 50px;
  padding-inline-end: 100px;
}
.searchwin .npopupTX {
  background: rgb(248, 232, 255);
}

/* Lexicon Results */
#lexiconResults {
  overflow-x: auto;
  overflow-y: hidden;
}
#lexiconResults .sn {
  color: blue;
  text-decoration: underline;
}
.resultBox > div:first-child {
  padding-inline-start: calc(5em + 5px);
  overflow-y: auto;
  max-height: 25%;
}
.resultBox .spacer {
  height: 0;
  border-bottom: 1px solid #cccccc;
  margin: 0 10px 10px 10px;
  padding: 0;
}
.resultBox .lexlist {
  text-indent: -5em;
  margin: 2px 2px 5px 2px;
}
.resultBox .lexlist a {
  color: blue;
  font-size: inherit;
  position: relative;
  text-decoration: underline;
  cursor: pointer;
}

/* Search Results */
.resultBox #searchResults {
  flex-basis: 0;
  flex-grow: 1;
}
.resultBox .searchterm {
  color: red;
}
/* This rule is dynamically copied by Javascript */
.matchingStrongs {
  color: red;
}
.resultBox .slist {
  white-space: nowrap;
}
.resultBox .slist {
  margin: 2px;
}
.resultBox .slist > a {
  color: blue;
  font-size: inherit;
  position: relative;
  text-decoration: underline;
  cursor: pointer;
}
.resultBox .slist .p-milestone {
  display: none;
}
.resultBox .slist span > div {
  display: inline-block;
}
.resultBox .slist > span:first-of-type {
  padding-left: 4px;
  padding-right: 4px;
}

.resultBox a.sn span {
  text-decoration: underline;
}

/* PRINTING STYLES */
.printContainer * {
  text-decoration: unset !important;
}
