#printPreview .textbox {
  width: 3em;
  text-align: right;
}

#printPreview #landscape svg {
  transform: rotate(90deg) scaleX(-1);
}

#printPreview .margins .hbox:nth-child(2) > .hbox:nth-child(1) svg {
  transform: rotate(-90deg);
}
#printPreview .margins .hbox:nth-child(2) > .hbox:nth-child(3) svg {
  transform: rotate(90deg);
}
#printPreview .margins .hbox:nth-child(3) svg {
  transform: scaleY(-1);
}
#printPreview .margins .spacer {
  width: 40px;
}
