.box {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
}

.vbox,
.xs-orient-vertical {
  flex-direction: column;
  justify-content: space-around;
}

.hbox,
.xs-orient-horizontal {
  flex-direction: row;
}

.xs-pack-start {
  justify-content: flex-start;
}
.xs-pack-center {
  justify-content: center;
}
.xs-pack-end {
  justify-content: flex-end;
}

.xs-align-start {
  align-items: flex-start;
}
.xs-align-center {
  align-items: center;
}
.xs-align-end {
  align-items: flex-end;
}
.xs-align-stretch {
  align-items: stretch;
}
.xs-align-baseline {
  align-items: baseline;
}

.xs-xuldir-reverse {
  flex-direction: row-reverse;
}
