.button {
  margin: 5px;
}
.button .button-box {
  position: relative; /* For Menulist */
  width: fit-content;
}
.button button {
  height: 100%;
}

.button.fill-x .button-box,
.button.fill-x .button-box > button {
  width: 100%;
}
.button.fill-y .button-box,
.button.fill-y .button-box > button {
  height: 100%;
}
.button.fill-xy .button-box,
.button.fill-xy .button-box > button {
  width: 100%;
  height: 100%;
}

.button.on:not(.disabled) .bp6-icon {
  color: var(--color-primary) !important;
}

/* bp6 disabled was 0.6 opacity, which looks bad with a patterned background */
html.isElectron .bp6-button:not([class*='bp6-intent-']):disabled,
html.isElectron .button .bp6-button:not([class*='bp6-intent-']).bp6-disabled {
  background-color: rgb(211, 216, 222);
}
