.button {
  margin: 5px;
}
.button .button-box {
  position:relative; /* For Menulist */
  background-color: white;
  width: fit-content;
  height: fit-content;
}

.button.fill-x .button-box,
.button.fill-x .button-box > button {
  width: 100%;
}
.button.fill-y .button-box,
.button.fill-y .button-box > button {
  height: 100%;
}
.button.fill-xy .button-box,
.button.fill-xy .button-box > button {
  width: 100%;
  height: 100%;
}

.button.on .bp5-icon {
  color: #4444c1;
}
