.dragsizer {
  position: relative;
  touch-action: none;
}

.dragsizer.vertical {
  width: 4px;
  height: 95%;
  margin: auto 6px auto 6px;
}

.dragsizer.horizontal {
  width: 95%;
  height: 4px;
  margin: 6px auto 6px auto;
}

.dragsizer > div {
  position: absolute;
  background-color: var(--bg-interface-dark);
  box-shadow: var(--bp6-box-shadow);
  border-radius: 4px;
}

.dragsizer.vertical > div {
  cursor: ew-resize;
  width: 4px;
  top: 0px;
  bottom: 0px;
}

.dragsizer.horizontal > div {
  cursor: ns-resize;
  height: 4px;
  left: 0px;
  right: 0px;
}

.dragsizer > .dragging {
  border: 1px dashed var(--border-dark);
  background-color: var(--bg-interface-selection);
  z-index: 10;
}
