.groupbox {
  margin: 10px 5px 5px 5px;
  padding: 5px;
  border: 2px solid var(--border-dark);
  border-radius: 4px;
  background-color: var(--bg-interface-dark);
}

.groupbox .groupbox-title {
  display: block;
  white-space: nowrap;
  overflow-y: visible;
  margin-top: -0.9em;
  margin-bottom: 2px;
  margin-inline-start: -9px;
  font-weight: bold;
}

.groupbox .caption-text {
  margin-top: 0;
  margin-bottom: 0;
  margin-inline-start: 1px;
  background-color: var(--bg-interface-light);
  padding: 0 2px;
}

.groupbox .groupbox-body {
  padding-bottom: 8px;
}
.groupbox .groupbox-body > div {
  margin: 5px;
}
