.modinfo {
  overflow: hidden;
}
.modinfo > div {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.linklist .listbox {
  background-color: var(--bg-text-light);
  border-radius: 8px;
  border: 2px solid var(--border-light);
  margin: 10px 10px 20px 10px;
  padding: 10px;
}
.linklist ul {
  column-count: 3;
  column-fill: balance;
}

.modlist {
  margin: 20px 10px;
  padding: 5px;
  background-color: var(--bg-text-light);
  border-radius: 8px;
  border: 2px solid var(--border-light);
}
.modlist > div:nth-child(3),
.modlist > div:nth-child(4) {
  background-color: whitesmoke;
}
.modlist > div:nth-child(4) > * {
  margin: 0 10px;
}
.modlist > div:nth-child(4) {
  margin-bottom: 10px;
}
.modlist .module-info .Lang,
.modlist .module-info .moduleType {
  display: block;
  text-align: center;
}
.modlist .button {
  display: inline-block;
}
.modlist .top-link {
  margin-inline-start: 1em;
}
.modlist textarea {
  background-color: #80808030;
  width: calc(100% - 20px);
  font-family: courier;
  font-size: 13px;
  line-height: 100%;
}
.modlist textarea.editable {
  background-color: white;
}
