.pdf-preview,
.print,
.pageView {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.pageView {
  overflow: visible; /* make overlay shadow visible */
}

.pdf-preview iframe {
  width: 100%;
}

.scale {
  transform-origin: top left;
}

.content {
  position: relative; /* for overlay */
  background: white;
}

/* This width is C.UI.WebApp.tabletW */
@media (max-width: 1027px) {
  .printPassageWin body {
    overflow-y: auto;
  }
  .printPassageWin #root, .printPassageWin #root > .print {
    height: unset;
  }
  .print {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
}

@media print {
  .print > *:not(.pageView-container),
  #overlay,
  .close-card-button {
    display: none !important;
  }

  /* IMPORTANT: flex display breaks print paging! */
  .print,
  .pageView-container,
  .pageView,
  .scale,
  .content,
  .printContainer {
    display: block !important;
  }

  html,
  body,
  #root,
  .pageable.print,
  .pageable .pageView-container,
  .pageable .pageView,
  .pageable .scale,
  .pageable .content,
  .pageable .printContainer {
    overflow: visible !important;
  }
}
