.selectvk {
  margin: 5px;
}
.selectvk .menulist,
.selectvk select {
  height: 100%;
}

.selectvk select {
  border: none;
  background-color: var(--bg-bp6-light);
}

.selectvk .vk-chapter select,
.selectvk .vk-verse select,
.selectvk .vk-lastchapter select,
.selectvk .vk-lastverse select {
  min-width: calc(3em + 4px);
}

.selectvk > *:not(:first-child) {
  display: inline-block;
}
html .selectvk > * {
  margin-inline-end: 0;
}
html .selectvk > * + * {
  margin-inline-start: 10px;
}

.selectvk .label label {
  font-weight: bold;
  padding-top: 3px;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
}

.selectvk span.name {
  font-weight: bold;
}
.selectvk span.description {
  margin-inline-start: 2em;
  color: grey;
}
