.selectvk .menulist {
  height: 100%;
}
.selectvk select {
  height: 100%;
  border: none;
  background-color: white;
}

.selectvk > *:not(:first-child) {
  display: inline-block;
}

.selectvk .label label {
  font-weight: bold;
  padding-top: 3px;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
}
.selectvk .vk-book {
  margin-inline-end: 10px;
}
.selectvk .vk-chapter select,
.selectvk .vk-lastchapter select,
.selectvk .vk-verse select,
.selectvk .vk-lastverse select {
  width: 3.1em;
}
.selectvk .spacer {
  width: 10px;
}
.selectvk .vk-vkmod {
  margin-inline-start: 10px;
}
.selectvk .vk-book select,
.selectvk .vk-vkmod select {
  width: 150px;
}

.selectvk span.name {
  font-weight: bold;
}
.selectvk span.description {
  margin-inline-start: 2em;
  color: grey;
}
