groupbox {
  margin:5px 10px 5px 10px;
}
#from-input > hbox,
#to-input > hbox {
  -moz-padding-start:20px;
}
#from-dropdown {
  width:400px;
}
#to-dropdown {
  width:400px;
}
#hebrewOptions {
  border:1px solid rgb(200,200,200);
  border-radius:4px;
}
