#printControl #to-select .vk-vkmod {
  visibility: hidden;
}

#printControl .grid {
  gap: 2px 10px;
}

#printControl .vk-chapter select {
  width: 3.25em;
}

#printControl .groupbox,
#printControl .button {
  z-index: 1; /* required during full screen for some reason */
}
