#printControl .page-buttons-container,
#printControl .progress-anchor {
  position: relative;
}

#printControl .page-buttons {
  position: absolute;
  top: -30px;
}

#printControl .bp4-progress-bar {
  position: absolute;
  top: 53px;
  width: calc(100% - 30px);
}

#printControl .vk-chapter select {
  width: 3.25em;
}

#printControl .groupbox,
#printControl .button {
  z-index: 1; /* required during full screen for some reason */
}

.html-preview .content {
  overflow: visible; /* allow page scroll to work */
}

.text {
  height: 100%;
  overflow: hidden;
  column-count: 1;
}
.text.two-column {
  column-count: 2;
}

@media print {
  html * {
    overflow: visible !important;
  }
  .chapter-start:not(.chapterfirst) {
    break-before: page;
  }
}
