html,
body,
#root,
.html-preview,
.html-preview > div,
.html-page,
.scale {
  overflow: visible !important;
}

#printControl {
  z-index: 1; /* insure .scale doesn't block mouse */
}
#printControl .progress-anchor {
  position: relative;
}

#printControl .page-buttons {
  position: fixed;
}

#printControl .vkselect {
  padding-bottom: 14px;
}

#printControl .bp4-progress-bar {
  position: absolute;
  top: 53px;
  width: calc(100% - 30px);
}

#printControl .vk-chapter select {
  width: 3.25em;
}

.html-preview .content {
  overflow: visible; /* allow page scroll to work */
}

@media print {
  #printControl {
    display: none;
  }

  /* flex display breaks print paging! */
  .html-preview {
    display: block;
  }

  .chapter-start:not(.chapterfirst) {
    break-before: page;
  }
}
