/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
107   ICON    DISCARDABLE     "large.ico"
108   ICON    DISCARDABLE     "small.ico"
