
#genBookChooser {
  background-image: url(chrome://xulsword/skin/images/9.gif);
}
#genbook-tree {
  width:200px;
  font-size:0.8em;
  border-top:2px solid rgb(175,145,180);
  border-left:2px solid rgb(175,145,180);
  border-right:2px solid rgb(225,195,230);
  border-bottom:2px solid rgb(225,195,230);
  border-radius:6px;
  background:white;
}
#frameset:not([chooser="book"]) #genBookChooser,
#frameset:not([chooser="book"]) #genBookTree {
  display:none;
}
