html .skin,
html.skin > #root {
  background-image: unset;
  background-color: var(--light);
}
/* body height is the iframe's height and is scrollable */
body {
  height: 100%;
  overflow-y: auto;
}
/* root is --min-height for multi-panel and print, otherwise it's unset */
:root {
  --min-height: 800px;
}
#root:has(.textarea.multi-panel) {
  height: var(--min-height);
}
#root:has(.print) {
  min-height: var(--min-height);
}
#root {
  height: unset;
}
/* root descendent containers are 100% height for multi-panel or print, otherwise unset */
#root > #reset:has(.textarea.multi-panel),
#root > #reset > .xulsword:has(.textarea.multi-panel),
#root > .print {
  height: 100%;
  width: 100%;
}
#root > #reset,
#root > #reset > .xulsword,
#root > .card {
  height: unset;
}
/* for iframes this height must not collapse while also body becomes
 scrollable */
#root > #reset .textarea.single-panel .sb {
  flex-basis: 100%;
  overflow-y: hidden;
}

#controls {
  display: block;
}
#control-rows {
  padding: 0 10px;
  flex-basis: 0;
  max-width: 100vw;
}
#main-controlbar {
  flex-wrap: wrap;
}
#choosermenu {
  margin-right: 10px;
}
#historyButtons {
  width: 100%;
}
#historyButtons .button-box,
#historyButtons .button,
#historyButtons button {
  width: 100%;
}
#historyButtons > .box {
  max-width: 150px;
}
#textnav {
  width: 100%;
}
#textnav .vk-book {
  flex-basis: 100%;
}
#textnav .vk-book select {
  width: 100%;
}
#player {
  padding: 5px;
}
#genbknav .menulist,
#genbknav .menulist select {
  width: 100%;
}

#genbknav,
.open-chooser,
.close-chooser,
/* don't show text pin without multiple texts */
.textrow:not(:has(.atext:nth-child(2))) .text-pin,
/* genbknav shouldn't show single-option selects */
#genbknav:not(:has(> div:nth-child(2))) .menulist:has(> select[disabled]),
#genbknav:not(:has(> div:nth-child(2))) .menulist:not(:has(:nth-child(2))),
.module-info .sourceRepository {
  display: none;
}

.cs-OSMHB {
  font-size: 20px;
}

.cs-OSMHB .sn {
  text-decoration: none;
}

.close-card-button {
  position: absolute;
  z-index: 8;
  margin: 0;
  padding: 20px;
}

.printControls .vk-vkmod > select {
  max-width: calc(100vw - 87px);
}

@media (max-width: 300px) {
  .close-card-button {
    padding: 0;
  }
}

@media (max-width: 767px) {
  #controls {
    display: flex;
  }
  #main-viewport {
    padding: 10px 5px;
  }
  #main-controlbar > div {
    width: 100%;
    justify-content: space-around;
  }
  audio {
    max-width: calc(100vw - 2px);
  }
  .textarea.single-panel .sb {
    height: fit-content;
  }
  #genbknav {
    display: flex;
  }
  .npopup .popupCloseLink.backable {
    display: block;
  }
  .chooser,
  #choosermenu,
  .npopup .draghandle,
  .narrow-screen-hide {
    display: none;
  }
  /* Make sure mts-tab drop down menu remains on-screen */
  .tabs .mts-tab {
    position: static;
  }
  .tabs .mts-tab .anchorbutton .menupopup {
    left: unset;
    right: 0px;
  }
  html[dir='rtl'] .tabs .mts-tab .anchorbutton .menupopup {
    left: 0px;
    right: unset;
  }
  .chapterhead {
    padding: 0 10px;
  }
  .x-navmenu {
    font-size: 1rem;
  }
  .x-navmenu span,
  .x-navmenu div {
    margin: 5px;
  }
  .dictkey {
    margin-bottom: 0.5em;
  }

  .cr:after,
  .fn:after,
  .un:after {
    font-size: larger;
  }
}
