#main-controlbar {
  padding-top: 10px;
  flex-wrap: wrap;
  align-items: center;
}
#main-controlbar > .spacer:first-child {
  display: none;
}
#genbknav {
  display: none;
}
#genbknav .menulist,
#genbknav .menulist select {
  width: 100%;
}
#genbknav .menulist:not(:has(:nth-child(2))) {
  display: none;
}
@media (max-width: 768px) {
  #genbknav {
    display: flex;
  }
  #choosermenu,
  .chooser,
  #textnav > span:nth-child(4),
  #textnav > div:nth-child(5),
  #textnav > div:nth-child(6) {
    display: none;
  }
  #search-tool {
    width: 100%;
    justify-content: space-around;
  }
  #search-tool, #optionButtons {
    margin-top: 10px;
  }
}
#search-tool > div {
  max-width: 150px;
}
#navigator-tool {
  min-width: unset;
}
#historyButtons .button,
#historyButtons .button-box,
#historyButtons button {
  width: 100%;
}
#searchText {
  display: none;
}

.open-chooser {
  display: none;
}

.cs-OSMHB {
  font-size: 20px;
}

.cs-OSMHB .sn {
  text-decoration: none;
}
