:root {
  --input-height: 32px;
}

html:not(.finished-loading):after {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
  background: url('../../images/loader.gif') 50% 50% no-repeat
    rgb(249, 249, 249);
  opacity: 0.8;
}

/* body height is the iframe's height and is scrollable */
body {
  height: 100%;
  overflow-y: auto;
}
/* root is --min-height for multi-panel, otherwise it's unset */
#root:has(.textarea.multi-panel) {
  height: var(--min-height);
}
#root {
  height: unset;
}
/* root descendent containers are 100% height for multi-panel, otherwise unset */
#root > #reset:has(.textarea.multi-panel),
#root > #reset > .xulsword:has(.textarea.multi-panel) {
  height: 100%;
  width: 100%;
}
#root > #reset,
#root > #reset > .xulsword,
#root > .card {
  height: unset;
}
/* for iframes this height must not collapse while also body becomes
 scrollable */
#root > #reset .textarea.single-panel .sb {
  flex-basis: 100%;
  overflow-y: hidden;
}

#root .viewport {
  margin: 0 10px 10px 10px;
  min-height: 600px;
}

/* don't show the pin for a single text pane, unless there is audio for the text. */
.viewport:not(:has(.audio-icon)) .textrow:not(:has(.atext:nth-child(2))) .text-pin {
  display: none;
}

#controlButtons {
  margin-left: 5px;
  width: fit-content;
}

/* Bible Browser Web-App controls are in a VBOX */
.controls-animation {
  height: auto;
  overflow: hidden;
  transition: height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 1;
}
.controls-animation.hide {
  height: 0;
  opacity: 0;
}
body:has(.controls-animation:not(.hide)) {
  animation: hold-body-overflow 0.4s;
}
#controls #control-rows:has(:first-child) {
  margin-bottom: 10px;
}
#control-rows {
  padding: 0 10px;
  flex-basis: 0;
  max-width: 350px;
  flex-wrap: wrap;
}
#textnav .vk-book {
  flex-basis: 100%;
}
#search-tool > .vbox {
  flex-direction: row;
  flex-grow: 1;
}
#xsSearchText {
  margin-right: 10px;
}
#player {
  margin-top: 5px;
  margin-bottom: 5px;
}
#player .audioplayer {
  flex-grow: 3;
  flex-shrink: 3;
}
.player-animation {
  height: auto;
  overflow: hidden;
  transition: height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 1;
}
.player-animation.hide {
  height: 0;
  opacity: 0;
}
body:has(.player-animation:not(.hide)) {
  animation: hold-body-overflow 0.4s;
}
#control-rows > div,
#historyButtons .button,
#historyButtons .button-box,
#historyButtons button,
#textnav .vk-book select,
#genbknav .menulist,
#genbknav .menulist select,
audio {
  width: 100%;
}
#back,
#textnav .selectvk,
#textnav .vk-book,
#genbknav > .box,
#genbknav > .box > .box,
#search-tool,
#xsSearchText,
#player {
  margin-left: 0;
}
#forward,
#textnav .selectvk,
#genbknav > .box,
#genbknav > .box > .box,
#search-tool,
#player {
  margin-right: 0;
}
/* If only one genbk select is shown, then it shouldn't show disabled or single-option selects */
#genbknav:not(:has(> div:nth-child(2))) .menulist:has(> select[disabled]),
#genbknav:not(:has(> div:nth-child(2))) .menulist:not(:has(:nth-child(2))) {
  display: none;
}
#genbknav:not(:has(> div:nth-child(2))) .menulist:has(> select[disabled]) + .menulist,
#genbknav:not(:has(> div:nth-child(2))) .menulist:not(:has(:nth-child(2))) + .menulist {
  margin-top: 0;
}

html:not(.is-vagrant) .popup-fail.reason {
  display: none;
}

.chooser .fadetop {
  height: 25px;
}

.chooser-animation {
  height: 100%;
  width: auto;
  white-space: nowrap;
  transition: width 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 1;
}
.chooser-animation.hide {
  width: 0;
  opacity: 0;
}

.cs-OSMHB {
  font-size: 20px;
}

.cs-OSMHB .sn {
  text-decoration: none;
}

.close-card-button {
  position: absolute;
  z-index: 8;
  margin: 0;
  padding: 20px;
}

@media (max-width: 767px) {
  .textarea.single-panel .sb {
    height: fit-content;
  }
  #root .viewport {
    margin: 0 0 10px 0;
  }
  /* Make sure mts-tab drop down menu remains on-screen */
  .tabs .mts-tab {
    position: static;
  }
  .tabs .mts-tab .anchorbutton .menupopup {
    left: unset;
    right: 0px;
  }
  html[dir='rtl'] .tabs .mts-tab .anchorbutton .menupopup {
    left: 0px;
    right: unset;
  }
  .chapterhead {
    padding: 0 10px;
  }
  .dictkey {
    margin-bottom: 0.5em;
  }
  .cr:after,
  .fn:after,
  .un:after {
    font-size: larger;
  }
}

/* Hide some control buttons for very narrow screens */
@media (max-width: 300px) {
  #back,
  #forward,
  #addcolumn,
  #printPassage {
    display: none;
  }
}
