# xulsword
.vagrant
archive
archive.tgz
branding.json
assets/defaults/preferences/
assets/**/*missing.json
Cpp/lib*
Cpp/install*
Cpp/zlib*
Cpp/boost*
Cpp/clucene*
Cpp/sword*
Cpp/build*
Cpp/phpsword

# webapp
profile_webapp

node_modules
# Note: it's not possible to re-include a directory or any file whose parent directory is excluded!
#won't work: !node_modules/libxulsword

build/release
.dll
**/dist
src/**/*.d.ts
src/**/*.d.ts.map
src/**/*.js
src/**/*.js.map

# yarn
**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions

.vscode/perl-lang/
.vstags

# For MAC
.DS_Store
test-driver
XUL.framework

