*-console.log
.vagrant
IBTXulsword
sword
xulrunner
xulrunner64
xul/viewport.html
Cpp/sword
Cpp/zlib
Cpp/clucene
Cpp/build
Cpp/install
build-files
build-out
build/*_log.txt
build/run_*
build/loc_*
localeDev/*/*_log.txt
localeDev/*/locale

# For Windows...
Cpp/cluceneMK/windows/lib/Release/
Cpp/src/include/appInfo.h
Cpp/swordMK/windows/lib/Release/
Cpp/windows/Release/
Cpp/windows/Versions.bat
Cpp/windows/startup/Release/
Cpp/windows/cdrun/Release/
Cpp/windows/compiled.txt

# For MAC
.DS_Store
test-driver
XUL.framework

