button {
  margin: 1px 5px 2px 5px;
  min-width: 6.3em;
  border: 1px solid;
  border-top-color: ThreeDHighlight;
  border-right-color: ThreeDDarkShadow;
  border-bottom-color: ThreeDDarkShadow;
  border-left-color: ThreeDHighlight;
  background-color: ThreeDFace;
  color: ButtonText;
  text-shadow: none;
}

button {
  font-size: 11px;
}

.button-box {
  border: 1px solid transparent;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-inline-start: 3px;
  padding-inline-end: 4px;
}

.button-icon {
  margin-inline-end: 2px;
}

.button-text {
  margin: 0 !important;
  text-align: center;
}

/* .......... focused state .......... */

button:focus {
  border-top-color: ThreeDDarkShadow;
  border-right-color: ThreeDDarkShadow;
  border-bottom-color: ThreeDDarkShadow;
  border-left-color: ThreeDDarkShadow;
}

button:focus > .button-box {
  border: 1px dotted ThreeDDarkShadow;
}

/* .......... default state .......... */

button[default='true'] {
  border-top-color: ThreeDDarkShadow;
  border-right-color: ThreeDDarkShadow;
  border-bottom-color: ThreeDDarkShadow;
  border-left-color: ThreeDDarkShadow;
}

/* .......... hover state .......... */

button:hover {
  color: -moz-buttonhovertext;
  background-color: -moz-buttonhoverface;
}

/* .......... active/open/checked state .......... */

button:hover:active,
button[open='true'],
button[checked='true'] {
  border-top-color: ThreeDDarkShadow;
  border-right-color: ThreeDDarkShadow;
  border-bottom-color: ThreeDDarkShadow;
  border-left-color: ThreeDDarkShadow;
  color: ButtonText;
}

button:hover:active > .button-box,
button.checked-true > .button-box {
  padding-top: 2px;
  padding-bottom: 1px;
  padding-inline-start: 4px;
  padding-inline-end: 3px;
}

/* .......... disabled state .......... */

button.disabled-true,
button.disabled-true:hover:active {
  border-top-color: ThreeDHighlight;
  border-right-color: ThreeDDarkShadow;
  border-bottom-color: ThreeDDarkShadow;
  border-left-color: ThreeDHighlight;
  color: GrayText;
}

button.disabled-true > .button-box {
  padding-top: 1px !important;
  padding-bottom: 2px !important;
  padding-inline-start: 3px !important;
  padding-inline-end: 4px !important;
}

/* ::::: menu/menu-button buttons ::::: */

button.type-menu-button {
}

.button-menubutton-button {
  margin: 0;
}

.button-menu-dropmarker,
.button-menubutton-dropmarker {
}

.button-menubutton-dropmarker {
  margin-inline-end: 3px;
}

/* ::::: plain buttons ::::: */

button.plain {
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
}
