.xulsword {
  overflow: hidden;
}
.xulsword .controlbar {
  background-image: url(../../../assets/b2.png);
}
.xulsword .controlbar .start-spacer {
  width: 15px;
}
.xulsword .controlbar .button,
.xulsword .controlbar .button > div,
.xulsword .controlbar button {
  width: 100%;
}
.xulsword .controlbar .textbox {
  font-size: 15px;
}
.xulsword .controlbar #search-tool .vbox > div {
  width: 100%;
}
.xulsword .controlbar #book,
.xulsword .controlbar #chapter,
.xulsword .controlbar #verse {
  margin-top: 0;
  margin-bottom: 2px;
}

#player > .vbox > div {
  height: 30px;
  background: #f6f7f9;
  border: 1px solid rgb(197 197 197);
  padding-top: 1px;
  border-radius: 3px;
}
#player audio {
  height: 25px;
}

#navigator-tool {
  min-width: 312px;
}

#textnav .bookselect {
  min-width: 190px;
}
#textnav > span {
  padding-inline-start: 4px;
}
#textnav #nextchap,
#textnav #nextverse {
  display: block;
  background: url(../images/smallButtonIncrement.png);
  margin-bottom: 1px;
}
#textnav #prevchap,
#textnav #prevverse {
  display: block;
  background: url(../images/smallButtonDecrement.png);
  margin-top: 1px;
}
#textnav .anchorbutton {
  width: 15px;
  height: 8px;
  background-position: 0px 0px;
}
#textnav .anchorbutton:hover {
  background-position: -15px 0px;
}
#textnav .textbox input {
  text-align: center;
}

#searchButton {
  margin: 0;
}

#optionButtons button.off {
  opacity: 0.5;
}
