.search {
  padding: 10px;
}
.search-grid {
  position: relative;
  gap: 10px 10px;
}
.search-grid .groupbox {
  margin: 0 0 0 0;
}
.search-grid.less .grid-row-cell:not(:first-of-type) {
  height: 0px;
  overflow: hidden;
}
.search-grid > .grid-row-cell:nth-of-type(2) .groupbox {
  min-width: 360px;
}
.search-grid > .grid-row-cell:nth-of-type(2) label {
  white-space: unset;
}
#scopeselect select {
  width: 100%;
}
.bibleBrowser #searchTextGroup {
  padding: 25px;
}
.searchtext {
  position: relative;
  top: -15px;
}
.bibleBrowser .searchtext {
  top: -22px;
}
.searchtext > div {
  width: 100%;
  margin: 0;
}
.searchtextLabel {
  margin-inline-end: 5px;
  margin-inline-start: 10px;
}
.searchtext > .modulemenu {
  position: absolute;
  top: 37px;
}
.bibleBrowser .searchtext > .modulemenu {
  top: 50px;
}
.searchtext > .modulemenu select {
  width: 100%;
}

#searchButton {
  margin-inline-start: 10px;
}

#helpButton.open {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
#helpButton.open .bp5-button {
  align-items: start;
  height: fit-content;
}
#helpButton.open .bp5-button-text {
  margin: 25px -9px -4px -33px;
}

.search-type,
#searchtype,
#scoperadio {
  height: 100%;
}
.search-type > div:nth-child(2) {
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: rgb(220, 220, 220);
  border: 2px solid grey;
  border-radius: 8px;
  box-shadow: 6px 7px 5px 0px #6c5172;
  opacity: 0.8;
}
.search-type > div:nth-child(3) {
  width: 100%;
  height: 100%;
}

.indexing-dialog {
  position: relative;
  top: 60px;
  padding: 3em;
}

.result-container,
.result-container > div {
  overflow: hidden;
}
.result-container button {
  margin: 5px;
}
.resultBox {
  flex-basis: 0;
  border: 2px solid rgb(200, 170, 205);
  border-radius: 4px;
  background: white;
  width: calc(100% - 50px);
}
.resultBox > div {
  padding: 5px;
}
.resultBox #displayModule {
  float: right;
  margin: 0 5px 5px 5px;
}
html[dir='rtl'] .resultBox #displayModule {
  float: left;
}
.resultBox #displayModule {
  max-width: calc(min(200px, 50vw) + 5px);
}
.resultBox #displayModule select {
  max-width: min(200px, 50vw);
}
.resultBox .npopup {
  padding-inline-start: 50px;
  padding-inline-end: 100px;
}
.resultBox .npopupTX {
  background: rgb(248, 232, 255);
}
.resultBox > div:first-child {
  padding-inline-start: calc(5em + 5px);
}
.resultBox .spacer {
  height: 0;
  border-bottom: 1px solid #cccccc;
  margin: 0 10px 10px 10px;
  padding: 0;
}
#lexiconResults {
  overflow-x: auto;
  overflow-y: hidden;
}
#lexiconResults .lexlist {
  text-indent: -5em;
  margin: 2px 2px 5px 2px;
}
#lexiconResults .lexlist a {
  color: blue;
  font-size: inherit;
  position: relative;
  text-decoration: underline;
  cursor: pointer;
}
#lexiconResults .sn {
  color: blue;
  text-decoration: underline;
}
#searchResults {
  overflow-y: auto;
}
#searchResults .searchterm {
  color: red;
}
/* This rule is dynamically copied by Javascript */
.resultBox .matchingStrongs {
  color: red;
}
.resultBox .slist {
  white-space: nowrap;
}
.resultBox .slist {
  margin: 2px;
}
.resultBox .slist > a {
  color: blue;
  font-size: inherit;
  position: relative;
  text-decoration: underline;
  cursor: pointer;
}
.resultBox .slist .p-milestone {
  display: none;
}
.resultBox .slist span > div {
  display: inline-block;
}
.resultBox .slist > span:first-of-type {
  padding-left: 4px;
  padding-right: 4px;
}
.resultBox a.sn span {
  text-decoration: underline;
}

.searchStatus {
  flex-basis: 2em;
  margin-top: 10px;
}
.searchStatus span {
  white-space: nowrap;
}
.searchStatus .bp5-progress-bar {
  margin-inline-start: 5px;
  width: 200px;
}

/* PRINTING STYLES */
.printContainer * {
  text-decoration: unset !important;
}

@media (max-width: 767px) {
  .search {
    padding: 5px;
  }
  .bibleBrowser .xsinput {
    margin-right: 0px;
    margin-left: 0px;
  }
  .bibleBrowser .search-grid {
    width: 100vw;
    grid-template-columns: unset !important;
  }
  .bibleBrowser .search-grid > div {
    grid-area: auto / 1 / auto / 3 !important;
  }
  .bibleBrowser #searchTextGroup {
    padding: 10px;
  }
  .bibleBrowser #searchTextGroup > .groupbox-body {
    flex-direction: column;
    align-items: center;
  }
  .bibleBrowser #searchTextGroup .groupbox-body > div {
    width: 200px;
  }
  .bibleBrowser .searchtext {
    top: 0;
    margin: 0px 10px;
  }
  .bibleBrowser .searchtext > .modulemenu {
    position: unset;
    top: unset;
  }
  .bibleBrowser .searchtext > div:not(:first-child) {
    margin-top: 10px;
  }
  .bibleBrowser .searchtextLabel {
    display: none;
  }
  .bibleBrowser #searchButton,
  .bibleBrowser #helpButton,
  .bibleBrowser #moreLess {
    margin: 10px 0;
  }
  .bibleBrowser #searchButton {
    margin-inline-start: unset;
    margin-inline-end: 5px;
  }
  .bibleBrowser #moreLess {
    margin-inline-start: 5px;
  }
  .bibleBrowser #searchButton .button-box,
  .bibleBrowser #searchButton button {
    width: 100%;
  }
  .bibleBrowser .search-grid > .grid-row-cell:nth-of-type(2) .groupbox {
    min-width: unset;
    width: 100%;
  }
  .bibleBrowser #scoperadio .grid {
    grid-template-columns: unset !important;
  }
  .bibleBrowser #scoperadio .grid > div:last-child {
    width: 40%;
  }
  .bibleBrowser #scoperadio .label {
    white-space: unset;
  }
  .bibleBrowser .resultBox {
    width: calc(100%);
  }
  .bibleBrowser .resultBox .npopup {
    padding-inline-start: unset;
    padding-inline-end: unset;
  }
  .bibleBrowser .result-parent {
    flex-direction: column;
  }
  .bibleBrowser .buttonBox {
    flex-direction: row;
    justify-content: center;
  }
  .bibleBrowser .buttonBox .spacer {
    display: none;
  }
  .bibleBrowser .search #pagefirst svg,
  .bibleBrowser .search #pageprev svg,
  .bibleBrowser .search #pagenext svg,
  .bibleBrowser .search #pagelast svg {
    transform: rotate(-90deg);
  }
}
