#mainPage {
	width:550px;
	padding-bottom:20px;
	float:right;
	margin-top:0px;
}
body.tc2 #mainPage,
body.flowcol3.tc3 #mainPage,
body.flowcol4.tc4 #mainPage { 
	width:610px;
}
body:not(.flowcol3).tc3 #mainPage,
body:not(.flowcol4).tc4 #mainPage {
	width:750px;
	background-color: #f8f0b1;
}
body.flowcol2,
body.flowcol3,
body.flowcol4  {
	position:relative;
	top:-109px;
  left:-50px;
}
body.flowcol2 .solidorange,
body.tc3 .solidorange,
body.tc4 .solidorange,
body.flowcol2 #sectiontag,
body.tc3 #sectiontag,
body.tc4 #sectiontag,
body.flowcol2 #footer,
body.tc3 #footer,
body.tc4 #footer,
body.flowcol2 img[alt="IBT logo"],
body.tc3 img[alt="IBT logo"],
body.tc4 img[alt="IBT logo"],
body.flowcol2 img[alt="Яндекс цитирования"],
body.tc3 img[alt="Яндекс цитирования"],
body.tc4 img[alt="Яндекс цитирования"] {
	visibility:hidden;
}

/* "Home" Page */
#mainPage[ishome="true"] a {
	color:blue;
}
#mainPage[ishome="true"] a:hover {
	text-decoration:underline;
	cursor:pointer;
}
#mainPage[ishome="true"] h1 {
  font-family:Verdana;
  font-size:13px;
  font-weight:bold;
}
.bbintro {
	margin-top:20px;
}
.bbprompt {
	margin-top:20px;
	padding-right:20px;
	display:inline-block;
	float:left;
}
.bblist {
	margin-top:30px;
	display:inline-block;
}
.bblist a {
	display:block;
	font-size:13px;
	padding-top:3px;
}
.bbnotibt {
	margin-top:10px;
}

/* LOCATION CHOOSER */
#locchooser {
	display:inline;
	position:relative;
	top:-5px;
}

/* BUTTONS */
#buttons {
	float:right;
}
.button span, .spinbutdec span, .spinbutinc span {
	display:none;
}
.button {
	display:inline-block;
	width:32px;
	height:28px;
	background-image:url(/images/bbbuttons.png);
}
/* normal buttons */
#bhdg {
	background-position:left 0px;
}
#bftn {
	background-position:left -28px;
	margin-left:-3px;
}
#bcrn {
	background-position:left -56px;
	margin-left:-1px;
}
#bdtl {
	background-position:left -84px;
	margin-left:-1px;
}
#bstn {
	background-position:left -112px;
	margin-left:1px;
}
#bvsn {
	background-position:left -140px;
	margin-left:-6px;
	position:relative;
	top:2px;
}
#bwcr {
	background-position:left -168px;
	margin-left:4px;
}
.badd {
	background-position:left -196px;
	margin-right:0px;
}
.bsub {
	background-position:left -224px;
	position:relative;
	top:-3px;
}
.bcol {
	background-position:left -252px;
	margin-right:5px;
	position:relative;
	top:-3px;
}
/* disabled buttons */
#bhdg.disabled {
	background-position:right 0px;
}
#bftn.disabled {
	background-position:right -28px;
}
#bcrn.disabled {
	background-position:right -56px;
}
#bdtl.disabled {
	background-position:right -84px;
}
#bstn.disabled {
	background-position:right -112px;
}
#bvsn.disabled {
	background-position:right -140px;
}
#bwcr.disabled {
	background-position:right -168px;
}
.badd.disabled {
	background-position:right -196px;
}
.bsub.disabled {
	background-position:right -224px;
}
.bcol.disabled {
	background-position:right -252px;
}
/* hovered buttons */
#bhdg:hover,#bhdg.disabled:hover {
	background-position:center 0px;
}
#bftn:hover,#bftn.disabled:hover {
	background-position:center -28px;
}
#bcrn:hover,#bcrn.disabled:hover {
	background-position:center -56px;
}
#bdtl:hover, #bdtl.disabled:hover {
	background-position:center -84px;
}
#bstn:hover, #bstn.disabled:hover {
	background-position:center -112px;
}
#bvsn:hover, #bvsn.disabled:hover {
	background-position:center -140px;
}
#bwcr:hover, #bwcr.disabled:hover {
	background-position:center -168px;
}
.badd:hover {
	background-position:center -196px;
}
.badd.disabled:hover {
	background-position:right -196px;
}
.bsub:hover {
	background-position:center -224px;
}
.bsub.disabled:hover {
	background-position:right -224px;
}
.bcol:hover {
	background-position:center -252px;
}
.bcol.disabled:hover {
	background-position:right -252px;
}
/* spin buttons */
.spinbut {
	display:inline-block;
}
.spinbut a {
	display:block;
	height:10px;
	width:15px;
	position:relative;
	top:6px;
	background-image:	url(/images/spinbut.png);
}
.spinbutdec {
	background-position: right bottom;
	margin-top:2px;
}
.spinbutdec:hover {
	background-position:left bottom;	
}
.spinbutinc {
	background-position: right top;
}
.spinbutinc:hover {
	background-position:left top;	
}

/* COLUMN HEADER AREA */
.texthead {
	display:table;
	width:100%;
	margin-bottom:30px;
}
.texthead a {
	color:blue;
	text-decoration:underline;
	cursor:pointer;
}
.texthead select {
	display:inline-block;
	margin-left:6px;
}
.tc2 #mainPage select,
.tc3 #mainPage select,
.tc4 #mainPage select {
	width:125px;
}
.flowcol2 #mainPage select,
.flowcol3 #mainPage select,
.flowcol4 #mainPage select {
	width:auto;
}
.texthead label {
	font-size:16px;
}
.introlink {
	font-size:18px;
	font-weight:normal;
	margin: 0px 5px 0px 0px;
}
.infolink {
	position:absolute;
	left:-8px;
	bottom:-18px;
	text-align:center;
	width:100%;
}

/* SCRIPT BOX */
.text {
	position:relative;
}
.flowcol2 .text,
.flowcol3 .text,
.flowcol4 .text {
	overflow:auto;
}
.text .head1 {
	font-size:18px;
	color:rgb(110,85,110);
	font-weight:bold;
	text-align:center;
	margin-bottom:1em;
	margin-top:1em;
	clear:both;
}
.text .head2 {
	font-size:16px;
	color:rgb(110,85,110);
	font-weight:bold;
	margin-bottom:0.5em;
	clear:both;
}
.chapnum {
	font-size:24px;
	color:rgb(110,85,110);
	font-weight:bold;
	clear:both;
}
.followon {
	padding-top:30px;
}
.canonical {
	font-style:italic;
}
.divine {
	font-size: 13px;
	color: black;
}
.chapterhead > div {
	margin-top:12px;
	margin-bottom:12px;
}
.versenum {
  vertical-align:top;
}
.hl, .hl span {
	color:blue; /* selected verse */
}
.interB {
	display:table;
	width:100%;
	margin-top:16px;
	margin-bottom:16px;
}
.interV {
	width:100%;
	margin-top:16px;
	margin-bottom:16px;
}
.interV {
	word-wrap:break-word;
	-moz-column-fill:balance;
	-webkit-column-fill:balance;
	column-fill:balance;
}
.tc2:not(.flowcol2) .text .interV {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
}
.tc3:not(.flowcol3) .text .interV {
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3;
}
.tc4:not(.flowcol4) .text .interV {
	-moz-column-count:4;
	-webkit-column-count:4;
	column-count:4;
}
.flowcol2 .text .interV {
	-moz-column-width:250px;
	-webkit-column-width:250px;
	column-width:250px;
}
.flowcol3 .text .interV {
	-moz-column-width:190px;
	-webkit-column-width:190px;
	column-width:190px;
}
.flowcol4 .text .interV {
	-moz-column-width:140px;
	-webkit-column-width:140px;
	column-width:140px;
}

.interV1, .interV2, .interV3,
.interV4, .interV5, .interV6,
.interV7, .interV8, .interV9 {
	display:table-cell;
	padding-left:10px;
	padding-right:10px;
	border-right:1px dotted grey;
}
.tc2 .interV1, 
.tc2 .interV2 {
	width:50%;
}
.tc3 .interV1, 
.tc3 .interV2, 
.tc3 .interV3 {
	width:33%;
}
.tc4 .interV1, 
.tc4 .interV2, 
.tc4 .interV3, 
.tc4 .interV4 {
	width:25%;
}
.interS {
	display:none;
}

/* TEXT SYMBOLS AND MARKUP */
.cr:after {
	content: '\00D7 ';
}
.cr, .cr:after {
	position:relative;
	top:-2px;
	font-family:'Arial' !important;
	font-size-adjust:0.55 !important;
	color:rgb(255,0,0);
	cursor:pointer;
	z-index:70;
}
.cr-x-parallel-passage:after {
	content: '\25CF ';
}
.cr-x-parallel-passage, .cr-x-parallel-passage:after {
	position:relative;
	top:-2px;
	font-family:'Arial' !important;
	font-size-adjust:0.55 !important;
	color:rgb(255,0,0);
	cursor:pointer;
	z-index:70;
}
.cr-x-style1:after {
	content: '+ ';
}
.cr-x-style1, .cr-x-style1:after {
	position:relative;
	top:-2px;
	font-family:'Arial' !important;
	font-size-adjust:0.55 !important;
	color:rgb(255,0,0);
	cursor:pointer;
	z-index:70;
}
.fn:after {
	content: '\00D7 ';
}
.fn, .fn:after {
	position:relative;
	top:-2px;
	font-family:'Arial' !important;
	font-size-adjust:0.55 !important;
	color:rgb(0,200,250);
	cursor:pointer;
	z-index:70;
}
.un:after {
	content: '\00D7 ';
}
.un, .un:after {
	position:relative;
	top:-2px;
	font-family:'Arial' !important;
	font-size-adjust:0.55 !important;
	color:rgb(0,0,200);
	cursor:pointer;
	z-index:70;
}
.sr {
	color:inherit;
	text-decoration:underline;
	cursor:pointer;
}
.dt {
	text-decoration:underline;
	cursor:pointer;
	z-index:70;
}
.sn:hover {
	border-bottom: 1px solid rgb(120,95,120);
}
.sn {
	border-bottom: 1px solid rgb(220,195,220); /*(240,215,240);*/
	cursor:pointer;
}
.wordsOfJesus {
	color:red;
}

/* POPUP */
.npopup {
	position:fixed;
	text-align:left;
	width:400px;
	max-height:500px;
	font-size: 13px;
	margin-right:20px;
	padding:20px;
	border:1px solid black;
	cursor:default;
	background:#f8f0d1;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	border-radius: 5px; /* CSS3 */
	z-index:300;
	overflow:auto;
	resize: both;
	box-shadow: 3px 3px 5px 3px grey;
	-webkit-box-shadow: 3px 3px 5px 3px grey;
}

.npopup a {
	color:blue !important;
	text-decoration: underline !important;	
	cursor:pointer !important;
}

.loading {
	background-image: url(/images/loading.gif);
	margin-top:1em;
	width:32px;
	height:32px;
}
