.xulsword {
  height: 100%;
}

.controls {
  z-index: 2; /* hide chooser slider, allow history popup to cover tabs */
}

#xsSearchText {
  margin-bottom: 0;
  flex-basis: 100%;
}
#xsSearchText input {
  height: calc(var(--input-height) - 5px);
}
#xsSearchButton {
  margin-left: 0;
}
#search-tool #xsSearchButton {
  margin-bottom: 0;
  margin-right: 0;
}

#navigator-tool {
  min-width: 390px;
}
#navigator-tool .button {
  margin-left: 0;
  margin-right: 0;
}
#navigator-tool #choosermenu {
  width: unset;
  margin-inline-end: 10px;
}
#navigator-tool #historymenu {
  margin-left: 10px;
  margin-right: 10px;
}

#textnav .bookselect {
  min-width: 190px;
}
#textnav > span {
  padding-inline-start: 4px;
}
#textnav #nextchap,
#textnav #nextverse {
  display: block;
  background: url(../images/smallButtonIncrement.png);
  margin-bottom: 1px;
}
#textnav #prevchap,
#textnav #prevverse {
  display: block;
  background: url(../images/smallButtonDecrement.png);
  margin-top: 1px;
}
#textnav .anchorbutton {
  width: 15px;
  height: 8px;
  background-position: 0px 0px;
}
#textnav .anchorbutton:hover {
  background-position: -15px 0px;
}
#textnav .textbox input {
  text-align: center;
}

#optionButtons svg {
  width: calc(var(--input-height) - 4px);
  height: calc(var(--input-height) - 4px);
}
#optionButtons button.off {
  opacity: 0.5;
}
