.xulsword {
  height: 100%;
}

.controls {
  z-index: 2; /* hide chooser slider, allow history popup to cover tabs */
}

#player > .vbox > div {
  background: #f6f7f9;
  border: 1px solid rgb(197 197 197);
}
#player audio:focus {
  outline: none;
}
#searchText {
  flex-basis: 100%;
}
#xsSearchButton {
  z-index: 1; /* allow bottom focus border to be visible */
}
@media (min-width: 768px) {
  #searchText {
    margin-bottom: 0;
  }
  #xsSearchButton {
    margin-bottom: 0;
  }
}
#audioCodeSelect {
  height: calc(var(--input-height) - 2px);
  margin-bottom: 0;
}
#audioCodeSelect select {
  width: 100%;
  position: relative;
  z-index: 1;
}

#navigator-tool {
  min-width: 390px;
}
#navigator-tool .button {
  margin-left: 0;
  margin-right: 0;
}
#navigator-tool #historymenu {
  margin-left: 10px;
  margin-right: 10px;
}

#textnav .bookselect {
  min-width: 190px;
}
#textnav > span {
  padding-inline-start: 4px;
}
#textnav #nextchap,
#textnav #nextverse {
  display: block;
  background: url(../images/smallButtonIncrement.png);
  margin-bottom: 1px;
}
#textnav #prevchap,
#textnav #prevverse {
  display: block;
  background: url(../images/smallButtonDecrement.png);
  margin-top: 1px;
}
#textnav .anchorbutton {
  width: 15px;
  height: 8px;
  background-position: 0px 0px;
}
#textnav .anchorbutton:hover {
  background-position: -15px 0px;
}
#textnav .textbox input {
  text-align: center;
}

#optionButtons button.off {
  opacity: 0.5;
}
