.pdf-preview,
.print,
.pageView {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.pageView {
  overflow: visible; /* make overlay shadow visible */
}

.pdf-preview iframe {
  width: 100%;
  height: 100%;
}

.scale {
  transform-origin: top left;
}

.content {
  position: relative; /* for overlay */
  background-color: white;
}

/* This value is < WidePrintWidth. At this width and lower, the print
controls appear below the print container. */
@media (width < 1000px) {
  .print {
    height: unset;
  }
  #root:has(> .print) {
    height: 100%;
    overflow-y: auto;
  }
  .print {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .pageView-container {
    margin-bottom: 10px;
  }
}

@media print {
  .print {
    /* Without 100% height the printed page may be partially hidden */
    height: 100%;
  }
  .print > *:not(.pageView-container),
  #overlay,
  .close-card-button {
    display: none !important;
  }

  /* IMPORTANT: flex display breaks print paging! */
  .print,
  .pageView-container,
  .pageView,
  .scale,
  .content,
  .printContainer {
    display: block !important;
  }

  html,
  body,
  #root,
  .pageable.print,
  .pageable .pageView-container,
  .pageable .pageView,
  .pageable .scale,
  .pageable .content,
  .pageable .printContainer {
    overflow: visible !important;
  }
}
