#fadetop, #fadebot {
  position:relative; /* get z-index to work */
  background:url(chrome://xulsword/skin/images/b2.gif) repeat;
  width:180px;
  height:100px; /* dynamic in viewport.js */
  opacity:0.5;
  z-index:30;
}
#fadetop {
  background-position: 0px 40px;
}
#fadebot {
  background-position: 0px 0px;
}

#biblechooser {
  display:table;
  position:relative;
  height:423px; /* dynamic in viewport.js */
  width:180px; /* dynamic in viewport.js */
  -moz-margin-start:10px;
  padding:6px 6px 6px 3px;
  -moz-border-start:2px solid rgb(175,145,180);
  border-top:2px solid rgb(175,145,180);
  -moz-border-end:2px solid rgb(225,195,230);
  border-bottom:2px solid rgb(225,195,230);
  border-radius:8px;
  background:white;
  cursor:pointer;
}
.biblechooser-cell {
  display:table-cell;
}

#testaments {
  display:table;
  height:100%;
  border-spacing:2px;
}
.testaments-row {
  display:table-row;
}
.testament {
  display:table-cell;
  vertical-align:middle;
  position:relative;
  top:0px;
  height:50%;
  width:22px;
  color:rgb(0,0,100);
  background:rgb(233,233,233);
  border:1px outset rgb(200,200,200);
  font-size:1.2em;
  text-align:center;
}
#biblechooser[showing="ot"] #testament_ot {
  background:rgb(230,200,255);
}
#biblechooser[showing="nt"] #testament_nt {
  background:rgb(230,200,255);
}
#testament_ot {
  border-top-left-radius: 8px;
  padding:26px 0px 8px 0px;
}
#testament_nt {
  border-bottom-left-radius: 8px;
  padding:8px 0px 8px 0px;
}
body[chromedir="rtl"] #testament_ot {
  border-top-right-radius: 8px;
}
body[chromedir="rtl"] #testament_nt {
  border-bottom-right-radius: 8px;
}
#chbutton_close {
  background:url(chrome://xulsword/skin/images/close0.bmp);
  width:15px;
  height:15px;
  position:absolute;
  top:8px;
  left:3px;
}
body[chromedir="rtl"] #chbutton_close {
  left:auto;
  right:11px;
}
#chbutton_close:hover {
  background:url(chrome://xulsword/skin/images/close1.bmp);
}

.biblebooks {
  display:table;
  visibility:hidden;
  border-spacing:2px;
  position:absolute;
  top:8px;
  left:33px;
  background:rgb(255,230,255);
  border:1px outset rgb(200,200,200);
  padding:1px 0px 1px 0px;
  -moz-border-start:1px solid rgb(150,150,150);
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
}
body[chromedir="rtl"] .biblebooks {
  left:auto;
  right:28px;
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
}
#biblechooser[showing="nt"] #biblebooks_nt {
  visibility:visible;
}
#biblechooser[showing="ot"] #biblebooks_ot {
  visibility:visible;
}
.bookname {
  display:table-row;
  color:rgb(0,0,100);
}
.bookname[missing="hide"] {
  display:none;
}
.bookname-div1 {
  display:table-cell;
  vertical-align:middle; 
  background:rgb(233,233,233);
  border:1px outset black;
  padding-top:2px;
  padding-bottom:2px;
  -moz-padding-start:10px;
  -moz-padding-end:2px;
  border-radius:6px;
}
.bookname[selected="true"] .bookname-div1 {
  background:rgb(230,200,255);
}
.bookname .bookname-div1:hover {
  background:yellow;
}
.bookname[missing="disable"] .bookname-div1 {
  background:rgb(225,225,225);
  color:rgb(160,160,160);
  border:1px inset black;
  cursor:default;
}
.bookname-div2 {
  position:relative;
  white-space:nowrap;
  font-size:1.2em;
  -moz-padding-end:20px;
}
.bookname[hasAudio="true"] .bookname-div2 {
	-moz-padding-end:40px;
}
.bookname[hasAudio="true"] .bookname-div2:after {
	position:absolute;
	right:22px;
	top:2px;
	content:url('chrome://xulsword/skin/images/listen-small.png');
	opacity:0.6;
	width:15px;
	height:13px;
}
body[chromedir="rtl"] .bookname[hasAudio="true"] .bookname-div2:after {
	right:auto;
	left:22px;
}
.charrow {
  position:absolute;
  display:inline-block;
  top:1px;
  right:2px;
  background:url(chrome://xulsword/skin/images/arrow.png);
  width:15px;
  height:12px;
}
body[chromedir="rtl"] .charrow {
  right:auto;
  left:2px;
  background:url(chrome://xulsword/skin/images/arrow-rtl.png);
}
.charrow:hover {
  background:url(chrome://xulsword/skin/images/arrow2.png);
}
body[chromedir="rtl"] .charrow:hover {
  background:url(chrome://xulsword/skin/images/arrow2-rtl.png);
}

.chaptermenu {
  visibility:hidden;
  position:absolute;
  display:table;
  left:100%;
  top:0px;
  width:260px;
  border-collapse:separate;
  border-spacing:3px 1px;
  border-spacing:0px 0px;
  z-index:50;
}
body[chromedir="rtl"] .chaptermenu {
  left:auto;
  right:100%;
}
.bookname[missing="false"]:hover .chaptermenu {
  visibility:visible;
}
.chaptermenurow {
  display:table-row;
  background:transparent;
}
.chaptermenucell {
  display:table-cell;
  width:26px;
  font-size:13px;
  text-align:center;
  background:rgb(233,233,233);
  border:1px outset rgb(255,243,255);
  color:blue;
  padding:2px;
}
.chaptermenucell:hover {
  background:yellow;
  border:1px inset rgb(255,243,255);
}
.chaptermenucell[hasAudio="true"]:after {
	-moz-margin-start:2px;
	position:relative;
	top:2px;
	content: url('chrome://xulsword/skin/images/listen-small.png');
	width:15px;
	height:13px;
	opacity:0.5;
}
.emptych {
  visibility:hidden;
}
.headingmenu {
  position:absolute;
  top:0px; /* dynamic in viewport.js */
  min-width:100%;
  visibility:hidden;
  white-space:nowrap;
  font-size:14px;
  -moz-padding-start:20px;
  -moz-padding-end:20px;
  padding-top:10px;
  padding-bottom:10px;
  border:1px outset black;
  background:rgb(233,233,233);
  color:blue;
  box-shadow: 2px 2px 3px 2px #bbb;
  border-radius:6px;
  z-index:60;
}
a .nohead {
	color:blue;
}
.heading-link:hover {
  text-decoration:underline;
  color:blue;
  cursor:pointer;
}
.bookname:hover .chaptermenu[headingmenu="show"] .headingmenu {
  visibility:visible;
}
