@font-face {
	font-family: "Ezra SIL";
	src: url("file:///home/dale/.crosswire/xulsword/resources/fonts/SILEOT.ttf");
}

/* UI classes which are dynamically updated */
.userFontSize {
  font-size:12px;
  text-align:start;
}

/*like userFontSize but NOT dynamically updated */
.fixedFontSize {
  font-size:12px;
  text-align:start;
}

.RTL {
  direction:rtl;
}

