@import url(chrome://global/skin/);
@import url(chrome://xsplatform/skin/xul.css);

/* UI class which is dynamically updated */
.userFontSize {
  font-size:14px;
  text-align:start;
}

/*like userFontSize but NOT dynamically updated */
.fixedFontSize {
  font-size:14px;
  text-align:start;
}

.RTL {
  direction:rtl;
  text-align:start;
}

menu, menuitem, button, textbox, 
toolbarbutton, menulist, label {
  font-family:inherit;
  font-size:inherit;
  line-height:inherit;
  font-size-adjust:inherit;
  direction:inherit;
}

/* button.xml in omni.ja */
.button-box {
  background-color:rgb(255,255,255);
}

/* loads global print preview interface */
toolbar[printpreview="true"] {
  /* overwrite anything inherited from cs-Program class */
  direction:ltr;
  font-family: arial, sans-serif;
  font-size-adjust:none;
  line-height:100%;
  
  -moz-binding: url("chrome://global/content/printPreviewBindings.xml#printpreviewtoolbar");
}
toolbar[printpreview="true"]:-moz-locale-dir(rtl) {
  direction:rtl;
}

/* referenceDropDown.xml */
reference-dropdown {
  -moz-binding: url("chrome://xulsword/content/common/referenceDropdown.xml#reference-dropdown");
}
reference-dropdown menulist[anonid="book"] {
  -moz-margin-end:9px;
}
reference-dropdown menulist[anonid="chapter"] {
  width:4em;
  -moz-margin-start:1px;
  -moz-margin-end:1px;
}
reference-dropdown menulist[anonid="verse"] {
  width:4em;
  -moz-margin-start:1px;
  -moz-margin-end:1px;
}
reference-dropdown menulist[anonid="lastVerse"] {
  width:4em;
  -moz-margin-start:1px;
  -moz-margin-end:1px;
}
reference-dropdown[hidebook="true"][hidechapter="true"][hideverse="true"][hidelastverse="true"] spacer {
  display:none;
}
reference-dropdown menulist menupopup {
  /* fixes a problem where dynamically written
  menupopups were to narrow to read anything */
  min-width:6em;
}

/* ::::: bookmark items FROM browser.css ::::: */
.bookmark-item  {
  list-style-image: url("chrome://xulsword/skin/images/folder-item.png") !important;
  -moz-image-region: rect(0px, 16px, 16px, 0px)
}

.bookmark-item[container="true"] {
  -moz-image-region: rect(0px, 32px, 16px, 16px) !important;
}

.bookmark-item[open="true"],
.bookmark-item[container="true"][open="true"] {
  -moz-image-region: rect(16px, 32px, 32px, 16px) !important;
}

/* DIALOG BUTTONS */
.dialogbuttons {
  margin-top:8px;
  -moz-margin-end:8px;
  margin-bottom:8px;
  -moz-margin-start:16px;
}

.dialogbuttons button {
  -moz-margin-end:8px;
}

.dialogbuttons > hbox {
  min-width:180px;
  -moz-margin-end:8px;
}

/* GROUPBOX GLOBAL */
.groupbox-title {
  margin-bottom:4px;
  font-weight:bold;
}
groupbox {
  margin:-6px 0px 0px 0px;
}

/* MENU ICONS (hidden by default on Linux so make visible always) */
.menu-iconic-left {
  visibility:visible !important;
}
