.atext {
  position: relative;
  vertical-align: top;
  background-color: var(--bg-text-light);
  border: 2px solid var(--border-light);
  height: 100%;
  flex-basis: 100%;
}
.atext:not(:last-child) {
  margin-inline-end: 10px;
}
.atext.pinned {
  background-color: var(--bg-text-pinned);
}

.atext .hd,
.atext .ft {
  text-align: center;
  justify-content: space-around;
}
.atext .text-pin {
  transform: scaleX(-1);
  float: left;
  width: 28px;
  height: 37px;
  position: relative;
  top: -15px;
  left: -8px;
  margin-inline-end: -8px;
  background: url(../../images/pushpin0.png);
  z-index: 5;
}
html[dir='rtl'] .atext .text-pin {
  transform: none;
  float: right;
  left: auto;
  right: -8px;
}
.atext.pinned .text-pin {
  background: url(../../images/pushpin1.png);
}
.atext .text-pin:hover {
  background: url(../../images/pushpin2.png);
}
.atext.Dicts .text-pin,
.atext.Genbks .text-pin {
  display: none;
}

.atext .towindow {
  z-index: 5;
}
html[dir='rtl'] .atext .towindow {
  float: right;
}

.atext .origselect {
  position: absolute;
  top: 32px;
  right: 20px;
}

html[dir='rtl'] .atext .origselect {
  right: unset;
  left: 12px;
}

.atext .audio-icon {
  margin-top: 10px;
  margin-inline-start: 30px;
  margin-bottom: 5px;
}
.atext .audio-icon svg {
  width: 20px;
  height: 20px;
}
.atext .audio-icon + .sb > .chapterhead:first-child {
  padding-top: 5px;
}

.atext .sb {
  flex-basis: 0px;
  padding: 0px 30px;
  display: flow-root;
  overflow-wrap: anywhere;
}
.atext.columns1 .sb {
  overflow: auto;
}
.atext:not(.columns1) .sb {
  overflow: hidden;
  column-gap: 80px;
  column-rule: 4px solid var(--border-light);
  column-fill: auto;
}
@media (max-width: 767px) {
  .bibleBrowser .atext:not(.columns1) .sb {
    column-gap: 14px;
    column-rule-width: 4px;
  }
  .bibleBrowser .atext:not(:last-child) {
    margin-inline-end: 5px;
  }
  .bibleBrowser .atext .sb {
    padding: 0 5px;
  }
}
.atext.Genbks:not(.columns1) .sb {
  overflow: auto;
}
.atext .sbcontrols {
  position: absolute;
  top: 0px;
  left: 0px;
  right: auto;
  padding-inline-start: 12px;
}
html[dir='rtl'] .sbcontrols {
  left: auto;
  right: 0px;
}

.atext .nbc {
  background-color: inherit;
  margin: 0px 8px 0 8px;
  /* fixed width is required for multi-column panels */
  width: calc(100% - 16px);
}
.atext:not(.columns1) .nbc {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.atext[dir='rtl']:not(.columns1) .nbc {
  right: auto;
  left: 0px;
}
.atext .nbc.noteboxEmpty {
  display: none;
}
.atext .dragsizer.horizontal {
  width: 88%;
}
.atext .notebox-maximizer {
  position: absolute;
  background: url(../../images/max.png);
  width: 15px;
  height: 14px;
  top: 0px;
  right: 5px;
}
html[dir='rtl'] .notebox-maximizer {
  right: auto;
  left: 42px;
}
.atext.noteboxMaximized .notebox-maximizer {
  background: url(../../images/norm.png);
}
.atext.columns1 .notebox-maximizer {
  display: none;
}

.atext .nb {
  position: relative; /* required for note scrolling to work! */
  height: 100%;
  overflow: auto;
  background-color: var(--bg-interface-light);
  border: 2px solid var(--border-dark);
  border-radius: 8px;
  padding: 0px 5px 0px 5px;
}
.atext .nb:has(.npopup) {
  position: unset; /* required for popup placement to work! */
}
@media (max-width: 767px) {
  /* Dictionary nb must have max-width for mobile multi-panel
  or long dict entries will cause the entire display to skew.
  50vw works because multi-panel is always 2 on mobile. */
  .multi-panel .atext .nb {
    max-width: calc(50vw - 22px);
  }
  .atext .dictlist {
    padding: 0;
  }
}

/* Header Links */
.navlink {
  color: var(--color-primary);
  margin: 10px;
  cursor: default;
}
.navlink > a,
.aboutlink {
  text-decoration: underline;
  cursor: pointer;
  white-space: nowrap;
}
.atext.prev-disabled .prevchaplink,
.atext.next-disabled .nextchaplink {
  color: grey;
  text-decoration: none;
  cursor: default;
}
.atext.prev-disabled .prevchaplink:hover,
.atext.next-disabled .nextchaplink:hover {
  text-decoration: none;
}

/* Bible & Commentary chapter/page header */
.chapterhead {
  display: inline-block;
  width: 100%;
  padding-top: 26px;
  margin-bottom: 1em;
}
.chaptitle {
  float: left;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--font-heading-color);
}
@media (max-width: 767px) {
  .bibleBrowser .chaptitle {
    font-size: 1.3rem;
  }
}
@media (max-width: 300px) {
  .bibleBrowser .chaptitle {
    font-size: 1rem;
  }
  .bibleBrowser .introlink,
  .bibleBrowser .navlink {
    font-size: 0.8rem;
  }
}
.sb[dir='rtl'] .chaptitle {
  float: right;
}
.chapbk,
.chapch {
  white-space: nowrap;
}
.chapbk {
  display: none;
}
.chapterhead.chapterfirst .chapbk {
  display: block;
}
.atext.pinned .chapbk {
  display: block;
}
.chapinfo {
  float: right;
  min-width: 40px;
  color: var(--font-heading-color);
  margin-top: 1em;
}
.sb[dir='rtl'] .chapinfo {
  float: left;
}
.introlink {
  text-decoration: underline;
  color: var(--color-primary);
  cursor: pointer;
}
.introlink.empty {
  display: none;
}
.head-line-break {
  display: inline-block;
  clear: both;
  margin-bottom: 30px;
}
.introtext {
  display: none;
}

/* Interlinear display */
.interB {
  margin-top: 16px;
  margin-bottom: 16px;
}
.interB + .interB {
  border-top: 1px solid var(--border-dark);
  padding-top: 1em;
}
.interS {
  color: var(--color-primary);
  width: 50px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.matchingStrongs2 {
  border-radius: 4px;
  background-color: hsla(298, 100%, 50%, 0.5);
}
.matchingStrongs1 {
  border-radius: 4px;
  background-color: hsla(123, 100%, 50%, 0.5);
}
.matchingStrongs0 {
  border-radius: 4px;
  background-color: hsla(60, 100%, 50%, 0.5);
}

.atext.Texts .bmnote {
  border-radius: 4px;
  background-color: hsla(60, 100%, 50%, 0.5);
}

/* Verse-per-line button */
.versePerLineButton {
  display: block;
  position: relative;
}

.versePerLineButton > div {
  position: absolute;
  display: inline-block;
  left: -25px;
  background: url(../../images/versePerLine.png);
  background-position: 0px 0px;
  width: 17px;
  height: 20px;
}
.sb[dir='rtl'] .versePerLineButton > div {
  left: auto;
  right: -25px;
  transform: scaleX(-1);
}
.verse-per-line .versePerLineButton > div {
  background-position: -34px 0px;
  top: 0px;
}
.versePerLineButton > div:hover {
  background-position: -17px 0px;
}
.verse-per-line .versePerLineButton > div:hover {
  background-position: -51px 0px;
}
.verse-per-line .vs {
  display: block;
}
.always-vpl .versePerLineButton {
  display: none;
}

/* Bible footnotes */
.fntable {
  display: table;
  border-collapse: separate;
  border-spacing: 0px 1px;
  margin-inline-start: 10px;
}
.fnrow {
  display: table-row;
  padding-inline-end: 16px;
}
.fnrow > div {
  padding: 2px 0;
}
.fncol1 {
  display: table-cell;
  width: 6px;
  padding-top: 8px;
}
.crtwisty {
  width: 9px;
  height: 9px;
  background: url(../../images/twisty-open.png);
}
.cropened .crtwisty {
  background: url(../../images/twisty-close.png);
}
.fncol2 {
  display: table-cell;
  visibility: hidden;
  padding-top: 12px;
}
.fndash {
  width: 6px;
  height: 0.3rem;
  border-top: 1px solid var(--border-dark);
}
.fncol3 {
  display: table-cell;
  visibility: hidden;
  width: 6px;
  border-top: 1px solid var(--border-dark);
  border-left: 1px solid var(--border-dark);
  border-bottom: 1px solid var(--border-dark);
}
.cropened .fncol2,
.cropened .fncol3 {
  visibility: visible;
}
html[dir='rtl'] .fncol3 {
  border-left: none;
  border-right: 1px solid var(--border-dark);
}
.fncol4 {
  display: table-cell;
  text-align: end;
  white-space: nowrap;
  padding-top: 2px;
}
.fnlink {
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-primary);
}
.fncol5 {
  display: table-cell;
  padding: 0px 4px 0px 4px;
  border: 1px solid transparent;
  border-radius: 6px;
}
.fnselected .fncol5 {
  border: 1px outset yellow;
  background-color: var(--bg-text-light);
}
.pinned .fnselected .fncol5 {
  background-color: var(--bg-text-light);
}
.crref {
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-primary);
}
.cropened span.possibleV11nMismatch {
  font-size: xx-small;
  vertical-align: super;
}
.crref-miss {
  color: var(--color-primary);
}
.crtext .alternate {
  font-style: italic;
}
.crtext .anytab {
  font-style: italic;
  font-weight: bold;
}
.crtext {
  display: none;
}
.cropened .crtext {
  display: inline;
}
.cropened .crtext.opposing-program-direction {
  display: inline-block;
}
.cr-sep {
  display: inline;
}
.cr-sep:after {
  content: ';';
}
.cropened .cr-sep {
  display: block;
  border-top: 1px solid grey;
  margin: 10px;
}
.cropened .cr-sep:after {
  content: '';
  padding-inline-end: 0;
}
.fntext.opposing-program-direction {
  display: inline-block;
}
.noteBoxUserNote {
  font-style: italic;
}

/* Other footnotes */
.nlist {
  clear: both;
  border-top: 1px solid grey;
  margin: 24px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
}
.nlist:first-of-type {
  margin-top: 50px;
}

/* Dictionary styles */
.dictentry {
  display: table;
  height: 100%;
  width: 100%;
}
.dictentry > div {
  display: table-cell;
  vertical-align: middle;
}
.dictlist {
  padding: 0 16px 16px 16px;
}
.dictlist .headerbox {
  position: sticky;
  top: 0px;
  padding: 16px 0px 5px 0px;
  background-color: var(--bg-interface-light);
}
.dictlist input {
  width: calc(100% - 8px);
}
.dictlist .keylist {
  margin-top: 10px;
  max-height: calc(100% - 13px);
}
.dictlist .dictkey {
  cursor: pointer;
}
.dictselectkey {
  background-color: var(--bg-interface-selection);
  color: var(--bg-bp6-light);
}
.dict-description {
  font-weight: bold;
}
.dict-sep {
  border-top: 3px solid grey;
  margin: 10px;
}
.dict-entry-heading {
  font-weight: bold;
}

/* HTML TABLES */
.sb table {
  margin: 1em 0 0 1.5em;
}
.sb table td.label {
  font-style: italic;
  margin-top: 1em;
}
.sb table td.x-number {
  text-align: right;
}
.atext:not(.Texts) .sb table td:not(.label) {
  border: 1px outset grey;
  padding: 10px;
}
.sb td .head1 {
  font-size: 1rem !important;
}
.sb td .head2 {
  font-size: 1rem !important;
}
