.chooser {
  height: 100%;
}
.chooser .fadetop,
.chooser .fadebot {
  position: relative; /* get z-index to work */
  opacity: 0.7;
  z-index: 6;
}
.chooser .fadetop {
  height: 32px;
  background-position: -15px 40px;
  margin-top: -10px;
}
.chooser .fadebot {
  background-position: -15px 0;
  margin-bottom: -25px;
}

.chooser {
  font-size: 15px;
}
.chooser .bookgroup-selector {
  width: 26px;
}
.chooser .chooser-container {
  position: relative;
  padding-top: 6px;
  padding-inline-end: 6px;
  padding-bottom: 6px;
  padding-inline-start: 3px;
  border-inline-start: 2px solid rgb(175, 145, 180);
  border-top: 2px solid rgb(175, 145, 180);
  border-inline-end: 2px solid rgb(225, 195, 230);
  border-bottom: 2px solid rgb(225, 195, 230);
  border-radius: 8px;
  background: white;
  cursor: pointer;
  flex-shrink: 1;
  max-height: 760px; /* NT height */
}
.chooser .bookgroup {
  position: relative;
  flex-basis: 0;
  overflow: hidden;
  color: rgb(0, 0, 100);
  background-color: rgb(233, 233, 233);
  border: 1px outset rgb(200, 200, 200);
  font-size: inherit;
  text-align: center;
  margin: 1px 2px;
}
.chooser .bookgroup.other {
  background-image: repeating-linear-gradient(
    45deg,
    rgba(175, 145, 180, 0.25) 0 2px,
    transparent 1px 4px
  );
}
.chooser .bookgroup.selected {
  background-color: rgb(230, 200, 255);
}
.chooser .close-chooser {
  position: absolute;
  background: url(../images/close0.png);
  width: 15px;
  height: 15px;
  top: 13px;
  left: 9px;
  z-index: 8;
}
html[dir='rtl'] .chooser .close-chooser {
  left: auto;
  right: 9px;
}
.chooser .close-chooser:hover {
  background: url(../images/close1.png);
}
.chooser .bookgroup:first-child {
  border-top-left-radius: 8px;
  padding: 26px 0px 8px 0px;
}
.chooser .bookgroup:last-child {
  border-bottom-left-radius: 8px;
  padding: 8px 0px 8px 0px;
}
html[dir='rtl'] .chooser .bookgroup:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 8px;
}
html[dir='rtl'] .chooser .bookgroup:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 8px;
}

.chooser .bookgroup .label {
  width: 100%;
  height: 100%;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}
html.ky-Arab .label.ot {
  background-image: url('../../../../assets/locales/ky-Arab/OT.png');
}
html.ky-Arab .label.nt {
  background-image: url('../../../../assets/locales/ky-Arab/NT.png');
}
html.fa .label.ot {
  background-image: url('../../../../assets/locales/fa/OT.png');
}
html.fa .label.nt {
  background-image: url('../../../../assets/locales/fa/NT.png');
}
html.ug .label.ot {
  background-image: url('../../../../assets/locales/ug/OT.png');
}
html.ug .label.nt {
  background-image: url('../../../../assets/locales/ug/NT.png');
}
.chooser .book-list {
  position: relative;
  background: rgb(240, 235, 240);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
html[dir='rtl'] .chooser .book-list {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* BookGroupList Component */
.bookgrouplist {
  width: 100%;
  background: rgb(255, 230, 255);
  border: 1px outset rgb(200, 200, 200);
  padding: 1px 0px 1px 0px;
  border-inline-start: 1px solid rgb(150, 150, 150);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
html[dir='rtl'] .bookgrouplist {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* BookGroupItem Component */
.bookgroupitem {
  position: relative;
  vertical-align: middle;
  font-size: inherit;
  white-space: nowrap;
  margin: 2px 2px 0 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-inline-start: 10px;
  padding-inline-end: 2px;
  color: rgb(0, 0, 100);
  background: rgb(233, 233, 233);
  border: 1px outset rgb(150, 150, 150);
  border-radius: 6px;
}
.bookgroupitem:last-child {
  margin-bottom: 2px;
}
.sizer .bookgroupitem {
  /* Extra fudge because names with the same number of letters may
  have slightly different widths. */
  padding-inline-end: 5px;
}
.sizer.audio .bookgroupitem {
  /* 16px + 4px to leave space for audio icon. */
  padding-inline-end: 20px;
}
.bookgroupitem.selected {
  background: rgb(230, 200, 255);
}
.other .bookgroupitem.selected {
  background-image: repeating-linear-gradient(
    45deg,
    rgba(175, 145, 180, 0.25) 0 2px,
    transparent 1px 4px
  );
}
.bookgroupitem:hover {
  background: yellow;
}
.bookgroupitem.disabled {
  background: rgb(225, 225, 225);
  color: rgb(160, 160, 160);
  border: 1px inset black;
  cursor: default;
}
.bookgroupitem .label {
  flex-basis: 100%;
  flex-shrink: 1;
  margin-inline-end: 2px;
}
.bookgroupitem .audio-icon {
  margin-inline-end: 4px;
}
.bookgroupitem .charrow {
  position: relative;
  top: 2px;
  margin-inline-end: 2px;
  background: url(../images/arrow.png);
  width: 15px;
  height: 12px;
}
.bookgroupitem .hasAudo {
  margin-inline-end: 2px;
  background-image: url('../images/listen-small.png');
  opacity: 0.6;
  width: 15px;
  height: 13px;
}
html[dir='rtl'] .bookgroupitem .charrow {
  background: url(../images/arrow-rtl.png);
}
.bookgroupitem:not(.disabled):hover .charrow {
  background: url(../images/arrow2.png);
}
html[dir='rtl'] .bookgroupitem:not(.disabled):hover .charrow {
  background: url(../images/arrow2-rtl.png);
}

/* ChapterMenu Component */
.chaptermenu {
  visibility: hidden;
  position: absolute;
  display: table;
  left: 100%;
  top: 0px;
  width: 260px;
  border-collapse: separate;
  border-spacing: 3px 1px;
  border-spacing: 0px 0px;
  z-index: 8;
}
html[dir='rtl'] .chaptermenu {
  left: auto;
  right: 100%;
}
.bookgroupitem:not(.disabled):not(.hidden):hover .chaptermenu {
  visibility: visible;
}
.chaptermenu .chaptermenurow {
  display: table-row;
  background: transparent;
}
.chaptermenu .chaptermenucell {
  display: table-cell;
  width: 26px;
  font-size: inherit;
  text-align: center;
  background: rgb(233, 233, 233);
  border: 1px outset rgb(255, 243, 255);
  color: blue;
  padding: 2px;
}
.chaptermenu .chaptermenucell:hover {
  background: yellow;
  border: 1px inset rgb(255, 243, 255);
}
.chaptermenu .chaptermenucell.hasAudio:after {
  margin-inline-start: 2px;
  position: relative;
  top: 2px;
  content: url('../images/listen-small.png');
  width: 15px;
  height: 13px;
  opacity: 0.5;
}
.chaptermenu .emptych {
  visibility: hidden;
}
.chaptermenu .headingmenu {
  position: absolute;
  min-width: 100%;
  visibility: hidden;
  white-space: nowrap;
  font-size: inherit;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px outset black;
  background: rgb(233, 233, 233);
  color: blue;
  box-shadow: 2px 2px 3px 2px #bbb;
  border-radius: 6px;
  z-index: 9;
}
.chaptermenu.show .headingmenu {
  visibility: visible;
}
.chaptermenu .heading-link {
  color: blue;
}
.chaptermenu .heading-link:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
