/* This stylesheet is not referenced anywhere (so it's not handled by webpack).
But it must be linked to in the <head> of every content document which
hosts the webapp (iframes and hosts). */

/* Be default, the iframe content is scrollable */
html.ownsDocument,
html.ownsDocument body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

/* But in auto-height mode (set by bibleBrowserParent.js) the iframe should NOT
be scrollable. */
html.ownsDocument.auto-height,
html.ownsDocument.auto-height body {
  overflow: clip;
}

/* fitToContent is set on #root by controller.tsx (used by webapp?) */
html.ownsDocument:has(#root.fitToContent),
html.ownsDocument:has(#root.fitToContent) body {
  width: fit-content;
  height: fit-content;
}

html.ownsDocument *:not(#root, :has(#root)) {
  display: none;
}

#root {
  /* This is the minimum height a hosted webapp will take. */
  --min-height: max(540px, 80vh);
}
html.ownsDocument #root {
  /* This is the minimum height an iframed webapp will take.
  If iframe height is ever less than this, a scroll-bar will appear in the
  webapp. This is the optimal height for current third-party sites that use
  the webapp without bibleBrowserParent.js control. */
  --min-height: 540px;
}

#root:not(.finished-loading) {
  height: var(--min-height);
  position: relative;
}
#root:not(.finished-loading):after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: var(--loader-url) 50% 50% no-repeat rgb(249, 249, 249);
  opacity: 0.8;
}
