/* These rules apply to the document itself, not within a webapp shadow root.
 Webpack adds all ownsDocument.css files to the document <head>.
*/

/* Be default, an owned document's top is scrollable */
html.ownsDocument,
html.ownsDocument body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

/* But in Electron or auto-height mode (set by bibleBrowserParent.js) 
the top should NOT be scrollable. */
html.ownsDocument.auto-height,
html.ownsDocument:has(.isElectron),
html.ownsDocument.auto-height body,
html.ownsDocument:has(.isElectron) body {
  overflow: clip;
}

/* fitToContent is set on #root by controller.tsx */
html.ownsDocument:has(#root.fitToContent),
html.ownsDocument:has(#root.fitToContent) body {
  width: fit-content;
  height: fit-content;
}

