#body {
  background-image:url(chrome://xulsword/skin/images/9.gif) !important;
  padding:10px;
}
.arm-label {font-weight:bold;}

#body {
  min-height:400px;
}

#showLanguagesButCont button {
  min-width:30px;
}
#languageListTree {
  width:160px;
}
#moduleListTree {
  width:440px;
}
#repoListTree {
  min-width:600px;
  height:150px;
}
#windowButtons > hbox > button {
  width:160px;
}

#Status, #ModStatus, #ModVersion {
  text-align:center;
}

#repoListTree treechildren::-moz-tree-cell(red),
#moduleListTree treechildren::-moz-tree-cell(red) {
  background:rgb(255,200,200);
}
#repoListTree treechildren::-moz-tree-cell(yellow),
#moduleListTree treechildren::-moz-tree-cell(yellow) {
  background:rgb(255,255,200);
}
#repoListTree treechildren::-moz-tree-cell(green),
#moduleListTree treechildren::-moz-tree-cell(green) {
  background:rgb(200,255,200);
}

#moduleDialog[showModuleInfo="false"] #showModulesButton,
#moduleDialog[showModuleInfo="true"] #showInfoButton {
  display:none;
}

#moduleDialog[showLanguageList="true"] #showLanguagesButCont {
  display:none;
}
#moduleDialog[showLanguageList="false"] #languageListContainer,
#moduleDialog[showLanguageList="false"] #langListSplitter,
#moduleDialog[showLanguageList="true"] .defhide {
  display:none;
}
#showLanguagesButton {
  width:30px;
}

#body[showRepositoryList="false"] #repoDialog,
#body[showRepositoryList="false"] #repoSplitter,
#body[showRepositoryList="false"] #hideRepoButton {
  display:none;
}
#body[showRepositoryList="true"] #showRepoButton,
#body[showRepositoryList="true"] #repoProgress {
  display:none;
}

#infoBox {
  width:100%;
  height:100%;
  margin: 0px 4px;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  background-color: -moz-Field;
  color: -moz-FieldText;
  -moz-appearance: listbox;
}

#windowButtons {
  margin-top:20px;
}

/* button icons */
.arm-go-forward,
.arm-go-back,
.arm-save,
.arm-help,
.arm-cancel,
.arm-yes,
.arm-add,
.arm-remove {
  list-style-image: url("chrome://xulsword/skin/images/arm-icons.png");
}
.arm-yes        {-moz-image-region: rect(0px 16px 16px 0px);}
.arm-add        {-moz-image-region: rect(0px 32px 16px 16px);}
.arm-remove     {-moz-image-region: rect(0px 48px 16px 32px);}
.arm-cancel     {-moz-image-region: rect(0px 64px 16px 48px);}
.arm-go-forward {-moz-image-region: rect(0px 80px 16px 64px);}
.arm-go-back    {-moz-image-region: rect(0px 96px 16px 80px);}
.arm-save       {-moz-image-region: rect(0px 112px 16px 96px);}
.arm-help       {-moz-image-region: rect(0px 128px 16px 112px);}
.arm-yes[disabled="true"]        {-moz-image-region: rect(16px 16px 32px 0px);}
.arm-add[disabled="true"]        {-moz-image-region: rect(16px 32px 32px 16px);}
.arm-remove[disabled="true"]     {-moz-image-region: rect(16px 48px 32px 32px);}
.arm-cancel[disabled="true"]     {-moz-image-region: rect(16px 64px 32px 48px);}
.arm-go-forward[disabled="true"] {-moz-image-region: rect(16px 80px 32px 64px);}
.arm-go-back[disabled="true"]    {-moz-image-region: rect(16px 96px 32px 80px);}
.arm-save[disabled="true"]       {-moz-image-region: rect(16px 112px 32px 96px);}
.arm-help[disabled="true"]       {-moz-image-region: rect(16px 128px 32px 112px);}




