#body {
  min-height:400px;
}

#repoListTree {
  min-width:600px;
}

#Status, #ModStatus {
  text-align:center;
}

#repoListTree treechildren::-moz-tree-cell(red),
#moduleListTree treechildren::-moz-tree-cell(red) {
  background:rgb(255,200,200);
}
#repoListTree treechildren::-moz-tree-cell(yellow),
#moduleListTree treechildren::-moz-tree-cell(yellow) {
  background:rgb(255,255,200);
}
#repoListTree treechildren::-moz-tree-cell(green),
#moduleListTree treechildren::-moz-tree-cell(green) {
  background:rgb(200,255,200);
}

#moduleDialog[showModuleInfo="false"] #showModulesButton,
#moduleDialog[showModuleInfo="true"] #showInfoButton {
  display:none;
}

#languageListTree {
  width:160px;
}

#infoBox {
  width:100%;
  height:100%;
}

#windowButtons {
  margin-top:20px;
}
