.moduleDownloader .language-pane .groupbox-body {
  padding: 0;
}

.moduleDownloader .button-stack > * {
  margin: 6px 0;
  margin-inline-start: 10px;
}

.repositorytable .bp4-table-cell-col-4,
.moduletable .bp4-table-cell-col-14,
.moduletable .bp4-table-cell-col-14 {
  text-align: center;
  font-size: 18px;
}

.repository-table .custom-repo {
  border: 1px dotted rgb(0 132 255);
}
