.moduleDownloader .language-pane .groupbox-body {
  padding: 0;
}

.moduleDownloader .button-stack > * {
  margin: 6px 0;
  margin-inline-start: 10px;
}

.repositoryTableCont {
  overflow: hidden;
}

.repositorytable .bp4-table-cell-col-3 {
  text-align: center;
  font-size: 18px;
}

.repositorytable .repo-custom {
  border: 1px dotted rgb(0 132 255);
}
