/* UI classes which are dynamically updated */
.userFontSize {
  font-size:12px;
}

/*like userFontSize but NOT dynamically updated */
.fixedFontSize {
  font-size:12px;
}

.RTL {
  direction:rtl;
  text-align:right;
}

.opposing-program-direction {
  text-align:right !important;
}
body[chromedir="rtl"] .opposing-program-direction {
  text-align:left !important;
}
