.tabs {
  position: relative;
  top: 2px;
  height: 25px;
  overflow: hidden;
  display: inline-block;
  text-align: end;
  vertical-align: bottom;
  white-space: nowrap;
  z-index: 4;
  font-size: 0.95em;
  /* Following values are used in tabs.tsx */
  padding-inline-start: 20px;
  padding-inline-end: 10px;
}
.tabs.open {
  overflow: visible;
}

.tabs .tab {
  display: inline-block;
  cursor: default;
  font-size: 0.86em;
  height: 25px;
  /* Following value is used in tabs.tsx */
  margin: 0px 3px 0px 3px;
  color: grey;
  background: rgb(255, 250, 255);
  border-top: 1px solid transparent;
  border-left: 2px solid rgb(200, 170, 205);
  border-right: 2px solid rgb(200, 170, 205);
  border-bottom: 2px solid rgb(200, 170, 205);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  cursor: pointer;
}
.tabs .tab .border {
  border-top: 2px solid transparent;
  padding: 0px 5px;
}
.tabs .tabPlus > .border {
  cursor: default;
  border-top-color: rgb(200, 170, 205);
}
.tabs .tabPlus .xsinput {
  margin: 0;
  background-color: unset;
  box-shadow: unset;
  border-radius: unset;
  padding: 3px 0 3px;
}
.tabs .tabPlus select {
  cursor: pointer;
  appearance: none;
  width: 15px;
  height: 15px;
  color: transparent;
  background-image: url('../../../../assets/plus.svg');
}
.tabs .tabPlus select * {
  color: #1c2127;
}
.tabs .mts-tab {
  padding-inline-end: 0px;
  /* Following value is used in tabs.tsx */
  max-width: 50%;
}
.tabs .mts-tab .anchorbutton .menupopup {
  top: 17px;
  right: 0px;
  overflow: auto;
  transform: unset;
}
html[dir='rtl'] .tabs .mts-tab .anchorbutton .menupopup {
  right: unset;
  left: 0px;
}
.tabs .mts-tab > div > .tab-label {
  max-width: calc(100% - 12px);
}
.tabs .mts-tab .anchorbutton {
  width: 12px;
  height: 12px;
  background-image: url(../images/dropdown-menu.png);
  position: relative;
}
.tabs .mts-tab .anchorbutton .menupopup .tab {
  max-width: calc(50vw - 10px);
}
.tabs .mto-tab {
  display: block;
  margin: 1px 2px;
  padding: 0 0 4px 0;
  font-size: 1em;
  box-sizing: content-box;
}
.tabs .mto-tab.selected {
  display: none;
}
.tabs .tab.active {
  color: rgb(40, 40, 255);
  border-bottom-color: rgb(255, 243, 255);
  background: rgb(255, 243, 255);
}
.tabs .ilt-tab.disabled {
  color: lightgray;
}
.tabs.pinned .tab.active {
  background: white;
  border-bottom-color: white;
}
.tabs .tabTexts {
  border-top-color: rgba(235, 50, 80, 0.2);
}
.tabs .tabComms {
  border-top-color: rgba(100, 100, 255, 0.2);
}
.tabs .tabDicts {
  border-top-color: rgba(255, 255, 0, 0.2);
}
.tabs .tabGenbks {
  border-top-color: rgba(100, 245, 245, 0.2);
}
.tabs .tabTexts > .border {
  border-top-color: rgba(170, 40, 60, 0.8);
}
.tabs .tabComms > .border {
  border-top-color: rgba(100, 100, 255, 0.8);
}
.tabs .tabDicts > .border {
  border-top-color: rgba(204, 204, 0, 0.8);
}
.tabs .tabGenbks > .border {
  border-top-color: rgba(100, 245, 245, 0.8);
}

.tabs .tab-label {
  max-width: 160px;
  position: relative;
  top: 2px;
  overflow: hidden;
}
.tabs .border > * {
  display: inline-block;
}
