.tabs {
  position: relative;
  top: 2px;
  height: 25px;
  overflow: hidden;
  display: inline-block;
  text-align: end;
  vertical-align: bottom;
  white-space: nowrap;
  z-index: 4;
  font-size: 0.95em;
  /* Following values are used in tabs.tsx */
  padding-inline-start: 20px;
  padding-inline-end: 10px;
}
.tabs.open {
  overflow: visible;
}

.tabs .tab {
  display: inline-block;
  cursor: default;
  font-size: 0.86em;
  height: 25px;
  color: grey;
  /* Following value is used in tabs.tsx */
  margin: 0px 3px 0px 3px;
  background-color: var(--bg-bp6-light);
  border-left: 2px solid var(--border-light);
  border-right: 2px solid var(--border-light);
  border-bottom: 2px solid var(--border-light);
  border-top: 1px solid transparent;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  cursor: pointer;
}
.tabs .tab .border {
  border-top: 2px solid transparent;
  padding: 0px 5px;
}
.tabs .tabPlus > .border {
  cursor: default;
  border-top-color: var(--border-light);
}
.tabs .tabPlus .xsinput {
  margin: 0;
  background-color: unset;
  box-shadow: unset;
  border-radius: unset;
  padding: 3px 0 3px;
}
.tabs .tabPlus select {
  cursor: pointer;
  appearance: none;
  width: 15px;
  height: 15px;
  color: transparent;
  background-image: url(../../images/plus.svg);
}
.tabs .tabPlus select * {
  color: black;
}
/* NOTE: builtin select option:hover color and background-color cannot be
changed */
.tabs .mts-tab {
  position: relative;
  padding-inline-end: 0px;
  /* Following value is used in tabs.tsx */
  max-width: 50%;
}
.tabs .mts-tab .anchorbutton .menupopup {
  right: 0px;
  overflow: auto;
  transform: unset;
}
html[dir='rtl'] .tabs .mts-tab .anchorbutton .menupopup {
  right: unset;
  left: 0px;
}
.tabs .mts-tab > div > .tab-label {
  max-width: calc(100% - 12px);
}
.tabs .mts-tab .anchorbutton {
  width: 12px;
  height: 12px;
  background-image: url(../../images/dropdown-menu.png);
}
.tabs .mts-tab .anchorbutton .menupopup .tab {
  max-width: calc(50vw - 10px);
  border-bottom: none;
}
a.anchorbutton .tab:hover {
  color: var(--bg-bp6-light);
  background-color: var(--bg-interface-selection);
}
.tabs .mto-tab {
  display: block;
  margin: 1px 2px;
  padding: 0 0 4px 0;
  font-size: 1em;
  box-sizing: content-box;
}
.tabs .mto-tab.selected {
  display: none;
}
.tabs .tab.active {
  background-color: var(--bg-text-light);
  border-bottom-color: var(--bg-text-light);
  color: var(--color-primary);
}
.tabs .ilt-tab.disabled {
  color: lightgray;
}
.tabs.pinned .tab.active {
  /* same as atext.css .atext.pinned */
  background-color: var(--bg-text-pinned);
  border-bottom-color: var(--bg-text-pinned);
}
.tabs .tabTexts {
  border-top-color: var(--color-primary);
}
.tabs .tabComms {
  border-top-color: var(--color-secondary2);
}
.tabs .tabDicts {
  border-top-color: var(--color-secondary);
}
.tabs .tabGenbks {
  border-top-color: var(--color-secondary3);
}
.tabs .tabTexts > .border {
  border-top-color: var(--color-primary);
}
.tabs .tabComms > .border {
  border-top-color: var(--color-secondary2);
}
.tabs .tabDicts > .border {
  border-top-color: var(--color-secondary);
}
.tabs .tabGenbks > .border {
  border-top-color: var(--color-secondary3);
}

.tabs .tab-label {
  max-width: 160px;
  position: relative;
  top: 2px;
  overflow: hidden;
}
.tabs .border > * {
  display: inline-block;
}
