#body {
  min-height:400px;
}

#repoListTree {
  min-width:600px;
}

#Status, #ModStatus {
  text-align:center;
}
#repoListTree treechildren::-moz-tree-cell(red) {
  background:rgb(255,200,200);
}
#repoListTree treechildren::-moz-tree-cell(yellow) {
  background:rgb(255,255,200);
}
#repoListTree treechildren::-moz-tree-cell(green) {
  background:rgb(200,255,200);
}

#moduleInfoContainer,
#moduleDialog[showModuleInfo="true"] #moduleListContainer {
  display:none;
}
#showInfo,
#moduleDialog[showModuleInfo="true"] #showModules {
  display:block;
}
#showModules,
#moduleDialog[showModuleInfo="true"] #showInfo {
  display:none;
}

#languageListTree {
  width:160px;
}
#moduleListTree treechildren::-moz-tree-cell(red) {
  background:rgb(255,200,200);
}
#moduleListTree treechildren::-moz-tree-cell(yellow) {
  background:rgb(255,255,200);
}
#moduleListTree treechildren::-moz-tree-cell(green) {
  background:rgb(200,255,200);
}

#windowControl {
  margin-top:20px;
}

#iframe {
  display:none;
  height:500px;
}
