/* CSS Document */

window {
  background-image:url(chrome://xulsword/skin/images/9.gif);
}

toolbar {
  font-size:0.8em;
}
#searchrow {
  padding:4px;
}
toolbar[showAdvanced="true"] #more,
toolbar[showAdvanced="false"] #less,
toolbar[showAdvanced="false"] #Comms-row,
toolbar[showAdvanced="false"] #Dicts-row,
toolbar[showAdvanced="false"] #Genbks-row,
toolbar[showAdvanced="false"] #advanced {
  display:none;
}
#searchText {
  width:20em; 
}
#helpButton {
  list-style-image: url("chrome://xulsword/skin/images/help.png") !important;
}
#helpButton {
  -moz-image-region: rect(0px, 27px, 27px, 0px) !important;
}
#helpButton:hover {
  -moz-image-region: rect(0px, 54px, 27px, 27px) !important;
}

#search-module { 
  overflow-x:auto;
  overflow-y:hidden;
}
#search-module row label:nth-child(1) {
  font-weight:bold;
  text-align:end;
}
#modulePanel grid {
  padding-bottom:10px; /* for possible scroll-bar */
}
groupbox {
  margin:5px 10px 5px 10px;
}
#dividerBox {
  background:rgb(220,220,220);
  border:2px grey outset;
  border-radius:8px;
  opacity:0.8;
}
#createSearchIndexBox > hbox {
  padding:3px;
  background:rgb(200,200,200);
  border-radius:4px;
}
#bible-translator menulist[anonid="version"] {
  min-width:100px;
  width:100%;
  margin:5px 10px 0px 10px;
  padding:0px;
  
}

#searchframe-cont {
  padding:5px 10px 10px 10px;
  background-image:url("chrome://xulsword/skin/images/b2.gif");
}
.searchframe {
  border:2px solid rgb(200,170,205);
  border-radius:4px;
  background:white;
}
#resultsnav {
  margin-left:10px; 
}
image#first {
  list-style-image: url("chrome://xulsword/skin/images/topArrow.bmp") !important;
}
image#last {
  list-style-image: url("chrome://xulsword/skin/images/bottomArrow.bmp") !important;
}
image#prev {
  list-style-image: url("chrome://xulsword/skin/images/upArrow.bmp") !important;
}
image#next {
  list-style-image: url("chrome://xulsword/skin/images/downArrow.bmp") !important;
}
.searchArrow {
  -moz-image-region: rect(0px, 35px, 34px, 0px) !important;
}
.searchArrow:hover {
  -moz-image-region: rect(0px, 70px, 34px, 35px) !important;
}

statusbar[chromedir="rtl"] > statusbarpanel > resizer {
  display:none;
}
#progressbox {
  visibility:hidden;
}
#progress {
  margin-right:10px;
}
#stopButton {
  margin-top:4px; 
}

