/* this selector is copied by Javascript 
and applied to Strong's classes */
.matchingStrongs {
  color:red;
}
#lexiconBox {
  display:none;
}
#search-content[hasLexicon="true"] #lexiconBox {
  display:block;
}
.snlist {
  display:block;
}
.slist, .snlist {
  white-space:nowrap;
}
.slist > a,
.snlist a {
  color:blue;
  display:inline-block;
  position:relative;
  text-decoration:underline;
  cursor:pointer;
}
.slist > a:after,
.strongs-type:after {
  content:'-';
  padding-left:4px;
  padding-right:4px;
}
.slist > span,
.snlist span {
  display:inline-block;
}
.lex-total:before {
  content:'[';
  padding:0px;
}
.lex-total:after {
  content:']:';
  -moz-padding-end:4px;
}
.lex-count:before {
  content:'(';
}
.lex-count:after {
  content:'),';
  -moz-margin-end:0.3em;
}
.lex-count:last-child:after {
  content:')';
  -moz-margin-end:0.3em;
}
.lex-sep {
  border-top:1px solid grey;
  margin:10px;
}
a.sn span {
  text-decoration:underline;
}
.searchTerm {
  color:red;
}


/* PRINTING STYLES */
@media print {

.slist {
  white-space:normal;
}

}
