/* this selector is copied by Javascript 
and applied to Strong's classes */
.matchingStrongs {
  color:red;
}
#lexiconBox {
  display:none;
}
#search-content[hasLexicon="true"] #lexiconBox {
  display:block;
}
.slist {
  white-space:nowrap;
}
.slist > a {
  color:blue;
}
.slist > a:after {
  content:'-';
  padding-left:4px;
  padding-right:4px;
}
.slist > a:hover {
  border-bottom:1px solid blue;
}
.slist > span {
  display:inline-block;
}
.slist > .lex-total:before {
  content:'(';
  padding:0px;
}
.lex-total:after {
  content:')';
  -moz-padding-end:4px;
}
.lex-count:before {
  content:'(';
}
.lex-count:after {
  content:'), ';
}
.lex-sep {
  border-top:1px solid grey;
  margin:10px;
}
.searchTerm {
  color:red;
}


/* PRINTING STYLES */
@media print {

.slist {
  white-space:normal;
}

}
