body {
  font-size:12px;
  background-image: url(chrome://xulsword/skin/images/9.gif);
  position:relative;
  overflow:hidden;
}
#helpPane {
  overflow:auto;
  position:absolute;
  top:0px;
  width:calc(100% - 44px);
  padding:20px;
  background:white;
  border:2px solid rgb(200,170,205);
  border-radius:4px;
}
.searchTypes {
  font-size:larger;
  font-weight:bold;
}
.typeName {
  font-weight:bold;
}
.desc {
  margin:10px 0px 10px 0px;
}
.typeName, .typeDesc {
  display:inline;
}
table {
  font-size:12px;
  border-collapse:collapse;
  border:2px solid rgb(200,170,205);
  border-radius:4px;
}
.odd-row {
  background:rgb(245,245,245);
}
.even-row {
  background:rgb(230,230,230);
}
td {
  padding:5px;
}
.col0 {
  text-align:center;
}
#caseMessage {
  margin-top: 1em;
}
