.audioplayer {
  padding: 3px;
  /* colors and shadow of bp6 button */
  background-color: var(--bp6-button-color);
  box-shadow: var(--bp6-box-shadow);
}
.audioplayer > * {
  margin: 0;
}

.audioplayer #audioCodeSelect {
  height: calc(var(--input-height) - 2px);
  margin-bottom: 0;
}
.audioplayer #audioCodeSelect select {
  width: 100%;
  position: relative;
  z-index: 1;
}

.audioplayer audio {
  height: var(--input-height);
  vertical-align: middle;
  border: 1px solid rgb(197 197 197);
  background-color: var(--bp6-button-color);
}
.audioplayer audio:focus {
  outline: none;
}
