html.about,
html.about body,
html.about #root {
  min-width: 500px;
  min-height: 375px;
  padding: 0px;
}

#mainbox {
  height: 100%;
}
#mainbox > div:first-child {
  margin: 4px;
  margin-bottom: 0;
}
#mainbox .head1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
}

#layer2 {
  background-position: 0 -5px;
}
.splash-text .spacer {
  height: 259px;
}

#contributors.hide > div {
  background-color: transparent;
  padding-top: 52%;
}
#contributors.show > div {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 3%;
  transition:
    background-color 2s,
    padding-top 2s;
}
#contributors > div {
  height: 250px;
  width: 298px;
  overflow: hidden;
  margin: 80px 98px 10px 98px;
  color: white;
  border-radius: 8px;
  text-align: center;
}
#contributors .label {
  display: block;
  height: 1.2em;
}
