.chooseFont .groupbox {
  position: relative;
}

.chooseFont #fontsGrid .grid-cell {
  display: flex;
  align-items: center;
}

.chooseFont select {
  width: 200px;
}

.chooseFont .picker-button {
  margin: 0;
}
.chooseFont .picker-button.disabled {
  background-color: whitesmoke;
}

.chooseFont .picker-button .color-box {
  display: block;
  width: 60px;
  height: 1.5em;
  margin: 3px;
}

.chooseFont .picker-button .chrome-picker {
  position: absolute;
  top: 0px;
  right: 50%;
}
html[dir='rtl'].chooseFont .picker-button .chrome-picker {
  right: unset;
  left: 50%;
}
