.chooseFont .groupbox {
  position: relative;
}

.chooseFont select {
  margin-inline-end: 16px;
  width: 200px;
}

.chooseFont .picker-button {
  margin: 0;
}
.chooseFont .picker-button.disabled {
  background-color: whitesmoke;
}

.chooseFont .picker-button .color-box {
  display: block;
  width: 60px;
  height: 1.5em;
  margin: 3px;
}

.chooseFont .picker-button .color-box > div {
  position: absolute;
  top: 0px;
  right: 50%;
}
html[dir='rtl'].chooseFont .picker-button .color-box > div {
  right: unset;
  left: 50%;
}
