.printControls {
  z-index: 1; /* insure .scale doesn't block mouse */
}
.printControls .passage-selector {
  position: relative;
}
.printControls .selectvk {
  padding-bottom: 14px;
  flex-wrap: wrap;
}
.printControls .selectvk .vk-vkmod {
  margin-inline-start: 0;
}
.printControls .selectvk .vk-lastchapter {
  margin-inline-end: 10px;
}
.printControls .bp5-progress-bar {
  position: absolute;
  top: 70px;
  width: calc(100% - 30px);
}
.printControls .text-options label {
  white-space: wrap;
}

.printContainer * {
  text-decoration: none !important;
}

.printContainer div.footnotes,
.printContainer div.dict-entry-heading {
  margin-top: 1em;
}

.printContainer .x-navmenu,
.printContainer .versePerLineButton,
.printContainer .fndash,
.printContainer .crtwisty,
.printContainer .dictionary-entry.notes,
.printContainer *[class^='x-keyword'] .gfn {
  display: none !important;
}
.printContainer .fncol3 {
  border-top: none;
  border-bottom: none;
}

.printContainer *[class^='x-keyword'] .dtl {
  text-decoration: none !important;
}

.printContainer :is(h1, h2, h3, h4),
.printContainer span:has(:is(h1, h2, h3, h4)),
.printContainer .chapterhead {
  break-after: avoid;
  break-inside: avoid;
}
