#chbutton_open {
  position:absolute;
  display:none;
  background:url(chrome://xulsword/skin/images/open0.bmp);
  width:15px;
  height:15px;
  top:0px;
  left:0px;
}
#viewportbody[chooser="hide"] #chbutton_open {
  display:block;
}
#chbutton_open:hover {
  background:url(chrome://xulsword/skin/images/open1.bmp);
}

#viewportbody[chooser="hide"] #chooser {
  display:none;
}

#fadetop, #fadebot {
  background:url(chrome://xulsword/skin/images/b2.gif) repeat;
  width:250px;
  height:100px; /* used in viewport.js */
  opacity:0.5;
  z-index:50;
}

#biblechooser, #bookchooser {
  display:none;
  position:relative;
  height:423px; /* used in viewport.js */
  width:224px; /* used in viewport.js */
  -moz-margin-start:14px;
  padding:6px;
  -moz-border-start:2px solid rgb(175,145,180);
  border-top:2px solid rgb(175,145,180);
  -moz-border-end:2px solid rgb(225,195,230);
  border-bottom:2px solid rgb(225,195,230);
  -moz-border-radius-topright:8px;
  -moz-border-radius-bottomright:8px;
  -moz-border-radius:8px;
  background:white;
  cursor:pointer;
}
#viewportbody[chooser="bible"] #biblechooser {
  display:table;
}
#viewportbody[chooser="book"] #bookchooser {
  display:table;
}
#biblechooser > div {
  display:table-cell;
}

#testaments {
  display:table;
  height:100%;
}
#testaments > div {
  display:table-row;
}
#testaments > div > div {
  display:table-cell;
  vertical-align:middle;
  position:relative;
  top:0px;
  height:50%;
  width:18px;
  color:rgb(0,0,100);
  background:rgb(233,233,233);
  border:1px outset rgb(200,200,200);
  font-size:13px;
  text-align:center;
}
#biblechooser[showing="ot"] #testament_ot {
  background:rgb(230,200,255);
}
#biblechooser[showing="nt"] #testament_nt {
  background:rgb(230,200,255);
}
#testament_ot {
  -moz-border-radius-topleft: 8px;
}
#testament_nt {
  -moz-border-radius-bottomleft: 8px;
}
#chbutton_close {
  background:url(chrome://xulsword/skin/images/close0.bmp);
  width:15px;
  height:15px;
  position:absolute;
  top:16px;
  left:11px;
}
#chbutton_close:hover {
  background:url(chrome://xulsword/skin/images/close1.bmp);
}

.biblebooks {
  display:table;
  visibility:hidden;
  border-spacing:1;
  position:absolute;
  top:8px;
  left:28px;
  background:rgb(255,230,255);
  border:1px outset rgb(200,200,200);
  padding:1px 0px 1px 0px;
  -moz-border-start:1px solid rgb(150,150,150);
  -moz-border-radius-topright:8px;
  -moz-border-radius-bottomright:8px;
}
#biblechooser[showing="nt"] #biblebooks_nt {
  visibility:visible;
}
#biblechooser[showing="ot"] #biblebooks_ot {
  visibility:visible;
}
.bookname {
  display:table-row;
}
.bookname > div {
  display:table-cell;
  vertical-align:middle; 
  background:rgb(233,233,233);
  border:1px outset black;
  padding-top:2px;
  padding-bottom:2px;
  -moz-padding-start:10px;
  -moz-padding-end:2px;
  -moz-border-radius:6px;
}
.bookname[selected="true"] > div {
  background:rgb(230,200,255);
}
.bookname > div:hover {
  background:yellow;
}
.bookname > div > div {
  position:relative;
  white-space:nowrap;
  font-size:13px;
  color:rgb(0,0,100);
  -moz-padding-end:20px;
}
.charrow {
  position:absolute;
  display:inline-block;
  top:1px;
  right:2px;
  background:url(chrome://xulsword/skin/images/arrow.png);
  width:15px;
  height:12px;
}
.charrow:hover {
  background:url(chrome://xulsword/skin/images/arrow2.png);
}

.chaptermenu {
  visibility:hidden;
  position:absolute;
  display:table;
  left:100%;
  top:0px;
  width:260px;
  border-collapse:separate;
  border-spacing:3px 1px;
  border-spacing:0px 0px;
  z-index:3;
}
.bookname:hover .chaptermenu {
  visibility:visible;
}
.chaptermenurow {
  display:table-row;
  background:transparent;
  z-index:3;
}
.chaptermenu > div > div {
  display:table-cell;
  width:26px;
  font-size:12px;
  text-align:center;
  background:rgb(233,233,233);
  border:1px outset rgb(255,243,255);
  color:blue;
  z-index:3;
  padding:2px;
}
.chaptermenu > div > div:hover {
  background:yellow;
  border:1px inset rgb(255,243,255);
}
.emptych {
  visibility:hidden;
}
.headingmenu {
  position:absolute;
  top:0px;
  visibility:hidden;
  white-space:nowrap;
  font-size:13px;
  -moz-padding-start:20px;
  -moz-padding-end:20px;
  padding-top:10px;
  padding-bottom:10px;
  border:1px outset black;
  background:rgb(233,233,233);
  color:blue;
  -moz-box-shadow: 2px 2px 3px 2px #bbb;
  -moz-border-radius:6px;
  z-index:6;
}
.chaptermenu[headingmenu="show"] .headingmenu {
  visibility:visible;
}
