.fn:hover #npopup,
.un:hover #npopup,
.sn:hover #npopup,
.cr:hover #npopup,
.cr-x-parallel-passage:hover #npopup,
.cr-x-style1:hover #npopup,
.sr:hover #npopup,
.dtl:hover #npopup,
.dt:hover #npopup,
.introlink:hover #npopup,
.noticelink:hover #npopup {
  /* This is so that once npopup is moved into one of these hovered  
  elements by Javascript mouseover, then it stays open until the element  
  and its children are no longer hovered by the mouse. */
  display:block;
}
.fn #npopupTX,
.un #npopupTX,
.cr #npopupTX,
.cr-x-parallel-passage #npopupTX,
.cr-x-style1 #npopupTX,
.sr #npopupTX,
.dtl #npopupTX,
.dt #npopupTX,
.introlink #npopupTX,
.noticelink #npopupTX {
  /* popup appears above the element, covering it. */
  top:-20px;
  left:5px;
}
.sn #npopupTX {
  /* popup appears away from the element so that 
  the text of the element can still be read */
  top:100px;
  left:5px;
}

/* FOR REGULAR (NON-WINDOW) POPUP STYLES */
#npopup[isWindow="false"] {
  display:none;
  z-index:100;
  position:absolute;
  left:0px;
  overflow:visible;
  width:100%;
  
  /* Make shure these styles are NOT inherited from container! */
  color:black;
  text-align:left;
}
#npopup[isWindow="false"] #npopupTX {
  position:relative;
  overflow:auto;
  max-height:300px;
  margin: 0px 20px 10px 0px;
  font-size: 1.1em;
  padding: 22px 20px 20px 14px;
  border:1px solid black;
  background:rgb(245,220,255);
  border-radius:5px;
  cursor:default;
  box-shadow: 3px 3px 5px 6px #ccc;
}
#npopup[pinned="true"][isWindow="false"] #npopupTX {
  margin: 5px 15px 5px 5px;
  box-shadow: 1px 1px 2px 3px #ccc;
}

/* FOR WINDOW PINNED POPUP */
.windowedpup {
  padding:0px;
  margin:0px;
  overflow:hidden;
}
#npopup[isWindow="true"] {
  display:block;
  margin:0px;
  padding:0px;
  border:1px solid black;
  background:rgb(245,220,255);
  border-radius:5px;
  height:100%;
  overflow:hidden;
}
#npopup[isWindow="true"] #npopupTX {
  padding: 22px 20px 20px 14px;
}
#npopup[isWindow="true"] .popuppin {
  visibility:hidden;
}

/* FOR ALL POPUPS */
.popupheader {
  position:relative;
  margin:0px 0px 30px 0px;
}
.popuppin {
  position:relative;
  float:left;
  background: url('chrome://xulsword/skin/images/pushpin0.png');
  width: 28px;
  height: 37px;
  top:-19px;
  left:-5px;
}
.popuppin:hover {
  background: url('chrome://xulsword/skin/images/pushpin2.png');
}
.popuppin[pinned=true] {
  background: url('chrome://xulsword/skin/images/pushpin1.png');
}
body[chromedir="rtl"] .popuppin {
  transform:scaleX(-1);
  background: url('chrome://xulsword/skin/images/pushpin0.png');
  width: 28px;
  height: 37px;
  top:-19px;
  left:auto;
  right:-18px;
}
body[chromedir="rtl"] .popuppin:hover {
  transform:scaleX(-1);
  background: url('chrome://xulsword/skin/images/pushpin2.png');
}
body[chromedir="rtl"] .popuppin[pinned=true] {
  transform:scaleX(-1);
  background: url('chrome://xulsword/skin/images/pushpin1.png');
}
.popupBackLink, .popupCloseLink {
  position:relative;
  left:-5px;
  color:blue;
  cursor:default;
  float:left;
}
body[chromedir="rtl"] .popupBackLink,
body[chromedir="rtl"] .popupCloseLink {
  float:right;
}
.popupBackLink:hover, .popupCloseLink:hover {
  border-bottom:1px solid blue;
  cursor:pointer;
}
.popup-mod-select {
  display:none;
  position:relative;
  top:-10px;
  float:right;
}
body[chromedir="rtl"] .popup-mod-select {
  float:left;
}
.cr .popup-mod-select,
.sr .popup-mod-select {
  display:block;
}
.prevhtml {
  display:none;
}
.popup-text {
  width:100%;
  clear:both;
}
