#npopup {
  display:none;
  z-index:100;
  width:0px;
  height:0px;
  position:relative;
}
.fn:hover #npopup,
.un:hover #npopup,
.sn:hover #npopup,
.cr:hover #npopup,
.cr-x-parallel-passage:hover #npopup,
.cr-x-style1:hover #npopup {
  /* So that once npopup is moved into one of these hovered elements 
  by Javascript mouseover, then it stays open until the element and 
  its children are no longer hovered by the mouse. */
  display:block;
}
.fn #npopupTX,
.un #npopupTX,
.cr #npopupTX,
.cr-x-parallel-passage #npopupTX,
.cr-x-style1 #npopupTX {
  /* popup appears above the element, covering it. */
  top:0px;
  left:0px;
}
.sn #npopupTX {
  /* popup appears away from the element so that 
  the text of the element can still be read */
  top:200px;
}
#npopupTX {
  position:absolute;
  top:0px;
  left:0px;
  margin: 0px 20px 10px 0px;
  font-size: 1.1em;
  padding: 22px 20px 20px 20px;
  border:1px solid black;
  background:rgb(245,220,255);
  border-radius:5px;
  cursor:default;
  overflow:auto;
  box-shadow: 3px 3px 5px 6px #ccc;
}
#npopup[value=pinned] #npopupTX {
  margin: 5px 15px 5px 5px;
  box-shadow: 1px 1px 2px 3px #ccc;
}

.textpopup {
  min-width:300px;
  max-width:600px;
  min-height:60px;
  max-height:100%;
}

/* FOR WINDOW PINNED POPUP */
.windowedpup {
  margin:0px;
  border:1px solid black;
  background:rgb(245,220,255);
  border-radius:5px;
  height:100%;
  overflow:hidden;
}
.windowedpup #npopupTX {
  border:none !important;
  box-shadow:none !important;
}
.windowedpup .popuppin {
  visibility:hidden;
}

/* FOR REGULAR (NON-WINDOW) POPUP STYLES */
.popupheader {
  position:relative;
  margin:0px 0px 20px 0px;
}

.popupheader select {
  visibility:hidden;
  position:absolute;
  top:-10px;
  right:0px;
}

.popupbody {
  position:relative;
}

.popuppin {
  position:absolute;
  background: url('chrome://xulsword/skin/images/pushpin0.png');
  width: 28px;
  height: 37px;
  top:-19px;
  left:-18px;
}
.popuppin:hover {
  background: url('chrome://xulsword/skin/images/pushpin2.png');
}
.popuppin[value=pinned] {
  background: url('chrome://xulsword/skin/images/pushpin1.png');
}

.twisty {
  position:absolute;
  top:4px;
  background:url('chrome://xulsword/skin/images/twisty-close.png');
  width:9px;
  height:9px;
  -moz-margin-start:0px;
}
.crclosed .twisty {
  background:url('chrome://xulsword/skin/images/twisty-open.png');
}
.twisty-rtl {
  right:-15px;
}
.twisty-ltr {
  left:-14px;
}
.cropened .crref:after {
  content:": ";
}
.crtext {
  display:none;
}
.cropened .crtext {
  display:inline;
}
.cropened .crsep {
  display:block;
}
.crclosed .crsep {
  display:inline;
}
.crclosed .crsep:after {
  content:"; ";
}
.crhr {
  border-top:2px solid grey;
}

.prevhtml {
  display:none;
}
