/* Header Links */
.navlink {
  color:blue;
  margin: 10px;
  text-align:center;
  cursor:default;
}
.navlink span {
  font-family:ariel;
}
.prevchaplink, .nextchaplink {
  cursor:pointer;
}
.prevchaplink:hover, .nextchaplink:hover {
  text-decoration:underline;
}

/* Bible & Commentary chapter/page header */
.chapterhead {
  padding-top:26px;
}
.noticelink {
  font-size:1.4em;
  margin:0px 10px 10px 10px;
  text-align:center;
}
.noticelink[empty="true"] {
  display:none;
}
.noticelink a {
  text-decoration:underline;
  color:blue;
  cursor:pointer;
}
.chaptitle {
  float:left;
  font-size:28px; /* dynamically changed by js; must be in px */
  font-weight:bold;
  color:rgb(110,85,110);
}
.chapbk, .chapch {
  white-space:nowrap;
}
.chapbk {
  display:none;
}
.chapterhead.chapterfirst .chapbk {
  display:block;
}
#text[pin="pinned"] .chapbk,
#sizetester .chapbk {
  display:block;
}
.chapinfo {
  float:right;
  position:relative;
  top:-5px;
  min-width:60px;
  font-size:2em;
  color:rgb(110,85,110);
}
.listenlink {
  visibility:hidden;
  display:inline-block;
  background:url('chrome://xulsword/skin/images/listen0.png');
  width:45px;
  height:37px;
}
.listenlink:hover {
  background:url('chrome://xulsword/skin/images/listen1.gif');
}
.introlink {
  text-decoration:underline;
  color:blue;
  cursor:pointer;
}
.introlink[empty="true"] {
  display:none;
}
.head-line-break {
  clear:both;
  margin-bottom:30px;
}

/* Interlinear display */
.interB {
  margin-top:16px;
  margin-bottom:16px;
}
.interS {
  width:50px;
  border-top:1px solid blue;
  margin-top:4px;
  margin-bottom:4px;
}

/* Script box styles */
.head1 {
  font-size:1.8em;
  color:rgb(110,85,110);
  font-weight:bold;
  text-align:center;
  margin-bottom:1em;
  margin-top:1em;
  clear:both;
}
.head2 {
  font-size:1.6em;
  color:rgb(110,85,110);
  font-weight:bold;
  margin-bottom:0.5em;
  clear:both;
}
.canonical {
  font-style:italic;
}
.divine {
  font-size: 1.3em;
	color: black;
}
.versenum {
  vertical-align:top;
}
.cr:after {
  content: "\00D7 ";
  vertical-align:top;
  font-family:'Arial' !important;
  font-size-adjust:0.55 !important;
  line-height:100% !important;
  color:rgb(255,0,0);
  cursor:pointer;
  z-index:7;
}
.cr-x-parallel-passage:after {
  content: "\25CF ";
  vertical-align:top;
  font-family:'Arial' !important;
  font-size-adjust:0.55 !important;
  line-height:100% !important;
  color:rgb(255,0,0);
  cursor:pointer;
  z-index:7;
}
.cr-x-style1:after {
  content: "+ ";
  vertical-align:top;
  font-family:'Arial' !important;
  font-size-adjust:0.55 !important;
  line-height:100% !important;
  color:rgb(255,0,0);
  cursor:pointer;
  z-index:7;
}
.fn:after {
  content: "\00D7 ";
  vertical-align:top;
  font-family:'Arial' !important;
  font-size-adjust:0.55 !important;
  line-height:100% !important;
  color:rgb(0,200,250);
  cursor:pointer;
  z-index:7;
}
.un:after {
  content: "\00D7 ";
  vertical-align:top;
  font-family:'Arial' !important;
  font-size-adjust:0.55 !important;
  line-height:100% !important;
  color:rgb(0,0,200);
  cursor:pointer;
  z-index:7;
}
.sr {
  color:inherit;
	text-decoration:underline;
  cursor:pointer;
}
/* user note highlight */
.unverse {
  background:rgb(255,255,140);
}
.dt {
  text-decoration:underline;
  cursor:pointer;
  z-index:7;
}
.genbknote {
  color:blue;
}
/* Words with Strong's number attached */
.sn {
  border-bottom: 1px solid rgb(220,195,220); /*(240,215,240);*/
}
.matchingStrongs {
  background:yellow;
}
.wordsOfJesus {
  color:red;
}
/* selected verse highlight */
.hl {
  color:blue;
}

/* Bible footnotes */
.fntable {
  display:table;
  border-collapse:separate;
  border-spacing:0px 1px;
}
.fntable > div {
  display:table-row;
}
.fncol1 {
  display:table-cell; 
  width:10px;
  vertical-align:top;
  padding-top:8px;
  padding-right:0px;
}
.crtwisty {
  width:9px;
  height:9px;
  background:url(chrome://xulsword/skin/images/twisty-open.png);
}
.cropened .crtwisty {
  background:url(chrome://xulsword/skin/images/twisty-close.png);
}
.fncol2 {
  visibility:hidden;
  display:table-cell; 
  vertical-align:top;
  padding-top:12px;
  padding-right:0px;
}
.fndash {
  width:10px; 
  height:2px; 
  border-top:1px solid rgb(150,150,150);
}
.fncol3 {
  visibility:hidden;
  width:6px;
  display:table-cell;
  border-top:1px solid rgb(150,150,150);
  border-bottom:1px solid rgb(150,150,150);
}
.cropened .fncol2, 
.cropened .fncol3 {
  visibility:visible;
}
.fncol3LTR {
  border-left:1px solid rgb(150,150,150);
}
.fncol3RTL {
  border-right:1px solid rgb(150,150,150);
}
.fncol4 {
  padding-left:4px;
  display:table-cell;
  white-space:nowrap;
}
.fncol5 {
  display:table-cell;
  padding-left:4px;
}
.cropened .crref:after {
  content:": ";
}
.crtext {
  display:none;
}
.cropened .crtext {
  display:inline;
}
.cropened .crsep {
  display:block;
}
.crclosed .crsep {
  display:inline;
}
.crclosed .crsep:after {
  content:"; ";
}
.normalNote {
  padding-right:16px;
  border:1px solid transparent;
  border-radius:8px;
}
.selectedNote {
  padding-right:16px;
  border:1px outset yellow;
  background:rgb(255,243,255);
  border-radius:8px;
  cursor:pointer;
}
.noteBoxUserNote {
  font-style:italic;
}

/* Dictionary styles */
.dictentry {
  display:table;
  height:100%;
  width:100%;
}
.dictentry > div {
  display:table-cell;
  vertical-align:middle;
}
.dictlist {
  position:relative;
  height:100%;
}
.dictlist .textboxparent {
  position:absolute;
  margin-right:20px;
  -moz-padding-start:20px;
  left:0px;
  right:0px;
  top:0px;
  height:3em;
}
.dictlist input {
  width:100%;
  margin-top:1em;
}
.dictlist .keylist {
  position:absolute;
  left:0px;
  right:0px;
  top:4em;
  bottom:0px;
  -moz-padding-start:20px;
  overflow:auto;
}
.dictlist .key {
  cursor:pointer;
}
.dictselectkey {
  background:highlight;
  color:white;
}
