#viewportbody {
  font-family:'arial';
  padding-top:0px; /* used in viewport.js */
  -moz-padding-end:0px;
  padding-bottom:24px; /* used in viewport.js */
  -moz-padding-start:0px;
  margin:0px;
  overflow:hidden;
  background:url(chrome://xulsword/skin/images/b2.gif);
  background-position: 0px 40px;
}

#chbutton_open {
  position:absolute;
  display:none;
  background:url(chrome://xulsword/skin/images/open0.bmp);
  width:15px;
  height:15px;
  top:10px;
  left:6px;
  z-index:40;
}
body[chromedir="rtl"] #chbutton_open {
  left:auto;
  right:6px;
}
#viewportbody[chooser="hide"] #chbutton_open {
  display:block;
}
#chbutton_open:hover {
  background:url(chrome://xulsword/skin/images/open1.bmp);
}

#viewport {
  display:table;
  width:100%;
  height:600px;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
}
#viewport > div {
  display:table-cell;
  vertical-align:top;
  width:100%;
}
#chooser {
  padding-right:0px;
  float:left;
}
#viewportbody:not([chooser="bible"]) #chooser {
  display:none;
}

#tabrow {
  display:block;
  width:100%;
  padding-top:14px; /* used in viewport.js */
}
#tabrowf {
  display:table;
  width:100%;
  
  /* coordinate with #textrow */
  border-collapse:separate;
  border-spacing:0px 0px;
}
.tabs {
  display:table-cell;
  padding:0px 20px 0px 30px;
  position:relative;
  white-space:nowrap;
  z-index:10;
  text-align:right;
}
.tabs[chromedir="rtl"] {
  text-align:left;
}
#tabrow[windows="show1"] #tabs1 {
  width:100%;
  min-width:250px;
}
#tabrow[windows="show1"] #tabs2,
#tabrow[windows="show1"] #tabs3 {
  display:none;
}
#tabrow[windows="show2"] #tabs1, 
#tabrow[windows="show2"] #tabs2 {
  width:50%;
  min-width:250px;
}
#tabrow[windows="show2"] #tabs3 {
  display:none;
}
#tabrow[windows="show3"] #tabs1, 
#tabrow[windows="show3"] #tabs2,
#tabrow[windows="show3"] #tabs3 {
  width:33%;
  min-width:250px;
}
.tab {
  position:relative;
  top:2px;
  font-size:1em;
  color:grey;
  margin-left:3px;
  margin-right:3px;
  border:3px solid;
  border-bottom:2px solid rgb(200,170,205);
  -moz-border-left-colors:  rgb(200,170,205) rgb(200,170,205) transparent;
  -moz-border-right-colors: rgb(200,170,205) rgb(200,170,205) transparent;
  background:rgb(255,250,255);
  height:23px;
  vertical-align:bottom;
  border-top-right-radius:4px;
  border-top-left-radius:4px;
}
.multitab select .tab {
  padding-top:2px;
  margin-top:2px;
}
.multitab {
  position:relative;
  display:inline-block;
}
.multitab-clicker {
  position:absolute;
  top:0px;
  left:0px;
  width:80%;
  height:100%;
}
#w1\.tabselect,
#w2\.tabselect,
#w3\.tabselect {
  padding-top:2px;
  text-align:center;
}
.tab[active="true"] {
  color:blue;
  border-bottom:none;
  background:rgb(255,243,255);
}
.tab[pinned="true"] {
  color:rgb(210,210,210);
}
.tab[active="true"][pinned="true"] {
  background:rgb(248,248,241);
}
.tabTexts {
  -moz-border-top-colors:   rgb(200,170,205) rgb(235,50,80) transparent;
}
.tabComms {
  -moz-border-top-colors:   rgb(200,170,205) rgb(175,145,230) rgb(100,100,255);
}
.tabDicts {
  -moz-border-top-colors:   rgb(200,170,205) rgb(226,212,102) rgb(255,255,0);
}
.tabGenbks {
  -moz-border-top-colors:   rgb(200,170,205) rgb(150,207,225) rgb(100,245,245);
}

#textrow {
  display:table;
  width:100%;
  
  /* coordinate with #tabrow > div*/
  border-collapse:separate;
  border-spacing:0px 0px;
}
.text {
  display:table-cell;
  vertical-align:top;
  padding-left:10px;
  padding-right:10px;
  font-size: 1.1em;
}
.text[columns="show1"] {
  width:33%;
  min-width:250px;
}
.text[columns="show2"] {
  width:66%;
  min-width:500px;
}
.text[columns="show3"] {
  width:100%;
  min-width:750px;
}
.text[columns=""], .text[columns="hide"], .text:not([columns]) {
  display:none !important;
}

.textf {
	background:rgb(255,243,255);
	border:2px solid rgb(200,170,205);
  border-radius:8px;
  position:relative;
}
.text[pin="pinned"] .textf {
  background:rgb(248,248,241);
}

.hd {
  width:100%;
  text-align:center;
  height:30px; /* used in viewport.js */
}
.fr {
  position:relative;
  width:100%;
  text-align:center;
  height:30px; /* used in viewport.js */
}
.sbpin {
  position:absolute;
  top:-23px;
  left:0px;
  width:28px;
  height:37px;
  background:url(chrome://xulsword/skin/images/pushpin0.png);
  z-index:20;
}
.sbpin:hover {
  background:url(chrome://xulsword/skin/images/pushpin2.png) !important;
}
.text[pin="pinned"] .sbpin {
  background:url(chrome://xulsword/skin/images/pushpin1.png);
}
.text[pin="hide"] .sbpin {
  visibility:hidden;
}

.sb {
  height:600px; /* used in viewport.js */
  color: black;
  padding-left:30px;
  padding-right:30px;
}
.text[columns="show1"] .sb {
  overflow:auto;
}
.text[columns="show2"] .sb {
  overflow:hidden;
  -moz-columns:2;
  
  /* following do not effect box layout */
  -moz-column-gap:80px;
  -moz-column-rule:14px solid rgb(240,215,240);
}
.text[columns="show3"] .sb {
  overflow:hidden;
  -moz-columns:3;
  
  /* following do not effect box layout */
  -moz-column-gap:80px; 
  -moz-column-rule:14px solid rgb(240,215,240);
}
#text1[columns="show1"][foot^="show"] .sb {
  margin-bottom:200px; /* used in viewport.js */
  height:400px; /* used in viewport.js */
}
#text2[columns="show1"][foot^="show"] .sb {
  margin-bottom:200px; /* used in viewport.js */
  height:400px; /* used in viewport.js */
}
#text3[columns="show1"][foot^="show"] .sb {
  margin-bottom:200px;
  height:400px;
}

.nbc {
  position:relative;
  width:100%;
}

.text[foot="hide"] .nbc {
  display:none;
}

.nbf {
  position:absolute;
  bottom:0px;
  right:0px;
  background:rgb(255,243,255);
  border-radius:8px;
  z-index:20;
}
.text[textdir="rtl"] .nbf {
  right:auto;
  left:0px;
}
#text1 .nbf {
  height:200px; /* used in viewport.js */
}
#text2 .nbf {
  height:200px; /* used in viewport.js */
}
#text3 .nbf {
  height:200px; /* used in viewport.js */
}
#text1[foot="showmax"]:not([columns="show1"]) .nbf,
#text2[foot="showmax"]:not([columns="show1"]) .nbf,
#text3[foot="showmax"]:not([columns="show1"]) .nbf {
  height:600px; /* used in viewport.js */
}
.text[columns="show1"] .nbf {
  width:100%;
}
.text[columns="show2"] .nbf {
  width:50%;
  padding-left:20px; /* hides columns rule */
}
.text[columns="show3"] .nbf {
  width:33%;
  padding-left:20px; /* hides columns rule */
}
.text[textdir="rtl"][columns="show2"] .nbf,
.text[textdir="rtl"][columns="show3"] .nbf {
  padding-left:0px;
  padding-right:20px; /* hides columns rule */
}

.bb {
  position:relative;
  border:1px outset rgb(150,150,150); 
  background:rgb(233,233,233); 
  height:4px;
  border-radius:4px;
  cursor:N-resize;
  z-index:10;
  margin:10px 60px 0px 60px;
}
.bb[moving="true"] {
  border:1px dashed rgb(150,150,150); 
  background:rgb(233,233,20);
  cursor:N-resize;
  z-index:80;
}

.nbsizer {
  position:absolute;
  top:8px;
  right:42px;
  background:url(chrome://xulsword/skin/images/max.bmp);
  width:15px;
  height:14px;
}
.text[textdir="rtl"] .nbsizer {
  right:auto;
  left:42px;
}
.text[foot="showmax"] .nbsizer {
  background:url(chrome://xulsword/skin/images/norm.bmp);
}
.text[columns="show1"] .nbsizer {
  display:none;
}

.nb {
  font-size:0.9em;
  overflow:auto;
	background:rgb(240,235,240);
	border:2px solid rgb(150,150,150);
  border-radius:8px;
}
#text1 .nb {
  height:192px; /* used in viewport.js */
  margin:10px; /* used in viewport.js */
}
#text2 .nb {
  height:192px; /* used in viewport.js */
  margin:10px; /* used in viewport.js */
}
#text3 .nb {
  height:192px; /* used in viewport.js */
  margin:10px; /* used in viewport.js */
}
#text1[foot="showmax"]:not([columns="show1"]) .nb,
#text2[foot="showmax"]:not([columns="show1"]) .nb,
#text3[foot="showmax"]:not([columns="show1"]) .nb {
  height:562px; /* used in viewport.js */
}
