#main-controlbar {
  background-image: url(chrome://xulsword/skin/images/b2.gif);
}
#navigator-tool {
  min-width:346px; /* specified to allow for player's width */
}
#historyButtons {
  margin-top:2px; 
  min-height:34px; /* specified to allow for player's height */
}
#player {
  margin-top:2px; 
  min-height:32px; /* specified because player's actual height is large (for showing video) */
}
#playerFrame {
  width:218px; 
  height:34px; 
  overflow:hidden;
}
#closeplayer {
  width:98px; 
  -moz-margin-end:14px;
}
#textnav {
  margin-left:10px; 
  margin-right:10px;
}
#chapter {
  -moz-margin-start:-3px;
}

#search-tool {
  padding-bottom:0px;
}
#search-tool > vbox {
  padding-top:2px; 
  margin-left:0px;
}

#optionButtons {
  padding-top:2px;
}

#debug-tool {
  width:20px;
}

/* MAIN WINDOW TOGGLE BUTTONS */
#crbutton {
  list-style-image: url("chrome://xulsword/skin/images/crossrefs.png") !important;
  -moz-box-orient: vertical;
}
#fnbutton {
  list-style-image: url("chrome://xulsword/skin/images/footnotes.png") !important;
  -moz-box-orient: vertical;
}
#hdbutton {
  list-style-image: url("chrome://xulsword/skin/images/headings.png") !important;
  -moz-box-orient: vertical;
}
#dtbutton {
  list-style-image: url("chrome://xulsword/skin/images/dictionary.png") !important;
  -moz-box-orient: vertical;
}
toolbarbutton[class="togglebutton"] {
  color: black; 
  -moz-image-region: rect(0px, 64px, 28px, 32px) !important;
}
toolbarbutton[class="togglebutton"][value="true"] {
  color: blue; 
  -moz-image-region: rect(0px, 32px, 28px, 0px) !important;
}

/* MAIN WINDOW TOGGLE MENU ITEMS */
menuitem#hdmitem {
  list-style-image: url("chrome://xulsword/skin/images/headingssm.png") !important;
}
menuitem#crmitem {
  list-style-image: url("chrome://xulsword/skin/images/crossrefssm.png") !important;
}
menuitem#fnmitem {
  list-style-image: url("chrome://xulsword/skin/images/footnotessm.png") !important;
}
menuitem#dtmitem {
  list-style-image: url("chrome://xulsword/skin/images/dictionarysm.png") !important;
}
menuitem#lnmitem {
  list-style-image: url("chrome://xulsword/skin/images/langstudysm.png") !important;
}
menuitem#vnmitem {
  list-style-image: url("chrome://xulsword/skin/images/versenumberssm.png") !important;
}
menuitem#unmitem {
  list-style-image: url("chrome://xulsword/skin/images/usernotessm.png") !important;
}
menuitem#rwmitem {
  list-style-image: url("chrome://xulsword/skin/images/redwordssm.png") !important;
}
.togglemenuitem > .menu-iconic-left > .menu-iconic-icon {
  width: 16px;
  height: 16px;
  -moz-image-region: rect(0px, 32px, 14px, 16px) !important;
}
.togglemenuitem[value="true"] > .menu-iconic-left > .menu-iconic-icon {
  -moz-image-region: rect(0px, 16px, 14px, 0px) !important;
}
.togglemenuitem > .menu-iconic-left {
  display: -moz-box;
}
menu#sub-Texts {
  list-style-image: url("chrome://xulsword/skin/bookmarks/Texts.png") !important;
}
menu#sub-Comms {
  list-style-image: url("chrome://xulsword/skin/bookmarks/Comms.png") !important;
}
menu#sub-Dicts {
  list-style-image: url("chrome://xulsword/skin/bookmarks/Dicts.png") !important;
}
menu#sub-Genbks {
  list-style-image: url("chrome://xulsword/skin/bookmarks/Genbks.png") !important;
}

/* MAIN WINDOW SEARCH BUTTON */
#searchButton {
  list-style-image: url("chrome://xulsword/skin/images/search.png");
  -moz-image-region: rect(0px, 30px, 18px, 0px);
}
#searchButton[disabled="true"] {
  -moz-image-region: rect(0px, 60px, 18px, 30px);
}

/* MAIN WINDOW HISTORY BUTTONS */
#back {
  list-style-image: url("chrome://xulsword/skin/images/back.png") !important;
  -moz-image-region: rect(0px, 22px, 14px, 0px) !important;
  -moz-box-orient: horizontal;
  margin-left:5px; 
  margin-right:5px;
}
#back[disabled="true"] {
  -moz-image-region: rect(0px, 66px, 14px, 44px) !important;
}
#back:not([disabled="true"]):hover {
  -moz-image-region: rect(0px, 44px, 14px, 22px) !important;
}
#back[chromedir="rtl"] {
  list-style-image: url("chrome://xulsword/skin/images/forward.png") !important;
}
#forward {
  list-style-image: url("chrome://xulsword/skin/images/forward.png") !important;
  -moz-image-region: rect(0px, 22px, 14px, 0px) !important;
  -moz-box-orient: horizontal;
  margin-left:5px;
  margin-right:5px;
}
#forward[disabled="true"] {
  -moz-image-region: rect(0px, 66px, 14px, 44px) !important;
}
#forward:not([disabled="true"]):hover {
  -moz-image-region: rect(0px, 44px, 14px, 22px) !important;
}
#forward[chromedir="rtl"] {
  list-style-image: url("chrome://xulsword/skin/images/back.png") !important;
}

#historymenu {
  list-style-image: url("chrome://xulsword/skin/images/historymenu.png") !important;
  -moz-image-region: rect(0px, 40px, 11px, 0px) !important;
  -moz-box-orient: horizontal;
  margin-left:0px;
  margin-right:0px;
}
#historymenu[disabled="true"] {
  -moz-image-region: rect(0px, 120px, 11px, 80px) !important;
}
#historymenu:not([disabled="true"]):hover {
  -moz-image-region: rect(0px, 80px, 11px, 40px) !important;
}
#historymenu .button-menu-dropmarker,
#historymenu .button-text {
  display: none !important;
}

/* MAIN WINDOW NAVIGATOR BUTTONS */
image#nextchap {
  list-style-image: url("chrome://xulsword/skin/images/smallButtonIncrement.png") !important;
  margin-bottom:1px;
}
image#prevchap {
  list-style-image: url("chrome://xulsword/skin/images/smallButtonDecrement.png") !important;
  margin-top:1px;
}
image#nextverse {
  list-style-image: url("chrome://xulsword/skin/images/smallButtonIncrement.png") !important;
  margin-bottom:1px;
}
image#prevverse {
  list-style-image: url("chrome://xulsword/skin/images/smallButtonDecrement.png") !important;
  margin-top:1px;
}
.smallButtons {
  -moz-image-region: rect(0px, 30px, 8px, 15px) !important;  
}
.smallButtons:hover {
  -moz-image-region: rect(0px, 15px, 8px, 0px) !important;
}
textbox deck[anonid="search-icons"] {
  display:none;
}

/* GENERIC BOOK CHOOSER */
#genBookChooser {
  background-image: url(chrome://xulsword/skin/images/9.gif);
}
#genbook-tree {
  width:200px;
  font-size:12px;
  border-top:2px solid rgb(175,145,180);
  border-left:2px solid rgb(175,145,180);
  border-right:2px solid rgb(225,195,230);
  border-bottom:2px solid rgb(225,195,230);
  border-radius:6px;
  background:white;
}
#frameset:not([chooser="book"]) #genBookChooser,
#frameset:not([chooser="book"]) #genBookTree {
  display:none;
}


.sharedCheckBox:before {
  content: "\00D7 ";
}

.videoHelpMenuItem {
  list-style-image: url("chrome://xulsword/skin/images/videohelp.png") !important;
}
 
/* Drag and Drop feedback */
/*#bookmarks-menu menu > hbox[align="center"]{
  border-top:1px solid transparent;
  border-bottom:1px solid transparent;
}
#bookmarks-menu menu[dragover-top="true"]{
  padding-top:2em;
}
#bookmarks-menu menu[dragover-bottom="true"]{
  padding-bottom:2em;
}
#bookmarks-menu menuitem[dragover-top="true"] {
  border-top:1px solid black !important;
}
#bookmarks-menu menuitem[dragover-bottom="true"] {
  border-bottom:1px solid black !important;
}
#bookmarks-menu menuseparator[dragover-top="true"] {
  border-top:1px solid black !important;
}
#bookmarks-menu menuseparator[dragover-bottom="true"] {
  border-bottom:1px solid black !important;
}*/

