/* GROUPBOX STYLING */
groupbox {
  background:white;
  border:1px solid rgb(200,200,200);
  border-radius:8px;
}

groupbox caption {
  background:white;
  border-top:1px solid rgb(200,200,200);
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  padding:2px 6px 2px 6px;
}

/* search windows */
toolbar groupbox, #dividerBox {
  margin:0px 14px 0px 0px;
}
