.helpPane {
  height: 100%;
  overflow: auto;
  padding: 10px;
  background: var(--bg-interface-light);
  border: 2px solid var(--border-light);
  border-radius: 4px;
}
.helpPane > div {
  min-width: 650px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .searchHelp {
    width: calc(100vw - 10px);
  }
  .helpPane > div {
    min-width: unset;
    width: 100%;
  }
}
.helpPane > div > div {
  margin-bottom: 5px;
}
#searchTypes {
  font-size: larger;
  font-weight: bold;
}
.typeName {
  font-weight: bold;
}
.helpTable {
  overflow-x: auto;
}
.helpTable table {
  border-collapse: collapse;
  border: 2px solid var(--border-light);
  border-radius: 4px;
}
.odd-row {
  background: rgb(245, 245, 245);
}
.even-row {
  background: rgb(230, 230, 230);
}
td {
  padding: 5px;
}
.col0 {
  text-align: center;
}
#caseMessage {
  margin-top: 1em;
}
