.modulemanager {
  padding: 0 10px 10px 10px;
}

.modulemanager .button-stack .button {
  margin: 6px 0;
  margin-inline-start: 10px;
}

.checkbox-column {
  text-align: center;
  font-size: 18px;
}
.checkbox-column.disabled {
  color: rgba(100, 100, 100, 0.4);
}

.langsmods.lt-closed .groupbox:first-child {
  border: none;
  padding-left: 0;
  padding-right: 0;
}
.langsmods.lt-closed .groupbox:first-child .groupbox-body {
  padding: 0;
}

#languageListClose {
  margin-top: 10px;
}

#languageListOpen {
  margin: 10px 5px 5px 5px;
  padding: 5px;
}

.module-deck {
  position: relative;
}
.module-deck .modinfo {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
}
/*
#repository .custom-repo.data-col-0 .bp6-table-editable-text {
  font-style: italic;
}*/

.moduleManager .bp6-dialog-body .label {
  white-space: unset;
  margin-bottom: 10px;
}
.moduleManager .dialog .modname {
  margin-inline-start: 10px;
}
.moduleManager .bp6-dialog-body .label:first-child {
  font-size: large;
  margin-bottom: 20px;
}

.moduleManagerWin .menulist:has(select[disabled]) {
  display: none;
}

.audio-file-dialog .selector .select-child {
  height: 250px;
}

.allowInternet-message {
  margin-top: 10px;
}

.module-toast {
  border-right: 1px solid var(--bg-interface-light);
  padding-right: 10px;
  margin-right: -8px;
}
.module-toast .module-info {
  font-weight: bold;
}
