.bmproperties {
  height: 100%;
  padding: 10px;
}

.bmproperties #note,
.bmproperties #sampleText {
  min-width: 350px;
  height: 100%;
}
.bmproperties .treeview-container {
  min-width: 350px;
}

.bmproperties .grid {
  overflow: auto;
}
.bmproperties .grid-cell > .label {
  display: inline-block;
  margin: 5px;
}
.bmproperties .grid-cell > .label::after {
  content: ': ';
}

.bmproperties .selector {
  min-width: 300px;
}

.bmproperties textarea {
  resize: vertical;
}

.bmproperties .treeview-container {
  max-height: 100px;
  overflow: auto;
}
