/* Move border from container to scroll-parent (below),
and give a fixed width */
.genbook-chooser .chooser-container {
  width: 200px;
  border-inline-start: unset;
  border-top: unset;
  border-inline-end: unset;
  border-bottom: unset;
  border-radius: unset;
}

.genbook-chooser .scroll-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  min-width: calc(100% - 3px);
  max-width: calc(100% - 3px);
  overflow: auto;
  z-index: 7;
  border-inline-start: 2px solid rgb(175, 145, 180);
  border-top: 2px solid rgb(175, 145, 180);
  border-inline-end: 2px solid rgb(225, 195, 230);
  border-bottom: 2px solid rgb(225, 195, 230);
  border-radius: 8px;
  background: white;
  transition: 0.5s;
}

.genbook-chooser .scroll-parent:hover {
  max-width: 800px;
  top: -5px;
  left: -5px;
  filter: drop-shadow(10px 10px 2px #777777);
}

html[dir='rtl'] .genbook-chooser .scroll-parent {
  transform: scaleX(-1);
  left: unset;
  right: 0px;
}
html[dir='rtl'] .genbook-chooser .scroll-parent:hover {
  right: -5px;
}
html[dir='rtl'] .bp4-tree-node-label {
  transform: scaleX(-1);
}
