.tabs {
  overflow: hidden;
  display: inline-block;
  text-align: end;
  vertical-align: bottom;
  white-space: nowrap;
  position: relative;
  top: 2px;
  z-index: 10;
}
.tabs.open {
  overflow: visible;
}

/*
.tabs .tooltip {
  Undo relative so ancestor will be used instead
  position: static;
}
.tabs .tooltip .tooltiptext {
  top: 0px;
  width: auto;
}
*/

.tabs .tab {
  display: inline-block;
  cursor: default;
  font-size: 0.86em;
  color: grey;
  margin: 0px 3px 0px 3px;
  padding: 0px 5px;
  border: 2px solid;
  border-bottom: 2px solid rgb(200, 170, 205);
  border-left-color: rgb(200, 170, 205);
  border-right-color: rgb(200, 170, 205);
  background: rgb(255, 250, 255);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.tabs .mts-tab {
  padding-inline-end: 0px;
}
.tabs .mts-tab .button {
  float: right;
  width: 12px;
  height: 12px;
  margin: 2px;
  padding: 0;
  background: transparent;
  border: none;
}
.tabs .mts-tab .button-box {
  border: none !important;
}
html.chromedir-rtl .tabs .mts-tab .button {
  float: left;
}
.tabs .mts-tab .button .menu {
  left: auto;
  right: calc(-5px - 100%);
}
html.chromedir-rtl .tabs .mts-tab .button .menu {
  left: calc(-5px - 100%);
  right: auto;
}
.tabs .mts-tab .button .menupopup {
  transform: translateX(-100%);
  overflow: auto;
}
.tabs .mts-tab .button-icon {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../images/dropdown-menu.png);
}
.tabs .mto-tab {
  display: block;
  font-size: 1em;
  margin: 1px 2px;
}
.tabs .mto-tab.selected {
  display: none;
}
.tabs > *:last-child {
  margin-inline-end: 20px;
}
.tabs > *:first-child {
  margin-inline-start: 20px;
}
.tabs .tab.active {
  color: blue;
  border-bottom-color: rgb(255, 243, 255);
  background: rgb(255, 243, 255);
}
.tabs .ilt-tab.disabled {
  color: lightgray;
}
.tabs.ownWindow .ilt-tab {
  display: none;
}
.tabs.pinned .tab.active {
  background: white;
  border-bottom-color: white;
}
.tabs .tabTexts {
  border-top-color: rgb(235, 50, 80);
}
.tabs .tabComms {
  border-top-color: rgb(100, 100, 255);
}
.tabs .tabDicts {
  border-top-color: rgb(255, 255, 0);
}
.tabs .tabGenbks {
  border-top-color: rgb(100, 245, 245);
}

.tabs .tab-label {
  max-width: 84px;
  overflow: hidden;
}
.tabs .tab > * {
  display: inline-block;
}
