.viewport {
  font-family: 'arial';
  padding-inline-start: 10px;
  margin: 0px;
  overflow: hidden;
  background: url(../../../assets/b2.png);
  background-position: 0px 40px;
  width: 100%;
  position: relative;
}

.viewport .open-chooser {
  position: absolute;
  background: url(../images/open0.png);
  width: 16px;
  height: 16px;
  top: 2px;
  left: 6px;
  z-index: 40;
}
html.chromedir-rtl .viewport .open-chooser {
  left: auto;
  right: 6px;
}
.viewport .open-chooser:hover {
  background: url(../images/open1.png);
}

.viewport .chooser {
  padding-inline-end: 10px;
  float: left;
}
html.chromedir-rtl .viewport .chooser {
  float: right;
}
.viewport.chooser-hidden .chooser {
  display: none;
}

.viewport .tabrow {
  width: 100%;
  padding-top: 14px;
  white-space: nowrap;
}

.viewport .show1 .tabs {
  width: 100%;
}
.viewport .show2 .tabs {
  width: 50%;
}
.viewport .show3 .tabs {
  width: 33.33%;
}
.viewport .textarea {
  min-width: 1px; /* allows textarea to schrink below minimum content size */
  margin-bottom: 12px;
}
.viewport .textrow {
  width: 100%;
}

.viewport.ownWindow {
  padding: 0 15px;
}
.viewport.ownWindow .tabs:not(.none) ~ .tabs {
  display: none;
}
/* Very special situation: Windowed viewports show only one text. If
it happens to be a linked text which is unpinned and then switched to become
a dictionary (which cannot be linked), this situation needs this special CSS: */
.viewport.ownWindow .textarea .tabs.Dicts,
.viewport.ownWindow .textarea .text.Dicts {
  display: none;
}
.viewport.ownWindow .textarea .tabs.none + .tabs.Dicts,
.viewport.ownWindow .textarea .tabs.Dicts:first-child,
.viewport.ownWindow .textarea .text.none + .text.Dicts,
.viewport.ownWindow .textarea .text.Dicts:first-child {
  display: flex;
}
.viewport.ownWindow .atext {
  margin: 0;
}
.viewport.ownWindow .text-win {
  display: none;
}

/* PRINTING STYLES */
@media print {
  .viewport .chooser,
  .viewport .open-chooser,
  .viewport .text-pin,
  .viewport .text-win,
  .viewport .notebox-maximizer {
    display: none !important;
  }
  .viewport .tab {
    background-color: white !important;
    color: black !important;
  }
  .viewport .tab:not(.active) {
    display: none;
  }
  .viewport > div {
    height: auto;
  }
  .viewport .sb,
  .viewport .nbf,
  .viewport .nb {
    height: auto !important;
  }
  .viewport .sb {
    margin-bottom: 20px !important;
  }
  .viewport .bb {
    display: none;
  }
  .viewport .nbf {
    position: relative;
    bottom: auto;
    right: auto;
  }
  .viewport .nb {
    background: transparent;
    border: none;
    padding-top: 20px;
  }
}
