.viewport {
  padding: 10px 15px 15px 15px;
  margin: 0px;
  overflow: hidden;
  background-position: 0px 40px;
  width: 100%;
  position: relative;
}

.viewport .open-chooser {
  position: absolute;
  background: url(../images/open0.png);
  width: 16px;
  height: 16px;
  top: 2px;
  left: 6px;
  z-index: 7;
  border: none;
}
html[dir='rtl'] .viewport .open-chooser {
  left: auto;
  right: 6px;
}
.viewport .open-chooser:hover {
  background: url(../images/open1.png);
}

.viewport .chooser {
  padding-inline-end: 10px;
}
.viewport.chooser-hidden .chooser {
  display: none;
}
.viewport .tabrow {
  width: 100%;
  white-space: nowrap;
}
.viewport .textarea {
  min-width: 1px; /* allows textarea to shrink below minimum content size */
}
.viewport .textrow {
  width: 100%;
}
.viewport.ownWindow .atext {
  margin: 0;
}

/* PRINTING STYLES */
/*
#reset.printp .viewport .chooser,
#reset.printp .viewport .open-chooser,
#reset.printp .viewport .text-pin,
#reset.printp .viewport .text-win,
#reset.printp .viewport .notebox-maximizer {
  display: none !important;
}
#reset.printp .viewport .tab {
  background-color: white !important;
  color: black !important;
}
#reset.printp .viewport .tab:not(.active) {
  display: none;
}
#reset.printp .viewport > div {
  height: auto;
}
#reset.printp .viewport .sb,
#reset.printp .viewport .nbf,
#reset.printp .viewport .nb {
  height: auto !important;
}
#reset.printp .viewport .sb {
  margin-bottom: 20px !important;
}
#reset.printp .viewport .bb {
  display: none;
}
#reset.printp .viewport .nbf {
  position: relative;
  bottom: auto;
  right: auto;
}
#reset.printp .viewport .nb {
  background: transparent;
  border: none;
  padding-top: 20px;
}
*/
