.viewport {
  padding: 10px 15px 15px 15px;
  margin: 0px;
  overflow: hidden;
  background: url(../../../assets/b2.png);
  background-position: 0px 40px;
  width: 100%;
  position: relative;
}

.viewport .open-chooser {
  position: absolute;
  background: url(../images/open0.png);
  width: 16px;
  height: 16px;
  top: 2px;
  left: 6px;
  z-index: 7;
  border: none;
}
html[dir='rtl'] .viewport .open-chooser {
  left: auto;
  right: 6px;
}
.viewport .open-chooser:hover {
  background: url(../images/open1.png);
}

.viewport .chooser {
  padding-inline-end: 10px;
  float: left;
}
html[dir='rtl'] .viewport .chooser {
  float: right;
}
.viewport.chooser-hidden .chooser {
  display: none;
}
.viewport .tabrow {
  width: 100%;
  white-space: nowrap;
}
.viewport .textarea {
  min-width: 1px; /* allows textarea to shrink below minimum content size */
}
.viewport .textrow {
  width: 100%;
}
.viewport.ownWindow .atext {
  margin: 0;
}

/* PRINTING STYLES */
@media print {
  .viewport .chooser,
  .viewport .open-chooser,
  .viewport .text-pin,
  .viewport .text-win,
  .viewport .notebox-maximizer {
    display: none !important;
  }
  .viewport .tab {
    background-color: white !important;
    color: black !important;
  }
  .viewport .tab:not(.active) {
    display: none;
  }
  .viewport > div {
    height: auto;
  }
  .viewport .sb,
  .viewport .nbf,
  .viewport .nb {
    height: auto !important;
  }
  .viewport .sb {
    margin-bottom: 20px !important;
  }
  .viewport .bb {
    display: none;
  }
  .viewport .nbf {
    position: relative;
    bottom: auto;
    right: auto;
  }
  .viewport .nb {
    background: transparent;
    border: none;
    padding-top: 20px;
  }
}
