.bibleselect.hidetrans .bstrans {
  display: none;
}
.bibleselect.hidebook .bsbook {
  display: none;
}
.bibleselect.hidechapter .bschapter {
  display: none;
}
.bibleselect.hideverse .bsverse {
  display: none;
}
.bibleselect.hidelastverse .bslastverse {
  display: none;
}
.bibleselect.hidebook.hidechapter.hideverse.hidelastverse .spacer {
  display: none;
}

.bibleselect .label label {
  font-weight: bold;
  padding-top: 3px;
  margin-inline-start: 3px;
  margin-inline-end: 2px;
}
.bibleselect .dash label {
  margin-inline-start: 1px;
  margin-inline-end: 1px;
}

.bibleselect menulist.bsbook {
  margin-inline-end: 9px;
}
.bibleselect menulist.bschapter,
.bibleselect menulist.bsverse,
.bibleselect menulist.bslastVerse {
  width: 4em;
  margin-inline-start: 1px;
  margin-inline-end: 1px;
}

.bibleselect span.name {
  font-weight: bold;
}
.bibleselect span.description {
  margin-inline-start: 2em;
  color: grey;
}
