button {
  margin: 1px 5px 2px 5px;
  min-width: 6.3em;
  border: 1px solid;
  border-radius: 4px;
  border-top-color: ThreeDHighlight;
  border-right-color: ThreeDDarkShadow;
  border-bottom-color: ThreeDDarkShadow;
  border-left-color: ThreeDHighlight;
  background-color: white;
  color: ButtonText;
  text-shadow: none;
}

button {
  font-size: 11px;
}

.button-box {
  border: 1px solid transparent;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-inline-start: 3px;
  padding-inline-end: 4px;
}

.button-icon {
  display: none;
}

.button-text {
  display: inline-block;
  padding: 0px;
}
button:not(.orient-vertical) .button-text {
  padding-left: 4px;
  padding-right: 0px;
}

button:not(.orient-vertical).dir-reverse .button-text {
  padding-left: 0px;
  padding-right: 4px;
}
button.orient-vertical .button-text {
  padding-top: 4px;
  padding-bottom: 0px;
}

button.orient-vertical.dir-reverse .button-text {
  padding-top: 0px;
  padding-bottom: 4px;
}

/* .......... focused state .......... */

button:focus {
  border-top-color: ThreeDDarkShadow;
  border-right-color: ThreeDDarkShadow;
  border-bottom-color: ThreeDDarkShadow;
  border-left-color: ThreeDDarkShadow;
}

button:focus .button-box {
  border: 1px dotted ThreeDDarkShadow;
}

/* .......... active/open/checked state .......... */

button:hover:active,
button.open,
button.checked {
  border-top-color: ThreeDDarkShadow;
  border-right-color: ThreeDDarkShadow;
  border-bottom-color: ThreeDDarkShadow;
  border-left-color: ThreeDDarkShadow;
  color: ButtonText;
}

button:hover:active .button-box,
button.checked .button-box {
  padding-top: 2px;
  padding-bottom: 1px;
  padding-inline-start: 4px;
  padding-inline-end: 3px;
}

/* .......... disabled state .......... */

button.disabled,
button.disabled:hover:active {
  border-top-color: ThreeDHighlight;
  border-right-color: ThreeDDarkShadow;
  border-bottom-color: ThreeDDarkShadow;
  border-left-color: ThreeDHighlight;
  color: GrayText;
}

button.disabled .button-box {
  padding-top: 1px !important;
  padding-bottom: 2px !important;
  padding-inline-start: 3px !important;
  padding-inline-end: 4px !important;
}

/* ::::: menu/menu-button buttons ::::: */

button.type-menu {
}

.button-menubutton-button {
  margin: 0;
}

.button-menu-dropmarker,
.button-menubutton-dropmarker {
}

.button-menubutton-dropmarker {
  margin-inline-end: 3px;
}
