/* TOOLTIP */
.tooltip {
  position: relative;
}
.tooltip .tooltiptext {
  width: 100%;
  top: 100%;
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 9;
}
.tooltip:hover:not(:focus-within) .tooltiptext {
  visibility: visible;
  transition-delay: 0.75s;
}
