.viewport {
  padding: 10px 15px 15px 15px;
  margin: 0px;
  overflow: hidden;
  background-position: 0px 40px;
  width: 100%;
  position: relative;
}

.viewport .open-chooser {
  position: absolute;
  background: url(../images/open0.png);
  width: 16px;
  height: 16px;
  top: 2px;
  left: 6px;
  z-index: 7;
  border: none;
}
html[dir='rtl'] .viewport .open-chooser {
  left: auto;
  right: 6px;
}
.viewport .open-chooser:hover {
  background: url(../images/open1.png);
}

.viewport .genbook-chooser {
  margin-top: 25px;
}
.viewport .chooser {
  padding-inline-end: 10px;
}
.viewport.chooser-hidden .chooser {
  display: none;
}
.viewport .tabrow {
  width: 100%;
  white-space: nowrap;
  z-index: 6; /* so mts-tab drop down covers text-pin */
}
.viewport .textarea {
  min-width: 1px; /* allows textarea to shrink below minimum content size */
}
.viewport .textrow {
  width: 100%;
}
.viewport.ownWindow .atext {
  margin: 0;
}
