#layer1 {
  background-image: url(../../../assets/splash.png);
  background-repeat: no-repeat;
}

div #layer2 {
  background-image: url(../../../assets/splash-overlay.png);
  background-repeat: no-repeat;
}

div[lang='ru'] #layer2 {
  background-image: url(../../../assets/splash-overlay-ru.png);
  background-repeat: no-repeat;
}

.splash-text {
  font-size: 14px;
  color: rgb(77, 37, 143);
}
