#scrollbox {
  background-color:rgb(220,220,220);
}
.mod-heading,
.mod-detail-heading {
  font-size:1.4em;
  margin-top:20px;
}
.link {
  color:blue;
  display:inline-block;
  margin:0px 10px 3px 0px;
}
.simple-list.link {
  display:block;
}
.link:hover {
  text-decoration:underline;
}
#separator {
  border-top:4px double grey;
  border-bottom:4px double grey;
  height:6px;
  margin:50px;
}
.mod-anchor {
  display:block;
  padding-top:10px;
}
.description,
.about,
.copyright {
  margin-bottom:1em;
}
.return-link:after {
  content:'\2191';
  font-family:ariel;
  font-size:1.4em;
  color:blue;
}
.return-link:hover {
  text-decoration:underline;
}
.confpath {
  display:none;
  border:2px outset rgb(240,240,240);
  border-bottom:none;
  background-color:rgb(240,240,240);
}
.conf-info[showInfo="true"] .confpath {
  display:block;
}
.conf-info {
  padding-bottom:6px;
  border-bottom:1px solid grey;
  margin-bottom:20px;
}
.conf-info:last-child {
  border-bottom:none;
}
.conf-info textarea {
  width:100%;
  height:250px;
  font-family:Courier;
  font-size:12px;
  line-height:100%;
  background-color:white;
}
.conf-info textarea[readonly="readonly"] {
  background-color:rgb(240,240,240);
}
.conf-info textarea,
.less-label {
  display:none;
}
.conf-info[showInfo="true"] textarea {
  display:block;
}
.conf-info[showInfo="true"] .less-label {
  display:inline;
}
.conf-info[showInfo="true"] .more-label {
  display:none;
}
.save-link,
.conf-info[readonly="readonly"] .save-link, 
.conf-info:not([readonly="readonly"]) .edit-link {
  display:none;
}
.conf-info:not([readonly="readonly"]) .save-link {
  display:inline;
}
