#scrollbox {
  background-color:rgb(220,220,220);
}
.mod-heading,
.mod-detail-heading {
  font-size:1.4em;
  margin-top:20px;
}
.link {
  color:blue;
  display:block;
  margin-bottom:3px;
}
.link:hover {
  text-decoration:underline;
}
#separator {
  border-top:4px double grey;
  border-bottom:4px double grey;
  height:6px;
  margin:50px;
}
.mod-anchor {
  display:block;
  padding-top:10px;
}
.description,
.about,
.copyright {
  margin-bottom:1em;
}
.return-link:after {
  content:'\2191';
  font-family:ariel;
  font-size:1.4em;
  color:blue;
}
.return-link:hover {
  text-decoration:underline;
}
.conf-info {
  padding-bottom:6px;
  border-bottom:1px solid grey;
  margin-bottom:20px;
}
.conf-info textarea {
  width:100%;
  height:250px;
  font-family:Courier;
  font-size:12px;
  line-height:100%;
}
.conf-info textarea,
.less-label {
  display:none;
}
.conf-info[showInfo="true"] textarea {
  display:block;
}
.conf-info[showInfo="true"] .less-label {
  display:inline;
}
.conf-info[showInfo="true"] .more-label {
  display:none;
}
