button {
  margin:4px 6px 6px 6px;
}

#mainbox {
  border:2px solid rgb(230,200,255);
  border-radius:8px;
}
#layer1 {
  background-image: url(chrome://xulsword/skin/images/splash.jpg); 
  background-repeat:no-repeat;
}
#layer2 {
  background-image: url(chrome://xulsword/locale/splash-overlay.png); 
  background-repeat:no-repeat;
}
.help-text {
  font-size:12px; 
  color:rgb(77,37,143);
}
.splash-text {
  font-size:14px;
  color:rgb(77,37,143);
}
#modules,
#contributors {
  display:none;
}
#contributors {
  height:250px;
  overflow:hidden;
  margin:76px 98px 10px 98px;
  background:rgba(0,0,0,0.5);
  color:white;
  border-radius:8px;
}
#contributors label {
  text-align:center;
  width:300px;
}
#contributors label:first-child {
  margin-top:250px;
}
#contributors label:last-child {
  margin-bottom:250px;
}

#mainbox[showingModules="true"] #modules,
#mainbox[showingContributors="true"] #contributors {
  display:block;
}

#mainbox[showingModules="true"] #show-modules-button,
#mainbox[showingModules="true"] #show-contributors-button {
  visibility:hidden;
}
