.modulemanager .button-stack .bp4-button {
  margin: 6px 0;
  margin-inline-start: 10px;
}

.checkbox-column {
  text-align: center;
  font-size: 18px;
}

.repository .custom-repo {
  border: 1px dotted rgb(0 132 255);
}
