/* GROUPBOX STYLING */
groupbox {
  border:1px solid rgb(200,200,200);
  border-radius:4px;
}
groupbox > hbox,
groupbox > vbox,
groupbox > grid {
  margin-bottom:10px;
  -moz-margin-end:10px;
}

groupbox caption {
  background:-moz-Dialog;
}

/* MENU ICONS (hidden by default on Linux so make visible always) */
.menu-iconic-left {
  visibility:visible !important;
}

/* BUTTON ICONS (hidden by default on Linux so make visible always) */
#back .button-icon,
#historymenu .button-icon,
#forward .button-icon,
#searchButton .button-icon,
#hdbutton .button-icon,
#fnbutton .button-icon,
#crbutton .button-icon,
#dtbutton .button-icon {
  display: -moz-box;
}

#bookmarkTT label {
  color:white;
}
