.genbook-chooser {
  height: calc(100% - 25px);
}

.genbook-chooser .chooser-container {
  width: 200px;
  border: none;
  background-color: unset;
}

.genbook-chooser .scroll-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  min-width: calc(100% - 3px);
  max-width: calc(100% - 3px);
  overflow: auto;
  z-index: 7;
  border: 2px solid var(--border-light);
  background-color: var(--bg-bp6-light);
  transition: 0.25s;
}

.genbook-chooser .scroll-parent:hover {
  max-width: 800px;
  filter: drop-shadow(10px 10px 2px #777777);
  transition: 0.5s;
  transition-delay: 1s;
}

html[dir='rtl'] .genbook-chooser .scroll-parent {
  transform: scaleX(-1);
  left: unset;
  right: 0px;
}
html[dir='rtl'] .genbook-chooser .scroll-parent:hover {
  right: -5px;
}
html[dir='rtl'] .bp6-tree-node-label {
  transform: scaleX(-1);
}

.genbook-chooser .fadetop {
  display: none;
}
.genbook-chooser .fadebot {
  display: none;
}
.genbook-chooser .bp6-tree-node-caret-none + .bp6-icon-volume-up {
  margin-inline-start: -24px;
}
