/* Standard SWORD OSIS filter CSS */
.divineName { font-variant: small-caps; }
.transChangeSupplied { font-style: italic; }
.small, .sub, .sup { font-size: .83em; }
.sub             { vertical-align: sub; }
.sup             { vertical-align: super; }
.indent1         { margin-left: 10px; }
.indent2         { margin-left: 20px; }
.indent3         { margin-left: 30px; }
.indent4         { margin-left: 40px; }
		
/* Header Links */
.navlink {
  color:blue;
  margin: 10px;
  cursor:default;
}
.navlink-span {
  font-family:ariel;
}
.prevchaplink, .nextchaplink {
  cursor:pointer;
}
.text[CanDoPreviousPage="false"] .prevchaplink,
.text[CanDoNextPage="false"] .nextchaplink {
  color:grey;
  cursor:default;
}
.prevchaplink:hover, .nextchaplink:hover {
  border-bottom:1px solid blue;
}
.text[CanDoPreviousPage="false"] .prevchaplink:hover,
.text[CanDoNextPage="false"] .nextchaplink:hover {
  border-bottom:none;
}

/* Bible & Commentary chapter/page header */
.chapterhead {
  padding-top:26px;
}
.chapnotice {
  font-size:1.0em !important;
  margin:0px 10px 10px 10px;
}
.chapnotice.empty {
  display:none;
}
.noticelink-c {
  text-align:center;
}
.noticelink {
  border-bottom:1px solid blue;
  color:blue;
  cursor:pointer;
}
.noticetext {
  display:none;
}
.chaptitle {
  float:left;
  font-size:2em;
  font-weight:bold;
  color:rgb(110,85,110);
}
.chapterhead.RTL .chaptitle {
  float:right;
}
.chapbk, .chapch {
  white-space:nowrap;
}
.chapbk {
  display:none;
  margin-bottom:0.5em;
}
.chapterhead.chapterfirst .chapbk {
  display:block;
}
#text[pin="pinned"] .chapbk {
  display:block;
}
.chapinfo {
  float:right;
  min-width:40px;
  color:rgb(110,85,110);
}
.chapterhead.RTL .chapinfo {
  float:left;
}
.listenlink {
  visibility:hidden;
  display:inline-block;
  background:url('chrome://xulsword/skin/images/listen0.png');
  width:45px;
  height:37px;
  position:relative;
  top:-0.8em;
}
.listenlink.hasAudio {
	visibility:visible;
}
.listenlink:hover {
  background:url('chrome://xulsword/skin/images/listen1.gif');
  cursor:pointer;
}
.introlink {
  font-size:1.4em;
  border-bottom:1px solid blue;
  color:blue;
  cursor:pointer;
}
.introlink.empty {
  display:none;
}
.origselect select {
	margin-top:1em;
}
.head-line-break {
  clear:both;
  margin-bottom:30px;
}
.introtext {
  display:none;
}

/* Interlinear display */
.interB {
  margin-top:16px;
  margin-bottom:16px;
}
.interS {
  width:50px;
  border-top:1px solid blue;
  margin-top:4px;
  margin-bottom:4px;
}

/* Script box styles */
.head1 > h1, 
.head1 > h2, 
.head1 > h3,
.head2 > h1, 
.head2 > h2, 
.head2 > h3 {
	/* all titles are same size titles */
	font-size:inherit !important;
}
.head1 {
  font-size:1.6em !important;
  color:rgb(110,85,110) !important;
  font-weight:bold;
  text-align:center;
  margin-bottom:1em;
  margin-top:1em;
  clear:both;
}
.head2 {
  font-size:1.3em !important;
  color:rgb(110,85,110) !important;
  font-weight:bold;
  margin-bottom:0.5em;
  clear:both;
}
.canonical {
  font-style:italic;
}
.divine {
  font-size: 1.3em !important;
	color: black;
}
.versePerLineButton {
	position:relative;
	display:block;
	width:0px;
	height:0px;
}
.versePerLineButton > div {
	position:absolute;
	top:0px;
	left:-25px;
	background:url('chrome://xulsword/skin/images/versePerLine.png');
	background-position:0px 0px;
	width:17px;
	height:20px;
}
.text[textdir="rtl"] .versePerLineButton > div {
	left:auto;
	right:-25px;
	transform:scaleX(-1);
}
.text[versePerLine="true"] .versePerLineButton > div {
	background-position:-34px 0px;
}
.text[versePerLine="false"] .versePerLineButton > div:hover {
	background-position:-17px 0px;
}
.text[versePerLine="true"] .versePerLineButton > div:hover {
	background-position:-51px 0px;
}
.text[versePerLine="true"] .vs {
	display:block;
}
.versenum {
  vertical-align:top;
}
.versenum:before,
.versenum:after {
  content:' ';
}
.cr, 
.fn,
.un,
.gfn {
  cursor:pointer;
}
.cr:after, 
.fn:after,
.un:after,
.gfn {
  vertical-align:top;
  font-family:'arial' !important;
  font-size-adjust:0.55 !important;
  line-height:100% !important;
}
.cr:after {
  content: "\00D7 ";
  color:rgb(255,0,0);
}
.x-parallel-passage:after {
  content: "\25CF ";
  color:rgb(255,0,0);
}
.x-style1:after {
  content: "+ ";
  color:rgb(255,0,0);
}
.fn:after {
  content: "\00D7 ";
  color:rgb(0,200,250);
}
.un:after {
  content: "\00D7 ";
  color:rgb(0,0,200);
}
.sr {
	border-bottom:1px solid blue;
  cursor:pointer;
}
.dt {
  border-bottom:1px solid black;
  cursor:pointer;
}
.gfn {
	color:rgb(0,200,250);
}
.gfn:before {
	content:'[';
}
.gfn:after {
	content:'] ';
}


/* Words with Strong's number attached */
.sn {
  border-bottom: 1px solid rgb(220,195,220); /*(240,215,240);*/
  cursor:pointer;
}
.matchingStrongs {
  background:yellow;
}
.wordsOfJesus {
  color:red;
}
/* selected verse highlight */
.sb .hl,
.hl .wordsOfJesus {
  color:blue;
}
.text[moduleType="Texts"] .un-hilight {
  background:yellow;
}

/* Bible footnotes */
.fntable {
  display:table;
  border-collapse:separate;
  border-spacing:0px 1px;
  -moz-margin-start:10px
}
.popup-text .fntable {
  width:100%;
}
.fnrow {
  display:table-row;
  -moz-padding-end:16px;
}
.fncol1 {
  display:table-cell; 
  width:6px;
  vertical-align:top;
  padding-top:8px;
}
.crtwisty {
  width:9px;
  height:9px;
  background:url(chrome://xulsword/skin/images/twisty-open.png);
  position:relative;
  top:-2px;
}
.cropened .crtwisty {
  background:url(chrome://xulsword/skin/images/twisty-close.png);
}
.fncol2 {
  display:table-cell; 
  visibility:hidden;
  vertical-align:top;
  padding-top:12px;
}
.fndash {
  width:6px; 
  height:2px; 
  border-top:1px solid rgb(150,150,150);
}
.fncol3 {
  display:table-cell;
  visibility:hidden;
  width:6px;
  border-top:1px solid rgb(150,150,150);
  border-left:1px solid rgb(150,150,150);
  border-bottom:1px solid rgb(150,150,150);
}
.cropened .fncol2, 
.cropened .fncol3 {
  visibility:visible;
}
body[chromedir="rtl"] .fncol3 {
  border-left:none;
  border-right:1px solid rgb(150,150,150);
}
.fncol4 {
  display:table-cell;
  text-align:end;
  white-space:nowrap;
  vertical-align:top;
  padding-top:2px;
}
.fnlink {
  color:blue;
}
.fnlink:hover {
  border-bottom:1px solid blue;
  cursor:pointer;
}
.fncol5 {
  display:table-cell;
  padding:0px 4px 0px 4px;
  border:1px solid transparent;
  border-radius:8px;
}
.fnselected .fncol5 {
  border:1px outset yellow;
  background:rgb(255,243,255);
}
.crref {
  color:blue;
}
.crref:hover {
  border-bottom:1px solid blue;
  cursor:pointer;
}
.cropened .crref:after {
  content:": ";
}
.crtext {
  display:none;
}
.cropened .crtext {
  display:inline;
}
.cropened .crtext.opposing-program-direction {
  display:inline-block;
}
.cr-sep {
  display:inline;
}
.cr-sep:after {
  content:";";
  -moz-padding-end:0.5em;
}
.cropened .cr-sep {
  display:block;
  border-top:1px solid grey;
  margin:10px;
}
.cropened .cr-sep:after {
  content:"";
  -moz-padding-end:0em;
}
.fntext.opposing-program-direction {
  display:inline-block;
}
.noteBoxUserNote {
  font-style:italic;
}

/* Other footnotes */
.sb .nlist {
	border-top:1px solid grey;
	margin:24px 10% 0px 10%;
	padding:10px 0px 10px 0px;
}

/* Dictionary styles */
.dictentry {
  display:table;
  height:100%;
  width:100%;
}
.dictentry > div {
  display:table-cell;
  vertical-align:middle;
}
.dictlist {
  position:relative;
  height:100%;
}
.dictlist .textboxparent {
  position:absolute;
  margin-right:20px;
  -moz-padding-start:20px;
  left:0px;
  right:0px;
  top:0px;
  height:3em;
}
.dictlist input {
  width:100%;
  margin-top:1em;
}
.dictlist .keylist {
  position:absolute;
  left:0px;
  right:0px;
  top:4em;
  bottom:0px;
  -moz-padding-start:20px;
  overflow:auto;
}
.dictlist .key {
  cursor:pointer;
}
.dictselectkey {
  background:highlight;
  color:white;
}
.dtl, .sr {
  color:blue;
  border-bottom:1px solid blue;
  cursor:pointer;
}
.dict-description {
  font-weight:bold;
}
.dict-sep {
  border-top:3px solid grey;
  margin:10px;
}
.dict-key-heading {
  font-weight:bold;
}

.image-container {
  text-align:center;
}

/* HTML TABLES */
.sb table tr td {
	border:1px outset grey;
	padding:10px;
}

/* CLASSES PASSED FROM SWORD MODULES BY LIBXULSWORD */
.x-text-image {
	float:right;
}
.x-text-image img {
	margin:0px 0px 0.5em 1em;
}
.x-p-first {
  display:block;
}
.x-p-first:first-letter {
  font-size:4em; 
  float:left; 
  margin-right:10px; 
}
.x-ref-cb {
  display:block;
  text-align:right;
}

/* PRINTING STYLES */
@media print {

.pagebreak {
  page-break-after: always;
  margin:40px;
}
.navlink,
.chapinfo {
  display:none !important;
}
.noticelink {
  display:none;
}
.noticetext {
  display:block;
}
.chapterhead .chapbk {
  display:block;
}
.interS {
  border-top:1px solid black;
}
.dt {
  border-bottom:none;
}
.sn {
  border-bottom:none;
}
.dtl, .sr {
  color:inherit;
  border-bottom:none;
}
.sb .hl,
.hl .wordsOfJesus {
  color:inherit;
}
.text[moduleType="Texts"] .un-hilight {
  background:transparent;
}
.fnlink {
  color:inherit;
}
.crref {
  color:inherit;
}
.crref:after {
  content:": ";
}
.crtext {
  display:inline;
}
.crtext.opposing-program-direction {
  display:inline-block;
}
.cr-sep {
  display:block;
  border-top:none;
  margin:10px;
}
.cr-sep:after {
  content:"";
  -moz-padding-end:0em;
}

}





