/*
    This file is part of xulSword.

    Copyright 2009 John Austin (gpl.programs.info@gmail.com)

    xulSword is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 2 of the License, or
    (at your option) any later version.

    xulSword is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with xulSword.  If not, see <http://www.gnu.org/licenses/>.
*/
/* Standard SWORD OSIS filter CSS */
.divineName { font-variant: small-caps; }
.transChangeSupplied { font-style: italic; }
.small, .sub, .sup { font-size: .83em; }
.sub             { vertical-align: sub; }
.sup             { vertical-align: super; }
.indent0 {margin-left:0;}
.indent1 {margin-left:1.5em;}
.indent2 {margin-left:3em;}
.indent3 {margin-left:4.5em;}
.indent4 {margin-left:6em;}
.overline        { text-decoration: overline; }
.moduleHeader,
.testamentHeader,
.bookHeader,
.chapterHeader {}
.wordsOfJesus,
.wordsOfJesus span {
  color:red;
}
/* Xulsword OSIS filter specific CSS */
.head1, h1, h2, h3 {
  font-size:1.6em !important;
  color:rgb(110,85,110) !important;
  font-weight:bold;
  text-align:center;
  margin-bottom:1em;
  margin-top:1em;
  clear:both;
}
.head2 {
  font-size:1.3em !important;
  color:rgb(110,85,110) !important;
  font-weight:bold;
  margin-bottom:0.5em;
  clear:both;
  text-align:left;
}
.head2.moduleHeader,
.head2.testamentHeader,
.head2.bookHeader,
.head2.chapterHeader {
  text-align:center;
}
.text[textdir="rtl"] .head2 {
  text-align:right;
}
.head1 h1, 
.head1 h2, 
.head1 h3,
.head2 h1, 
.head2 h2, 
.head2 h3 {
  font-size:inherit;
}
.interB .head1,
.interB .head2 {
  display:none;
}
.x-right {
  text-align:right;
}
.canonical {
  font-style:italic;
}
.lb + .lb,
.line > .lb,
.item > .lb,
.lg-end + .lb,
.lb + .p-end {
  margin:1em;
}
.osis2mod {}
.p-milestone {
  margin:1em;
}
.x-p {
  text-indent:1.5em;
  margin-top:0px;
  margin-bottom:0px;
}
.x-p.x-noindent,
.x-p.x-p-first {
  text-indent:0em;
}
/* x-p-indent occurs in old osis-converters modules */
.x-p-indent,
.p-start {
  display:inline-block;
  width:1.5em;
}
.p-start.x-noindent,
.p-start.x-nobreak,
.p-start.x-nobreakNext {
  width:0em;
}
.p-start.x-indented-2,
.p-start.x-level-2{
  width:3em;
}
.p-start.x-indented-3,
.p-start.x-level-3{
  width:4.5em;
}
.p-start.x-indented-4,
.p-start.x-level-4{
  width:6em;
}
.p-start.x-indented-5,
.p-start.x-level-5{
  width:7.5em;
}

/*.x-lg,*/
.x-list {
  text-indent:0px;
  margin-top:1em;
  margin-bottom:1em;
}
/*.lg-start, .lg-end,*/
.list-start, .list-end {
  margin:1em;
}
/* OSIS <lg subType="x-list-ms"><l subType="x-item-ms"> is used in 
 * place of <list><item> since <lg> and <l> are milestoneable */
.line:not(.x-item-ms) {
  text-indent:-1.5em;
  padding-left:1.5em;
}
/* OSIS <l level="N" subType="x-to-next-level"> only occurs when the 
 * next <l> has the next highest level. */
.line:not(.x-item-ms).x-to-next-level {
  text-indent:-3em;
  padding-left:3em;
}
.item {}
.x-PM {}
.text[versePerLine="true"] .p-end,
.text[versePerLine="true"] .lg-end,
.text[versePerLine="true"] .list-end,
.text[versePerLine="true"] .lb,
.text[versePerLine="true"] .line,
.text[versePerLine="true"] .item {
  display:inline;
  margin:0.25em;
  text-indent:0px;
  padding:0px;
}
.text[versePerLine="true"] .p-milestone,
.text[versePerLine="true"] .p-start,
.text[versePerLine="true"] .lg-start,
.text[versePerLine="true"] .list-start,
.text[versePerLine="true"] .x-p-indent,
.text[versePerLine="true"] .lb + .lb,
.text[versePerLine="true"] br,
.interB .lg-start:first-child,
.interB .lg-end:last-child,
.interB .list-start:first-child,
.interB .list-end:last-child  {
  display:none;
}
.text[versePerLine="true"] .x-p,
.text[versePerLine="true"] .indent0,
.text[versePerLine="true"] .indent1,
.text[versePerLine="true"] .indent2,
.text[versePerLine="true"] .indent3,
.text[versePerLine="true"] .indent4,
.text[versePerLine="true"] .x-lg,
.text[versePerLine="true"] .x-list {
  text-indent:0em;
  margin:0px;
}
.image-container {
  text-align:center;
}
.image-container img {
  width:100%;
  margin:20px 0px 20px 0px;
}
/* CLASSES FROM OSIS-CONVERTER-MADE SWORD MODULES */
.x-text-image {
  float:right;
  margin-right:10px;
  max-width:50%;
}
.x-text-image img {
  margin:0px 0px 0.5em 1em;
  border:3px outset black;
  border-radius:8px;
}
.x-p-first {
  display:block;
}
.x-p-first:first-letter,
.x-p-first .line:first-child:first-letter,
.x-p-first .item:first-child:first-letter {
  font-size:4em; 
  float:left; 
  margin-right:10px; 
}
.x-p-first .line:not(.x-item-ms):first-child {
  text-indent:0em;
  padding-left:0em;
}
.x-ref-cb {
  display:block; /* CBs > May 2014 don't need this */
  text-align:right; /* CBs > May 2014 don't need this */
  font-size:smaller;
}

.versePerLineButton {
  position:relative;
  display:block;
  width:0px;
  height:0px;
}
.versePerLineButton > div {
  position:absolute;
  top:0px;
  left:-25px;
  background:url('chrome://xulsword/skin/images/versePerLine.png');
  background-position:0px 0px;
  width:17px;
  height:20px;
}
.text[textdir="rtl"] .versePerLineButton > div {
  left:auto;
  right:-25px;
  transform:scaleX(-1);
}
.text[versePerLine="true"] .versePerLineButton > div {
  background-position:-34px 0px;
}
.text .versePerLineButton > div:hover {
  background-position:-17px 0px;
}
.text[versePerLine="true"] .versePerLineButton > div:hover {
  background-position:-51px 0px;
}
.text[versePerLine="true"] .vs {
  display:block;
}

.versenum {
  vertical-align:top;
}
.versenum:before,
.versenum:after {
  content:' ';
}
.sb .hl,
.sb .hl div,
.sb .hl span,
.sb .hl .wordsOfJesus {
  color:blue;
}
.cr, 
.fn,
.un,
.gfn {
  cursor:pointer;
}
.cr:after, 
.fn:after,
.un:after,
.gfn {
  vertical-align:top;
  font-family:'arial' !important;
  font-size-adjust:0.55 !important;
  line-height:100% !important;
}
.cr:after {
  content: "\00D7 ";
  color:rgb(255,0,0);
}
.x-parallel-passage:after {
  content: "\25CF ";
  color:rgb(255,0,0);
}
.x-style1:after {
  content: "+ ";
  color:rgb(255,0,0);
}
.fn:after {
  content: "\00D7 ";
  color:rgb(0,200,250);
}
.un:after {
  content: "\00D7 ";
  color:rgb(0,0,200);
}
.no-symbol .un:after {
  content: "";
}
.sr {
  color:blue;
  text-decoration:underline;
  cursor:pointer;
}
.sr:before,
.sr:after {
/* ISV uses inline sr without surrounding whitespace */
  content:' ';
}
.dtl, .dt {
  text-decoration:underline;
  cursor:pointer;
}
/* Words with Strong's number attached */
.sn {
  text-decoration:underline;
  cursor:pointer;
}
.gfn {
  color:rgb(0,200,250);
}
.gfn:before {
  content:'[';
}
.gfn:after {
  content:'] ';
}
