#mainbox {
  border:2px solid rgb(230,200,255);
  border-radius:8px;
}
#logo {
  background-image: url(chrome://xulsword/locale/splash.png); 
  background-repeat:no-repeat;
}
#info {
  font-size:12px; 
  color:black;
}
#producedBy {
  font-size:12px; 
  color:rgb(77,37,143);
}
#modules {
  display:none;
}
#mainbox[showingModules="true"] #modules {
  display:block;
}
#show-modules-button,
#close-button {
  margin:4px 6px 6px 6px;
}
#mainbox[showingModules="true"] #show-modules-button {
  visibility:hidden;
}
