/* UI classes which are dynamically updated */
.userFontSize {
  font-size:12px;
}

/*like userFontSize but NOT dynamically updated */
.fixedFontSize {
  font-size:12px;
}

.RTL {
  direction:rtl;
  text-align:right;
}
