.fn:hover #npopup,
.un:hover #npopup,
.sn:hover #npopup,
.cr:hover #npopup,
.cr-x-parallel-passage:hover #npopup,
.cr-x-style1:hover #npopup,
.sr:hover #npopup,
.dtl:hover #npopup,
.dt:hover #npopup,
.introlink:hover #npopup,
.noticelink:hover #npopup {
  /* This is so that once npopup is moved into one of these hovered  
  elements by Javascript mouseover, then it stays open until the element  
  and its children are no longer hovered by the mouse. */
  display:block;
}
.fn #npopupTX,
.un #npopupTX,
.cr #npopupTX,
.cr-x-parallel-passage #npopupTX,
.cr-x-style1 #npopupTX,
.sr #npopupTX,
.dtl #npopupTX,
.dt #npopupTX,
.introlink #npopupTX,
.noticelink #npopupTX {
  /* popup appears above the element, covering it. */
  top:-20px;
  left:5px;
}
.sn #npopupTX {
  /* popup appears away from the element so that 
  the text of the element can still be read */
  top:100px;
  left:5px;
}

#npopupRL {
  /* relative container for popupTX to be absolute */
  position:relative;
}

#npopupTX {
  font-size: 1.1em;
  cursor:default;
  background:rgb(245,220,255);
}

/* Make sure these npopup styles are NOT inherited from container! */
#npopup {
  text-align:left;
  color:black;
}
body[chromedir="rtl"] #npopup {
  text-align:right;
}

/* FOR REGULAR (NON-WINDOW) POPUP STYLES */
#npopup[isWindow="false"] {
  display:none;
  z-index:100;
  position:absolute; /* insure popup falls out of page layout */
  left:0px;
  overflow:visible;
  width:100%;
  height:0px;
}
#npopup[pinned="true"] {
  display:block;
}
#npopup[isWindow="false"] #npopupTX {
  position:absolute;
  overflow:auto;
  width:calc(100% - 60px);
  max-height:300px; /* dynamic in popup.js */
  border:1px solid black;
  border-radius:5px;
  margin: 0px 20px 10px 0px;
  padding: 22px 20px 20px 14px;
  box-shadow: 3px 3px 5px 6px #ccc;
}
#npopup[pinned="true"][isWindow="false"] #npopupTX {
  margin: 2px 18px 8px 2px;
  box-shadow: none;
}

/* FOR WINDOW PINNED POPUP */
.windowedpup {
  background:rgb(245,220,255);
  padding:0px;
  margin:0px;
  overflow:auto;
}
#npopup[isWindow="true"] {
  display:block;
  margin:0px;
  padding:0px;
  height:100%;
}
#npopup[isWindow="true"] #npopupTX {
  padding: 22px 20px 20px 14px;
}
#npopup[isWindow="true"] .popuppin {
  display:none;
}

/* FOR ALL POPUPS */
.popupheader {
  position:relative;
  margin:0px 0px 30px 0px;
}
.popuppin {
  position:relative;
  float:left;
  background: url('chrome://xulsword/skin/images/pushpin0.png');
  width: 28px;
  height: 37px;
  top:-19px;
  left:-5px;
}
.popuppin:hover {
  background: url('chrome://xulsword/skin/images/pushpin2.png');
}
#npopup[pinned="true"] .popuppin {
  background: url('chrome://xulsword/skin/images/pushpin1.png');
}
body[chromedir="rtl"] .popuppin {
  transform:scaleX(-1);
  background: url('chrome://xulsword/skin/images/pushpin0.png');
  width: 28px;
  height: 37px;
  top:-19px;
  left:auto;
  right:-18px;
}
body[chromedir="rtl"] .popuppin:hover {
  transform:scaleX(-1);
  background: url('chrome://xulsword/skin/images/pushpin2.png');
}
body[chromedir="rtl"] #npopup[pinned="true"] .popuppin {
  transform:scaleX(-1);
  background: url('chrome://xulsword/skin/images/pushpin1.png');
}
.popupBackLink, .popupCloseLink {
  position:relative;
  left:-5px;
  color:blue;
  cursor:default;
  float:left;
}
body[chromedir="rtl"] .popupBackLink,
body[chromedir="rtl"] .popupCloseLink {
  float:right;
}
.popupBackLink:hover, .popupCloseLink:hover {
  border-bottom:1px solid blue;
  cursor:pointer;
}
.popup-mod-select {
  display:none;
  position:relative;
  top:-10px;
  float:right;
  font-size:0.8em;
  text-align:center;
  padding-top:3px;
}
body[chromedir="rtl"] .popup-mod-select {
  float:left;
}
#npopup[puptype="cr"] .popup-mod-select,
#npopup[puptype="sr"] .popup-mod-select {
  display:block;
}
.prevhtml {
  display:none;
}
.popup-text {
  width:100%;
  clear:both;
}

/* dictionary styles */
#npopup .dtl,
#npopup .sr {
  border-bottom:none;
}
#npopup .dtl:hover,
#npopup .sr:hover {
  border-bottom:1px solid;
}

/* footnote styles */
#npopup .fntable {
  margin:0px;
}
#npopup .fncol2,
#npopup .fncol3,
#npopup .fncol4 {
  display:none;
}
