#lexiconBox {
  display:none;
}
body[hasLexicon="true"] #lexiconBox {
  display:block;
}
.slist {
  white-space:nowrap;
}
.matchingStrongs {
  /* this rule is copied by Javascript 
  and applied to Strong's classes */
  color:red;
}
.searchTerm {
  color:red;
}
