/* CSS Document */

#scriptBoxBody, #searchBoxBody {
  font-family:'arial';
}

a {
  color:blue;
	text-decoration: none;
	cursor:pointer;
}
a:link {color:blue;}
a:visited {color:blue;}
a:hover{color:blue; text-decoration:underline;}
a:active{color:blue;}

/* SCRIPT BOX */
.head1 {
  font-size:18px;
  color:rgb(110,85,110);
  font-weight:bold;
  text-align:center;
  margin-bottom:1em;
  margin-top:1em;
  clear:both;
}
.head2 {
  font-size:16px;
  color:rgb(110,85,110);
  font-weight:bold;
  margin-bottom:0.5em;
  clear:both;
}
.listitem {
  text-indent:-16px;
}
.list {
  -moz-margin-start:16px;
}
.list1 {
  -moz-margin-start:16px;
}
.list2 {
  -moz-margin-start:32px;
}
.list3 {
  -moz-margin-start:48px;
}
.canonical {
  font-style:italic;
}
.divine {
  font-size: 13px;
	color: black;
}
.chapnum {
  font-size:28px;
  font-weight:bold;
  color:rgb(110,85,110);
}
.scriptbox {
  font-size: 14px;
	background:rgb(255,243,255);
	color: black;
	border:2px solid rgb(200,170,205);
  -moz-border-radius:8px;
  cursor:default;
  z-index:1;
  position:absolute;
  overflow:hidden;
  height:600px;
  top:0px;
}
.scriptboxtext {
  overflow:auto;
/*  line-height:135%; */
	background:rgb(255,243,255);
	padding-left:40px; 
  padding-right:40px;
  margin-bottom:10px;
  z-index:1;
  -moz-border-radius:8px;
}
.scriptboxPinned {
  /*background:rgb(235,235,228) !important;*/
  background:rgb(248,248,241) !important;
}
.scriptboxPinnedNB {
  /* background:rgb(235,230,235) !important; */
}
.scriptboxPinnedCN {
  /* background:rgb(223,198,223) !important; */
}
.scriptboxPinnedBB {
  /* background:rgb(213,213,213) !important; */
}
.npopup {
  font-size: 13px;
  margin-right:20px;
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
  padding-bottom:20px;
  border:1px solid black;
  cursor:default;
  background:rgb(245,220,255);
  -moz-border-radius:5px;
  z-index:4;
  position:absolute;
  overflow:auto;
}
.npopupSH {
  background:black;
  opacity:.35;
  -moz-border-radius:7px;
  cursor:default;
  z-index:3;
  position:absolute;
}
.audiolink {
  position:relative; 
  top:-10px;
  width:45px;
  height:37px;
  margin-left:35px;
  margin-right:35px;
  margin-bottom:-10px;
}
.introlink {
  font-size:20px;
  font-weight:normal;
}
.navlink {
  direction:ltr !important;
  margin: 10px;
  text-align:center;
}
.navlinkDisabled {
  color:rgb(200,200,200);
}
.versenum {
  font-size:9px;
}
.interB {
  margin-top:16px;
  margin-bottom:16px;
}
.interS {
  width:50px;
  border-top:1px solid blue;
  margin-top:4px;
  margin-bottom:4px;
}
/* cross-reference, footnote, and user note symbols */
.cr:after {
  content: "\00D7 ";
  vertical-align:super;
  font-family:'Arial' !important;
  font-size-adjust:0.55 !important;
  line-height:100% !important;
  color:rgb(255,0,0);
  cursor:pointer;
  z-index:7;
}
.cr-x-parallel-passage:after {
  content: "\25CF ";
  vertical-align:super;
  font-family:'Arial' !important;
  font-size-adjust:0.55 !important;
  line-height:100% !important;
  color:rgb(255,0,0);
  cursor:pointer;
  z-index:7;
}
.cr-x-style1:after {
  content: "+ ";
  vertical-align:super;
  font-family:'Arial' !important;
  font-size-adjust:0.55 !important;
  line-height:100% !important;
  color:rgb(255,0,0);
  cursor:pointer;
  z-index:7;
}
.fn:after {
  content: "\00D7 ";
  vertical-align:super;
  font-family:'Arial' !important;
  font-size-adjust:0.55 !important;
  line-height:100% !important;
  color:rgb(0,200,250);
  cursor:pointer;
  z-index:7;
}
.un:after {
  content: "\00D7 ";
  vertical-align:super;
  font-family:'Arial' !important;
  font-size-adjust:0.55 !important;
  line-height:100% !important;
  color:rgb(0,0,200);
  cursor:pointer;
  z-index:7;
}
/* user note highlight */
.unverse {
  background:rgb(255,255,140);
}
/* dictionary word style */
/*.dt:after {
  content: "\00D7 ";
  vertical-align:super;
  color:rgb(2,255,0);
}
.dt {
  cursor:pointer;
  z-index:7;
}*/
.dt {
  text-decoration:underline;
  cursor:pointer;
  z-index:7;
}
.genbknote {
  color:blue;
}
/* Words with Strong's number attached */
.sn {
  border-bottom: 1px solid rgb(220,195,220); /*(240,215,240);*/
}
.matchingStrongs {
  background:yellow;
}

/* selected verse highlight */
.hl {
  color:blue;
}
.languageTabs {
  z-index:2; 
  position:relative; 
  white-space:nowrap;
}
.languageTabs[chromedir=ltr] {
  margin-right:40px;
  float:right;
}
.languageTabs[chromedir=rtl] {
  margin-left:40px;
  float:left;
}
.tabs {
  font-size:10px;
  color:grey;
  margin-left:3px;
  margin-right:3px;
  border:3px solid;
  -moz-border-left-colors:  rgb(200,170,205) rgb(200,170,205) transparent;
  -moz-border-bottom-colors: rgb(200,170,205) rgb(200,170,205) transparent;
  -moz-border-right-colors: rgb(200,170,205) rgb(200,170,205) transparent;
  background:rgb(255,250,255);
  height:26px; /* change this in conjunction with script.js's ScriptBoxMarginTop */
  vertical-align:bottom;
  -moz-border-radius-topright:4px;
  -moz-border-radius-topleft:4px;
}
.seltab {
  color:blue !important;
  border-bottom:none !important;
  background:rgb(255,243,255) !important;
}
.tabDisabled {
  color:rgb(210,210,210) !important;
}
.scriptboxPinnedSelTab {
  background:rgb(248,248,241) !important;
}
.tabTexts {
  -moz-border-top-colors:   rgb(200,170,205) rgb(235,50,80) transparent;
}
.tabComms {
  -moz-border-top-colors:   rgb(200,170,205) rgb(175,145,230) rgb(100,100,255);
}
.tabDicts {
  -moz-border-top-colors:   rgb(200,170,205) rgb(226,212,102) rgb(255,255,0);
}
.tabGenbks {
  -moz-border-top-colors:   rgb(200,170,205) rgb(150,207,225) rgb(100,245,245);
}
.scriptPin {
  position:absolute;
  top:10px;
  z-index:2;
}
.scriptPin[chromedir=ltr] {
  left:0px;
}
.scriptPin[chromedir=rtl] {
  right:0px;
}

/* BOUNDARY BAR */
.boundary {
  position:relative;
  margin-bottom:10px;
  border:1px outset rgb(150,150,150); 
  background:rgb(233,233,233); 
  height:4px;
  -moz-border-radius:4px;
  cursor:N-resize;
  z-index:2;
  margin-left:60px;
  margin-right:62px;
}
.boundaryHi {
  border:1px dashed rgb(150,150,150); 
  background:none; 
  height:1px;
  cursor:N-resize;
  z-index:8;
  position:absolute;
  visibility:hidden;
}



/* NOTEBOX */
.notebox {
  font-size:12px;
  overflow:auto;
	background:rgb(240,235,240);
	border:2px solid rgb(150,150,150);
	padding-left:20px; 
  padding-right:20px;
  padding-top:4px;
  padding-bottom:4px;
  margin-right:10px;
  margin-left:10px;
  -moz-border-radius:8px;
  z-index:2;
}
.normalNote {
  padding-right:16px;
  border:1px solid transparent;
  -moz-border-radius:8px;
}
.selectedNote {
  padding-right:16px;
  border:1px outset yellow;
  background:rgb(255,243,255);
  -moz-border-radius:8px;
  cursor:pointer;
}
.fntable {
  border-collapse:separate;
  border-spacing:0px 1px;
}
.fncol1 {
  display:table-cell; 
  width:10px;
  vertical-align:top;
  padding-top:8px;
  padding-right:0px;
}
.fncol2 {
  visibility:hidden;
  display:table-cell; 
  vertical-align:top;
  padding-top:12px;
  padding-right:0px;
}
.fndash {
  width:10px; 
  height:2px; 
  border-top:1px solid rgb(150,150,150);
}
.fncol3 {
  visibility:hidden;
  width:6px;
  display:table-cell;
  border-top:1px solid rgb(150,150,150);
  border-bottom:1px solid rgb(150,150,150);
}
.fncol3LTR {
  border-left:1px solid rgb(150,150,150);
}
.fncol3RTL {
  border-right:1px solid rgb(150,150,150);
}
.fncol4 {
  padding-left:4px;
  display:table-cell;
  white-space:nowrap;
}
.fncol5 {
  display:table-cell;
  padding-left:4px;
}
.noteBoxUserNote {
  font-style:italic;
}
.dictionarylist {
  position:absolute;
  left:0px;
  right:0px;
  top:4em;
  bottom:0px;
  -moz-padding-start:20px;
  overflow:auto;
}
.selectedkey {
  background:highlight;
  color:white;
}


/* CONNECTOR */
.connector {
  border-top:1px solid rgb(200,170,205);
  border-bottom:1px solid rgb(200,170,205);
  border-right:1px solid rgb(230,200,235);
  background:rgb(240,215,240);
  z-index:0;
  position:absolute;
  visibility:hidden;

}
.connector[chromedir=ltr] {
  right:0px;
}
.connector[chromedir=rtl] {
  left:0px;
}


/* CHOOSER PARAMETERS */
.testamentchooser {
  position:absolute; 
  cursor:pointer;
  z-index:1;
}
div[chromedir=ltr] #chooseNT {
  -moz-border-radius-bottomleft: 8px;
}
div[chromedir=rtl] #chooseNT {
  -moz-border-radius-bottomright: 8px;
}
div[chromedir=ltr] #chooseOT {
  -moz-border-radius-topleft: 8px;
}
div[chromedir=rtl] #chooseOT {
  -moz-border-radius-topright: 8px;
}
.testheading {
  width:18px;
  color:rgb(0,0,100);
  background:rgb(233,233,233);
  border:1px outset grey;
  text-align:center;
  z-index:1;
}
.chooser {
  background:rgb(255,230,255);
  border:1px outset rgb(200,200,200);
  -moz-border-start:1px solid rgb(150,150,150);
  cursor:pointer;
  position:absolute;
  visibility:hidden;
}
div[chromedir=ltr] .chooser {
  -moz-border-radius-topright:8px;
  -moz-border-radius-bottomright:8px;
}
div[chromedir=rtl] .chooser {
  -moz-border-radius-topleft:8px;
  -moz-border-radius-bottomleft:8px;
}
.bookname {
  height:20px;
  white-space:nowrap;
  overflow:hidden;
  background:rgb(233,233,233);
  font-size:13px;
  color:rgb(0,0,100);
  border:1px outset black;
  -moz-padding-start:10px;
  -moz-padding-end:30px;
  margin:2px;
  -moz-border-radius:6px;
}
.disabledBook {
  /*background:rgb(250,250,250) !important;*/
  background:rgb(225,225,225) !important;
  color:rgb(150,150,150) !important;
  border:1px inset black !important;
}
.booknamepoint {
  background:yellow;
}
.booknameshowing {
  background:rgb(230,200,255);
}
.chapterarrow {
  width:20px;
  position:absolute; 
  top:-16px;
}
div[chromedir=ltr] .chapterarrow {
  right:-32px;
}
div[chromedir=rtl] .chapterarrow {
  left:-32px;
}
.chapterpopuph {
  visibility:hidden;
  overflow:hidden;
  width:4px;
  position:absolute;
}
.chapterpopup {
  visibility:visible;
  overflow:visible;
  border-collapse:separate;
  border-spacing:3px 1px;
  border-spacing:0px 0px;
  z-index:3;
  position:absolute;
  -moz-border-start:6px solid transparent;
}
div[chromedir=ltr] .chapterpopup {
  left:0px;
}
div[chromedir=rtl] .chapterpopup {
  right:96%;
}
.chapsubtable {
  overflow:hidden;
  width:200%;
  background:rgb(255,243,255);
  background:transparent;
  clear:both;
  z-index:3;
}
div[chromedir=ltr] .chapsubtable {
  float:left;
}
div[chromedir=rtl] .chapsubtable {
  float:right;
}
.chapmenucell {
  display:table-cell;
  width:26px;
  font-size:12px;
  background:rgb(233,233,233);
  border:1px outset rgb(255,243,255);
  color:blue;
  text-align:center;
  z-index:3;
  padding:2px;
}
div[chromedir=ltr] .chapmenucell {
  float:left;
}
div[chromedir=rtl] .chapmenucell {
  float:right;
}
.chapmenucellhigh {
  background:yellow;
  border:1px inset rgb(255,243,255);
}
.hpopup {
  white-space:nowrap;
  font-size:13px;
  -moz-padding-start:20px;
  -moz-padding-end:20px;
  padding-top:10px;
  padding-bottom:10px;
  border:1px outset black;
  background:rgb(233,233,233);
  -moz-border-radius:6px;
  z-index:6;
  position:absolute; 
}
.hpopupSH {
  background:black;
  opacity:.35;
  -moz-border-radius:8px;
  z-index:5; 
  position:absolute; 
}
.fader {
  z-index:7; 
  position:absolute; 
  opacity:.5;
}
div[chromedir=ltr] .fader {
  left:0px;
}
div[chromedir=rtl] .fader {
  right:0px;
}
.chooserhole {
  -moz-border-start:2px solid rgb(175,145,180);
  -moz-border-end:2px solid rgb(225,195,230);
  -moz-border-radius:8px;
  background:white;
  position:absolute;
  z-index:0;
}
.chooserholet {
  z-index:8; 
  height:2px;
  border-top:2px solid rgb(175,145,180);
  position:absolute;
  -moz-border-radius:8px;
}
.chooserholeb {
  z-index:8;
  height:2px;
  border-bottom:2px solid rgb(225,195,230);
  position:absolute;
  -moz-border-radius:8px;
}
.chbut {
  z-index:10;
  position:absolute;
}
div[chromedir=ltr] #chbutClose {
  left:20px;
}
div[chromedir=rtl] #chbutClose {
  right:20px;
}
div[chromedir=ltr] #chbutOpen {
  top:30px;
  left:8px;
}
div[chromedir=rtl] #chbutOpen {
  top:30px;
  right:8px;
}


/* Search HTML Window */
.searchres {
  background:white;
  white-space:nowrap;
  font-size:14px;
  color: rgb(100,100,100);
  -moz-padding-start:20px;
  -moz-padding-end:20px;
  padding-top:20px;
  padding-bottom:20px;
  cursor:default;
}
.searchterm {
  color:red;
}
.matchverse {
}

/* Help/About window */
.moduleinfo {
  font-size:14px;
}

.moreinfo {
  font-size:14px;
  direction:ltr;
  margin-top:1em;
  overflow:auto; 
  height:200px;
  width:100%;
  border:2px solid rgb(77,37,143); 
  -moz-border-radius:8px; 
  display:none;
}

/* Styles for HTML or ThML pages */
h1 {
  line-height:100%;
}
