/* Header Links */
.navlink {
  color:blue;
  margin: 10px;
  text-align:center;
  cursor:default;
}
.navlink-span {
  font-family:ariel;
}
.prevchaplink, .nextchaplink {
  cursor:pointer;
}
.text[CanDoPreviousPage="false"] .prevchaplink,
.text[CanDoNextPage="false"] .nextchaplink {
  color:grey;
  cursor:default;
}
.prevchaplink:hover, .nextchaplink:hover {
  border-bottom:1px solid blue;
}
.text[CanDoPreviousPage="false"] .prevchaplink:hover,
.text[CanDoNextPage="false"] .nextchaplink:hover {
  border-bottom:none;
}

/* Bible & Commentary chapter/page header */
.chapterhead {
  padding-top:26px;
}
.noticelink-c {
  font-size:1.4em;
  margin:0px 10px 10px 10px;
  text-align:center;
}
.noticelink-c[empty="true"] {
  display:none;
}
.noticelink {
  border-bottom:1px solid blue;
  color:blue;
  cursor:pointer;
}
.chaptitle {
  float:left;
  font-size:2em;
  font-weight:bold;
  color:rgb(110,85,110);
}
.chapterhead[headdir="rtl"] .chaptitle {
  float:right;
}
.chapbk, .chapch {
  white-space:nowrap;
}
.chapbk {
  display:none;
  margin-bottom:0.5em;
}
.chapterhead.chapterfirst .chapbk {
  display:block;
}
#text[pin="pinned"] .chapbk {
  display:block;
}
.chapinfo {
  float:right;
  min-width:60px;
  color:rgb(110,85,110);
}
.chapterhead[headdir="rtl"] .chapinfo {
  float:left;
}
.listenlink {
  visibility:hidden;
  display:inline-block;
  background:url('chrome://xulsword/skin/images/listen0.png');
  width:45px;
  height:37px;
}
.listenlink:hover {
  background:url('chrome://xulsword/skin/images/listen1.gif');
  cursor:pointer;
}
.introlink {
  font-size:1.4em;
  border-bottom:1px solid blue;
  color:blue;
  cursor:pointer;
}
.introlink[empty="true"] {
  display:none;
}
.head-line-break {
  clear:both;
  margin-bottom:30px;
}

/* Interlinear display */
.interB {
  margin-top:16px;
  margin-bottom:16px;
}
.interS {
  width:50px;
  border-top:1px solid blue;
  margin-top:4px;
  margin-bottom:4px;
}

/* Script box styles */
.head1 {
  font-size:1.6em;
  color:rgb(110,85,110);
  font-weight:bold;
  text-align:center;
  margin-bottom:1em;
  margin-top:1em;
  clear:both;
}
.head2 {
  font-size:1.3em;
  color:rgb(110,85,110);
  font-weight:bold;
  margin-bottom:0.5em;
  clear:both;
}
.canonical {
  font-style:italic;
}
.divine {
  font-size: 1.3em;
	color: black;
}
.versenum {
  vertical-align:top;
}
.cr:after, 
.cr-x-parallel-passage:after,
.cr-x-style1:after,
.fn:after,
.un:after {
  vertical-align:top;
  font-family:'Arial' !important;
  font-size-adjust:0.55 !important;
  line-height:100% !important;
  cursor:pointer;
}
.cr:after {
  content: "\00D7 ";
  color:rgb(255,0,0);
}
.cr-x-parallel-passage:after {
  content: "\25CF ";
  color:rgb(255,0,0);
}
.cr-x-style1:after {
  content: "+ ";
  color:rgb(255,0,0);
}
.fn:after {
  content: "\00D7 ";
  color:rgb(0,200,250);
}
.un:after {
  content: "\00D7 ";
  color:rgb(0,0,200);
}
.sr {
	border-bottom:1px solid blue;
  cursor:pointer;
}
/* user note highlight */
.unverse {
  background:rgb(255,255,140);
}
.dt {
  border-bottom:1px solid black;
  cursor:pointer;
}
.genbknote {
  color:blue;
}
/* Words with Strong's number attached */
.sn {
  border-bottom: 1px solid rgb(220,195,220); /*(240,215,240);*/
  cursor:pointer;
}
.matchingStrongs {
  background:yellow;
}
.wordsOfJesus {
  color:red;
}
/* selected verse highlight */
.sb .hl {
  color:blue;
}

/* Bible footnotes */
.fntable {
  display:table;
  border-collapse:separate;
  border-spacing:0px 1px;
  margin:0px 0px 0px 10px;
}
.popup-text .fntable {
  width:100%;
}
.fnrow {
  display:table-row;
  padding-right:16px;
}
.text[textdir="rtl"] .fnrow {
  padding-right:0px;
  padding-left:16px;
}
.fncol1 {
  display:table-cell; 
  width:6px;
  vertical-align:top;
  padding-top:8px;
}
.crtwisty {
  width:9px;
  height:9px;
  background:url(chrome://xulsword/skin/images/twisty-open.png);
  position:relative;
  top:-2px;
}
.cropened .crtwisty {
  background:url(chrome://xulsword/skin/images/twisty-close.png);
}
.fncol2 {
  display:table-cell; 
  visibility:hidden;
  vertical-align:top;
  padding-top:12px;
}
.fndash {
  width:6px; 
  height:2px; 
  border-top:1px solid rgb(150,150,150);
}
.fncol3 {
  display:table-cell;
  visibility:hidden;
  width:6px;
  border-top:1px solid rgb(150,150,150);
  border-left:1px solid rgb(150,150,150);
  border-bottom:1px solid rgb(150,150,150);
}
.cropened .fncol2, 
.cropened .fncol3 {
  visibility:visible;
}
.text[textdir="rtl"] .fncol3,
.popup-text[textdir="rtl"] .fncol3 {
  border-left:none;
  border-right:1px solid rgb(150,150,150);
}
.fncol4 {
  display:table-cell;
  text-align:right;
  white-space:nowrap;
}
.text[textdir="rtl"] .fncol4,
.popup-text[textdir="rtl"] .fncol4 {
  text-align:left;
}
.fnlink {
  color:blue;
}
.fnlink:hover {
  border-bottom:1px solid blue;
  cursor:pointer;
}
#npopup .fntable {
  margin:0px 0px 0px 0px;
}
#npopup .fndash {
  border-top:none;
}
#npopup .fncol3,
#npopup .fncol4 {
  display:none;
}
.fncol5 {
  display:table-cell;
  padding:0px 4px 0px 4px;
  border:1px solid transparent;
  border-radius:8px;
}
.crref {
  color:blue;
}
.crref:hover {
  border-bottom:1px solid blue;
  cursor:pointer;
}
.cropened .crref:after {
  content:": ";
}
.crtext {
  display:none;
}
.cropened .crtext {
  display:inline;
}
.cropened .crsep {
  display:block;
}
.crclosed .crsep {
  display:inline;
}
.crclosed .crsep:after {
  content:"; ";
}
.fnselected .fncol5 {
  border:1px outset yellow;
  background:rgb(255,243,255);
}
.noteBoxUserNote {
  font-style:italic;
}

/* Strong's numbers dictionary entry display */
.lemma-header {
  font-weight:bold;
}
.lemma-sep {
  border-top:3px outset black;
}
/* Dictionary styles */
.dictentry {
  display:table;
  height:100%;
  width:100%;
}
.dictentry > div {
  display:table-cell;
  vertical-align:middle;
}
.dictlist {
  position:relative;
  height:100%;
}
.dictlist .textboxparent {
  position:absolute;
  margin-right:20px;
  -moz-padding-start:20px;
  left:0px;
  right:0px;
  top:0px;
  height:3em;
}
.dictlist input {
  width:100%;
  margin-top:1em;
}
.dictlist .keylist {
  position:absolute;
  left:0px;
  right:0px;
  top:4em;
  bottom:0px;
  -moz-padding-start:20px;
  overflow:auto;
}
.dictlist .key {
  cursor:pointer;
}
.dictselectkey {
  background:highlight;
  color:white;
}
.dtl, .sr {
  color:blue;
}
.dtl:hover, .sr:hover {
  border-bottom:1px solid blue;
  cursor:pointer;
}
.dict-description {
  font-weight:bold;
}
.dict-key-heading {
  font-weight:bold;
}
.dict-image-container {
  text-align:center;
}
