#viewportbody {
  font-family:'arial';
  font-size:12px;
  padding-top:0px; /* used in viewport.js */
  -moz-padding-end:0px;
  padding-bottom:14px; /* used in viewport.js */
  -moz-padding-start:0px;
  margin:0px;
  overflow:hidden;
  background:url(chrome://xulsword/skin/images/b2.gif);
}

#viewport {
  display:table;
  height:600px;
}
#viewport > div {
  display:table-cell;
  vertical-align:top;
}

#tabrow {
  display:block;
  width:100%;
  padding-top:14px;
}
#tabrow > div {
  display:table;
  width:100%;
}
.tabs {
  display:table-cell;
  padding:0px 20px 0px 20px;
  position:relative;
  white-space:nowrap;
  z-index:2;
  text-align:right;
}
#tabrow[value="show1"] #tabs1 {
  width:100%;
}
#tabrow[value="show1"] #tabs2,
#tabrow[value="show1"] #tabs3 {
  display:none;
}
#tabrow[value="show2"] #tabs1, 
#tabrow[value="show2"] #tabs2 {
  width:50%;
}
#tabrow[value="show2"] #tabs3 {
  display:none;
}
#tabrow[value="show3"] #tabs1, 
#tabrow[value="show3"] #tabs2,
#tabrow[value="show3"] #tabs3 {
  width:33%;
}
.tab {
  position:relative;
  top:2px;
  font-size:10px;
  color:grey;
  margin-left:3px;
  margin-right:3px;
  border:3px solid;
  border-bottom:2px solid rgb(200,170,205);
  -moz-border-left-colors:  rgb(200,170,205) rgb(200,170,205) transparent;
  -moz-border-right-colors: rgb(200,170,205) rgb(200,170,205) transparent;
  background:rgb(255,250,255);
  height:23px;
  vertical-align:bottom;
  -moz-border-radius-topright:4px;
  -moz-border-radius-topleft:4px;
}
.multitab {
  position:relative;
  display:inline;
  border:1px solid transparent;
}
.multitab > div {
  position:absolute;
  top:-8px;
  height:22px;
}
.multitab > select {
  text-align:center;
  padding-top:2px;
}
.multitabTab {
  margin:4px;
  padding-top:2px;
  height:20px;
}
.tab[selected="selected"] {
  color:blue;
  border-bottom:none;
  background:rgb(255,243,255);
}
.tab[pinned="true"] {
  color:rgb(210,210,210);
}
.tab[selected="selected"][pinned="true"] {
  background:rgb(248,248,241);
}
.tabTexts {
  -moz-border-top-colors:   rgb(200,170,205) rgb(235,50,80) transparent;
}
.tabComms {
  -moz-border-top-colors:   rgb(200,170,205) rgb(175,145,230) rgb(100,100,255);
}
.tabDicts {
  -moz-border-top-colors:   rgb(200,170,205) rgb(226,212,102) rgb(255,255,0);
}
.tabGenbks {
  -moz-border-top-colors:   rgb(200,170,205) rgb(150,207,225) rgb(100,245,245);
}

#textrow {
  display:table;
  width:100%;
  border-collapse:separate;
  border-spacing:14px 0px;
}

.hd {
  position:relative;
  width:100%;
  text-align:center;
  height:30px; /* used in viewport.js */
}
.sbpin {
  position:absolute;
  top:-23px;
  left:0px;
  width:28px;
  height:37px;
  background:url(chrome://xulsword/skin/images/pushpin0.png);
}
.text[pin="pinned"] .sbpin {
  background:url(chrome://xulsword/skin/images/pushpin1.png);
}
.sbpin:hover {
  background:url(chrome://xulsword/skin/images/pushpin2.png);
}
.text[pin="hide"] .sbpin {
  visibility:hidden;
}

.text {
  display:table-cell;
  vertical-align:top;
  font-size: 14px;
	background:rgb(255,243,255);
	color: black;
	border:2px solid rgb(200,170,205);
  -moz-border-radius:8px;
}
.text[pin="pinned"] {
  background:rgb(248,248,241);
}
.text[value="show1"] {
  width:30%;
}
.text[value="show2"] {
  width:60%;
}
.text[value="show3"] {
  width:90%;
}
.text[value=""], .text[value="hide"], .text:not([value]) {
  display:none !important;
}
.text[pin="pinned"] {
  background:rgb(248,248,241);
}

.sb {
  height:600px; /* used in viewport.js */
}
.text[value="show1"] .sb {
  overflow:auto;
  padding-left:30px;
  padding-right:30px;
}
#text1[value="show1"][foot^="show"] .sb {
  margin-bottom:200px; /* used in viewport.js */
  height:400px; /* used in viewport.js */
}
#text2[value="show1"][foot^="show"] .sb {
  margin-bottom:200px; /* used in viewport.js */
  height:400px; /* used in viewport.js */
}
#text3[value="show1"][foot^="show"] .sb {
  margin-bottom:200px;
  height:400px;
}
.text[value="show2"] .sb {
  overflow:hidden;
  padding-left:30px;
  padding-right:30px;
  -moz-columns:2;
  -moz-column-rule:40px solid rgb(240,215,240);
  -moz-column-gap:100px;
}
.text[value="show3"] .sb {
  overflow:hidden;
  padding-left:30px;
  padding-right:30px;
  -moz-columns:3;
  -moz-column-rule:40px solid rgb(240,215,240);
  -moz-column-gap:100px;
}

.nbc {
  position:relative;
  width:100%;
}
.text[foot="hide"] .nbc {
  display:none;
}

.bb {
  position:relative;
  margin-bottom:10px;
  border:1px outset rgb(150,150,150); 
  background:rgb(233,233,233); 
  height:4px;
  -moz-border-radius:4px;
  cursor:N-resize;
  z-index:2;
  margin-left:60px;
  margin-right:62px;
}
.bb[active="true"] {
  border:1px dashed rgb(150,150,150); 
  background:none; 
  height:1px;
  cursor:N-resize;
  z-index:8;
}

.nbsizer {
  position:absolute;
  top:0px;
  right:0px;
  background:url(chrome://xulsword/skin/images/max.bmp);
  width:15px;
  height:14px;
}
.text[value="showmax"] .nbsizer {
  background:url(chrome://xulsword/skin/images/norm.bmp);
}
.nb {
  position:absolute;
  bottom:0px;
  right:0px;
  z-index:20;
  
  font-size:12px;
  overflow:auto;
	background:rgb(240,235,240);
	border:2px solid rgb(150,150,150);
	padding:4px 20px 4px 20px; 
  margin-right:10px;
  margin-left:10px;
  -moz-border-radius:8px;
}
#note1 {
  height:200px; /* used in viewport.js */
}
#note2 {
  height:200px; /* used in viewport.js */
}
#note3 {
  height:200px; /* used in viewport.js */
}
.text[value="show1"] .nb {
  width:100%;
}
.text[value="show2"] .nb {
  width:50%;
}
.text[value="show3"] .nb {
  width:33%;
}
.text[foot="showmax"]:not([value="show1"]) .nb {
  height:600px; /* used in viewport.js */
}
