.bmmanager {
  height: 100%;
  padding: 8px;
  overflow: hidden;
}
.bmmanager .items {
  padding: 1px;
}
.bmmanager .tables .groupbox-body {
  position: relative;
  padding: 0;
}
.bmmanager .tables .treeview,
.bmmanager .tables .table {
  position: absolute;
  height: 100%;
  width: 100%;
}
.bmmanager .groupbox {
  margin-bottom: 15px;
}

.bmmanager .search {
  margin: 0 8px;
}
.bmmanager > div .folders,
.bmmanager .folders .groupbox-body,
.bmmanager .folders .treeview,
.bmmanager > div .items {
  height: calc(100% - 10px);
}
.bmmanager .folders .treeview {
  overflow: auto;
  font-size: 12px;
}
.bmmanager .label-cell > * {
  margin-inline-end: 6px;
}
.bmmanager .folders .bmicon {
  margin-inline-start: 0;
  margin-inline-end: 5px;
}
.bmmanager .dragsizer {
  margin: 0;
}
.bmmanager .indent {
  display: inline-block;
  width: 6px;
}

.bmmanager .is-cut {
  color: red;
}
.bmmanager .is-copy {
  color: yellow;
}
