.bmmanager {
  height: 100%;
  padding: 8px;
  overflow: hidden;
}
.bmmanager .items {
  padding: 1px;
}
.bmmanager .tables .groupbox-body {
  position: relative;
  padding: 0;
}
.bmmanager .tables .treeview,
.bmmanager .tables .table {
  position: absolute;
  height: 100%;
  width: 100%;
}
.bmmanager .search {
  margin: 0 8px;
}
.bmmanager .folders .treeview {
  overflow: auto;
  font-size: 12px;
}
.bmmanager .label-cell > * {
  margin-inline-end: 6px;
}
.bmmanager .folders .bmicon {
  margin-inline-start: 0;
  margin-inline-end: 5px;
}
.bmmanager .dragsizer {
  height: calc(100% - 20px);
  margin: 15px 0 0 0;
}
.bmmanager .indent {
  display: inline-block;
  width: 6px;
}
.bmmanager .is-cut {
  opacity: 0.5;
}
.bmmanager .is-copy {
  font-weight: bold;
}
