.bookselect {
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
}
.bookselect:focus-within .stack > div:first-child {
  outline: rgba(45, 114, 210, 0.6) auto 2px;
  outline-offset: 2px;
  -moz-outline-radius: 6px;
}

.bookselect .stack {
  width: 100%;
  height: fit-content;
}

.bookselect .stack > div {
  padding: 3px 3px 3px;
  padding-inline-start: 4px;
}
.bookselect .stack > div:first-child,
.bookselect .stack > div:first-child > .menulist {
  width: 100%;
}
.bookselect .stack > div:nth-child(2) {
  height: 100%;
}
.bookselect .spacer {
  width: 24px;
  min-width: 24px;
}

.bookselect .textbox,
.bookselect .menulist {
  height: auto;
  margin: 0px;
  padding: 0px;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  border: none;
  border-radius: unset;
  padding-inline-start: unset;
}

.bookselect input {
  z-index: 3;
  border: none;
}
.bookselect input:focus-visible {
  outline: transparent;
}

.bookselect select {
  width: 100%;
  padding-inline-end: 18px;
  z-index: 2;
  border: none;
  background-color: white;
  padding-inline-start: 10px;
}
.bookselect select:focus-visible {
  outline: transparent;
}
