.xsbutton {
  margin: 1px 5px 2px 5px;
  border: 1px solid;
  border-radius: 4px;
  border-top-color: ThreeDHighlight;
  border-right-color: ThreeDLightShadow;
  border-bottom-color: ThreeDLightShadow;
  border-left-color: ThreeDHighlight;
  background-color: white;
  color: ButtonText;
  text-shadow: none;
}

.xsbutton {
  font-size: 11px;
}

.xsbutton .button-box {
  border: 1px solid transparent;
}

.xsbutton .button-icon {
  display: none;
}

.xsbutton .button-text {
  display: inline-block;
  padding: 0px;
}
.xsbutton:not(.orient-vertical) .button-text {
  padding-left: 4px;
  padding-right: 0px;
}

.xsbutton:not(.orient-vertical).xuldir-reverse .button-text {
  padding-left: 0px;
  padding-right: 4px;
}
.xsbutton.orient-vertical .button-text {
  padding-top: 4px;
  padding-bottom: 0px;
}

.xsbutton.orient-vertical.xuldir-reverse .button-text {
  padding-top: 0px;
  padding-bottom: 4px;
}

.xsbutton:active {
  background-color: lightgrey;
}

/* .......... focused state .......... */

.xsbutton:focus .button-box {
  border: 1px dotted rgb(226, 159, 34);
}

/* .......... active/open/checked state .......... */

.xsbutton:hover:active,
.xsbutton.open,
.xsbutton.checked {
  border-top-color: ThreeDLightShadow;
  border-right-color: ThreeDLightShadow;
  border-bottom-color: ThreeDLightShadow;
  border-left-color: ThreeDLightShadow;
  color: ButtonText;
}

/* .......... disabled state .......... */

.xsbutton.disabled,
.xsbutton.disabled:hover:active {
  border-top-color: ThreeDHighlight;
  border-right-color: ThreeDLightShadow;
  border-bottom-color: ThreeDLightShadow;
  border-left-color: ThreeDHighlight;
  color: GrayText;
}

/* ::::: menu/menu-button buttons ::::: */

.xsbutton .menu {
  position: relative;
  left: 50%;
}
