button {
  margin: 1px 5px 2px 5px;
  border: 1px solid;
  border-radius: 4px;
  border-top-color: ThreeDHighlight;
  border-right-color: ThreeDLightShadow;
  border-bottom-color: ThreeDLightShadow;
  border-left-color: ThreeDHighlight;
  background-color: white;
  color: ButtonText;
  text-shadow: none;
}

button {
  font-size: 11px;
}

.button-box {
  border: 1px solid transparent;
}

.button-icon {
  display: none;
}

.button-text {
  display: inline-block;
  padding: 0px;
}
button:not(.orient-vertical) .button-text {
  padding-left: 4px;
  padding-right: 0px;
}

button:not(.orient-vertical).xuldir-reverse .button-text {
  padding-left: 0px;
  padding-right: 4px;
}
button.orient-vertical .button-text {
  padding-top: 4px;
  padding-bottom: 0px;
}

button.orient-vertical.xuldir-reverse .button-text {
  padding-top: 0px;
  padding-bottom: 4px;
}

button:active {
  background-color: lightgrey;
}

/* .......... focused state .......... */

button:focus .button-box {
  border: 1px dotted rgb(226, 159, 34);
}

/* .......... active/open/checked state .......... */

button:hover:active,
button.open,
button.checked {
  border-top-color: ThreeDLightShadow;
  border-right-color: ThreeDLightShadow;
  border-bottom-color: ThreeDLightShadow;
  border-left-color: ThreeDLightShadow;
  color: ButtonText;
}

/* .......... disabled state .......... */

button.disabled,
button.disabled:hover:active {
  border-top-color: ThreeDHighlight;
  border-right-color: ThreeDLightShadow;
  border-bottom-color: ThreeDLightShadow;
  border-left-color: ThreeDHighlight;
  color: GrayText;
}

/* ::::: menu/menu-button buttons ::::: */

.button .menu {
  position: relative;
  left: 50%;
}
