.dragsizer {
  margin: 6px;
  background: rgb(233, 233, 233);
  border: 1px outset rgb(150, 150, 150);
  border-radius: 4px;
  z-index: 80;
}

.dragsizer.dragging {
  border: 1px dashed rgb(150, 150, 150);
  background: rgb(233, 233, 20);
}

.dragsizer.vertical {
  width: 4px;
  height: 100%;
  cursor: e-resize;
}

.dragsizer.horizontal {
  width: 100%;
  height: 4px;
  cursor: n-resize;
}
