.pdf-preview,
.printoverlay,
.pageView {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.pageView {
  overflow: visible; /* make overlay shadow visible */
}

.pdf-preview iframe {
  width: 100%;
}

.scale {
  transform-origin: top left;
}

.content {
  position: relative; /* for overlay */
  background: white;
}

@media print {
  .printoverlay > *:not(.pageView-container),
  #overlay {
    display: none !important;
  }

  /* IMPORTANT: flex display breaks print paging! */
  .printoverlay,
  .pageView-container,
  .pageView,
  .scale,
  .content,
  .printContainer {
    display: block !important;
  }

  html,
  body,
  #root,
  .pageable.printoverlay,
  .pageable .pageView-container,
  .pageable .pageView,
  .pageable .scale,
  .pageable .content,
  .pageable .printContainer {
    overflow: visible !important;
  }
}
