.printsettings {
  width: fit-content;
}
.printsettings .textbox {
  width: 3em;
  text-align: right;
}
.printsettings #landscape svg {
  transform: rotate(90deg) scaleX(-1);
}
.printsettings .margins .hbox:nth-child(2) > .hbox:nth-child(1) svg {
  transform: rotate(-90deg);
}
.printsettings .margins .hbox:nth-child(2) > .hbox:nth-child(3) svg {
  transform: rotate(90deg);
}
.printsettings .margins .hbox:nth-child(3) svg {
  transform: scaleY(-1);
}
.printsettings .margins .spacer {
  width: 40px;
}

.printsettings .groupbox,
.printsettings .button {
  z-index: 1; /* required during full screen for some reason */
}

.print-pageable-text {
  height: 100%;
  overflow: hidden;
  scroll-snap-type: x mandatory;
}
.print-pageable-text > * {
  scroll-snap-align: start;
}

.html-page {
  position: relative;
}
.page-buttons {
  position: absolute;
  bottom: 0px;
}

@media print {
  .page-buttons {
    display: none !important;
  }

  .print-pageable-text {
    overflow: unset !important;
  }
}
