.printsettings-container {
  margin-inline-end: -5px;
}
.printsettings {
  width: fit-content;
}
.printsettings .textbox {
  width: 3em;
  text-align: right;
}
.printsettings #landscape svg {
  transform: rotate(90deg) scaleX(-1);
}
.printsettings .margins .hbox:nth-child(2) > .hbox:nth-child(1) svg {
  transform: rotate(-90deg);
}
.printsettings .margins .hbox:nth-child(2) > .hbox:nth-child(3) svg {
  transform: rotate(90deg);
}
.printsettings .margins .hbox:nth-child(3) svg {
  transform: scaleY(-1);
}
.printsettings .margins .spacer {
  width: 40px;
}

.printsettings .groupbox,
.printsettings .button {
  z-index: 1; /* required during full screen for some reason */
}

.pageView {
  position: relative;
}
.page-buttons {
  position: absolute;
  bottom: 0px;
}
.page-buttons .label-container {
  position: relative;
}
.page-buttons .label-container .label {
  position: absolute;
  top: -9px;
}

.pageable .printContainer {
  height: 100%;
  overflow: hidden;
}

#adjustLastColumn {
  width: 200%;
  border: 1px solid transparent;
}

@media print {
  .page-buttons,
  #adjustLastColumn,
  .bp4-toast {
    display: none !important;
  }

  .pageable .printContainer {
    overflow: unset !important;
  }
}
