.pdf-preview,
.html-preview,
.html-page {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.html-page {
  overflow: visible; /* make overlay shadow visible */
}

.pdf-preview iframe {
  width: 100%;
}

.scale {
  transform-origin: top left;
}

.content {
  position: relative; /* for overlay */
  display: grid;
  background: white;
}

.print-settings {
  padding: 10px 10px 10px 0;
  margin-inline-start: -5px;
}

@media print {
  .print-settings,
  .spacer,
  #overlay {
    display: none !important;
  }

  /* IMPORTANT: flex display breaks print paging! */
  .html-preview,
  .preview-flex,
  .content {
    display: block !important;
  }

  html,
  body,
  #root,
  .html-preview,
  .html-page,
  #reset {
    overflow: unset !important;
  }
}
