.printsettings .groupbox-body > div > * {
  margin-bottom: 10px;
}
.printsettings .textbox {
  width: 3em;
  text-align: right;
}
.printsettings #landscape svg {
  transform: rotate(90deg) scaleX(-1);
}
.printsettings .margins .hbox:nth-child(2) > .hbox:nth-child(1) svg {
  transform: rotate(-90deg);
}
.printsettings .margins .hbox:nth-child(2) > .hbox:nth-child(3) svg {
  transform: rotate(90deg);
}
.printsettings .margins .hbox:nth-child(3) svg {
  transform: scaleY(-1);
}
.printsettings .margins .spacer {
  width: 40px;
}

.printsettings .groupbox,
.printsettings .button {
  z-index: 1; /* required during full screen for some reason */
}

.content {
  position: relative; /* for overlay */
  display: grid;
  background: white;
}

.scale {
  transform-origin: left;
}

@media print {
  .printsettings {
    display: none;
  }
}
