.table {
  position: relative;
  width: 100%;
  height: 100%;
}

.table .bp4-table-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: max-content;
}
.table .bp4-table-container:focus {
  outline: none;
}
.table:not(.width-resizable) .bp4-table-container {
  width: 100%;
}

.table .bp4-table-quadrant-scroll-container {
  overflow-x: hidden;
}

/* Without text, reorder-handle is mangled, so needs a workaround */
.bp4-table-column-headers .no-name .bp4-table-column-name,
.bp4-table-column-headers .header-icon .bp4-table-column-name {
  color: transparent;
}
/* header-icon types don't have headings, so remove the extra space */
.bp4-table-column-headers .header-icon .bp4-popover-target {
  position: relative;
  top: 5px;
  left: -10px;
}
.bp4-table-column-headers
  .header-icon.bp4-table-last-in-row
  .bp4-popover-target {
  left: -20px;
}
.bp4-table-column-headers .header-icon .bp4-icon {
  display: block;
  position: absolute;
  top: -24px;
  left: calc(50% - 10px);
}
