.table {
  position: relative;
  width: 100%;
  height: 100%;
}

.table .bp5-table-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: max-content;
}
.table .bp5-table-container:focus {
  outline: none;
}
.table:not(.width-resizable) .bp5-table-container {
  width: 100%;
}

.table .bp5-table-quadrant-scroll-container {
  overflow-x: hidden;
}

.bp5-table-column-headers .no-name .bp5-table-column-name-text,
.bp5-table-column-headers .header-icon .bp5-table-column-name-text {
  height: 30px;
}

/* header-icon types don't have headings, so remove the extra space */
.bp5-table-column-headers .header-icon .bp5-popover-target {
  position: relative;
  top: 5px;
  left: -10px;
}
.bp5-table-column-headers .header-icon .bp5-table-header-content .bp5-icon {
  display: block;
  position: absolute;
  top: -24px;
  left: calc(50% - 10px);
}
.bp5-table-last-in-row .bp5-table-th-menu-container .bp5-icon {
  margin-right: 14px;
}
