.textbox {
  cursor: text;
}

.textbox input,
.textbox textarea {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: none;
  padding: 0px 1px;
  background-color: inherit;
  color: inherit;
  font: inherit;
}

.textbox .contextmenu {
  cursor: default;
}

/* ..... readonly state ..... */

.textbox.readonly {
  background-color: lightgrey;
}

/* ..... disabled state ..... */

.textbox.disabled {
  cursor: default;
  color: GrayText;
}
