.vkselect .menulist {
  height: 100%;
}
.vkselect select {
  height: 100%;
  border: none;
  border-radius: 4px;
  background-color: white;
}

.vkselect > *:not(:first-child) {
  display: inline-block;
}

.vkselect .label label {
  font-weight: bold;
  padding-top: 3px;
  margin-inline-start: 3px;
  margin-inline-end: 2px;
}
.vkselect .dash label {
  margin-inline-start: 1px;
  margin-inline-end: 1px;
}

.vkselect .vk-book {
  margin-inline-start: 1px;
  margin-inline-end: 9px;
}
.vkselect .vk-chapter,
.vkselect .vk-verse,
.vkselect .vk-lastverse,
.vkselect .vk-lastchapter {
  margin-inline-start: 1px;
  margin-inline-end: 1px;
}
.vkselect .vk-vkmod {
  margin-inline-start: 20px;
  margin-inline-end: 0px;
}

.vkselect span.name {
  font-weight: bold;
}
.vkselect span.description {
  margin-inline-start: 2em;
  color: grey;
}
