.vkselect .bschapter,
.vkselect .bsverse,
.vkselect .bslastverse,
.vkselect .bslastchapter,
.vkselect .bsvkmod {
  border-radius: 4px;
  border: 2px solid;
  border-top-color: ThreeDLightShadow;
  border-right-color: ThreeDHighlight;
  border-bottom-color: ThreeDHighlight;
  border-left-color: ThreeDLightShadow;
  background-color: white;
  height: 100%;
}
.vkselect select {
  height: 100%;
  border: none;
  border-radius: 4px;
  background-color: white;
}

.vkselect > *:not(:first-child) {
  margin-inline-start: 5px;
  display: inline-block;
}
.vkselect .bsvkmod {
  margin-inline-start: 20px;
}

.vkselect .label label {
  font-weight: bold;
  padding-top: 3px;
  margin-inline-start: 3px;
  margin-inline-end: 2px;
}
.vkselect .dash label {
  margin-inline-start: 1px;
  margin-inline-end: 1px;
}

.vkselect .bookselect {
  margin: 0;
}
.vkselect menulist.bsbook {
  margin-inline-end: 9px;
}
.vkselect menulist.bschapter,
.vkselect menulist.bsverse,
.vkselect menulist.bslastverse {
  width: 4em;
  margin-inline-start: 1px;
  margin-inline-end: 1px;
}

.vkselect span.name {
  font-weight: bold;
}
.vkselect span.description {
  margin-inline-start: 2em;
  color: grey;
}
