.vkselect .menulist {
  height: 100%;
}
.vkselect select {
  height: 100%;
  border: none;
  background-color: white;
}

.vkselect > *:not(:first-child) {
  display: inline-block;
}

.vkselect .label label {
  font-weight: bold;
  padding-top: 3px;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
}
.vkselect .vk-book {
  margin-inline-end: 10px;
}
.vkselect .vk-chapter select,
.vkselect .vk-lastchapter select,
.vkselect .vk-verse select,
.vkselect .vk-lastverse select {
  width: 3.1em;
}
.vkselect .spacer {
  width: 10px;
}
.vkselect .vk-vkmod {
  margin-inline-start: 10px;
}
.vkselect .vk-book select,
.vkselect .vk-vkmod select {
  width: 150px;
}

.vkselect span.name {
  font-weight: bold;
}
.vkselect span.description {
  margin-inline-start: 2em;
  color: grey;
}
