html,
body,
#root {
  font-family: 'arial';
  color: rgb(40, 40, 40);
  height: 100%;
  margin: 0;
  overflow: hidden;
}
/* UI classes which are dynamically updated */
.userFontSize {
  font-size: 12px;
  text-align: start;
}

/*like userFontSize but NOT dynamically updated */
.fixedFontSize {
  font-size: 12px;
  text-align: start;
}

.RTL {
  direction: rtl;
}
