html {
  font-family: 'arial';
  color: rgb(40, 40, 40);
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
html:not(.dialog) #root {
  background-image: url(../../assets/b2.png);
}
/* UI classes which are dynamically updated */
.userFontSize {
  font-size: 12px;
  text-align: start;
}

/* Same as userFontSize but NOT dynamically updated */
.fixedFontSize {
  font-size: 12px;
  text-align: start;
}

.RTL {
  direction: rtl;
}

/* Label */
.label {
  white-space: nowrap;
}

/* Dialog windows */
html.dialog #root {
  background-color: whitesmoke;
  padding: 4px;
}
html.dialog select {
  height: 2em;
}
html.dialog .dialogbuttons .button {
  font-size: 14px;
  min-width: 80px;
  padding: 3px 0;
}
html.dialog .grid {
  align-items: center;
  justify-items: start;
}

/* Groupbox */
html .groupbox {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
  margin-top: 1em;
}
.groupbox .caption-text {
  background: whitesmoke;
  padding: 0 2px;
}
.groupbox .groupbox-title {
  display: block;
  white-space: nowrap;
  margin-inline-start: -9px;
  margin-top: -0.9em;
  margin-bottom: 4px;
  font-weight: bold;
}
