html,
body,
#root {
  font-family: 'arial';
  color: rgb(40, 40, 40);
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#root {
  background-image: url(../../assets/b2.png);
}
/* UI classes which are dynamically updated */
.userFontSize {
  font-size: 12px;
  text-align: start;
}

/*like userFontSize but NOT dynamically updated */
.fixedFontSize {
  font-size: 12px;
  text-align: start;
}

.RTL {
  direction: rtl;
}

/* Groupbox global */
html .groupbox {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
  margin-top: 1em;
}
.groupbox .caption-text {
  background: whitesmoke;
  padding: 0 2px;
}
.groupbox .groupbox-title {
  display: block;
  white-space: nowrap;
  margin-top: -0.9em;
  margin-bottom: 4px;
  font-weight: bold;
}
