/* GROUPBOX STYLING */
groupbox {
  background:white;
  border:1px solid rgb(200,200,200);
  -moz-border-radius:8px;
}

groupbox caption {
  background:white;
  border-top:1px solid rgb(200,200,200);
  border-left:1px solid rgb(220,220,220);
  border-right:1px transparent;
  border-bottom:none;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-bottomright:5px;
  padding:2px 6px 2px 6px;
}

/* search windows */
toolbar groupbox, #dividerBox {
  margin:0px 14px 0px 0px;
}
